.AnalyticModify input[type="checkbox"] {
    /*margin-right: 5px;*/
    margin: 2px 5px 2px 30px;
}

.AnalyticModify input[type="radio"] {
    margin: 2px 5px 10px 30px;
}

.Bold {
    font-weight: bold;
}

.Privacy {
    margin: 20px 5px;
}

.InfoImage {
    margin: 0px 5px;
}

.TitleLabel {
    font-weight: bold;
    margin: 20px 10px;
}

.UserPanel {
    margin: 10px 5px;
}

.DropdownSelectList {
    margin: 5px 5px 5px 5px;
}

.AnalyticButton {
    margin: 2px 5px 2px 5px;
}
