.ObjectOptionsPanel 
{
    margin-left: 96px;
}

@media only screen and (max-width: 480px) 
{
    .FullDropDownBreadcrumbContainer
    {
        margin-left: 96px;
    }
}

#EnrollmentModifyPageWrapperContainer
{ overflow: auto; }

#SelectCoursesModal
{
    width: 45%;
}