﻿#LeaderboardOptionsContainer 
{
    margin-top: 10px;
    margin-bottom: 15px;
}

#LeaderboardTypeSelector
{
    margin-right: 15px;
}

.LeaderboardTrophyIcon
{
    margin-right: 6px;
}