.MarginOffsetForAdministratorMenu 
{
    margin-left: 48px; /* offset to accomodate administrator menu */
}

#AdminMenu
{
    overflow: hidden;
    height: 100%;  
    background-color: #FCFCFC;
}

#AdminMenu a
{
    color: #777777;
}

#AdministratorMenuCategoryIconsContainer
{
    position: absolute;
    float: left;
    height: 100%;
    background-color: #FCFCFC;
	border-right: none;
	z-index: 9995;
}

.AdministratorMenuCategoryIconsContainerBorderCollapse
{
    border-right: none;
}

.AdministratorMenuCategoryIconContainer
{
    position: relative;
    cursor: pointer;
    padding: 10px 12px;
    border-bottom: none;
}

.AdministratorMenuCategoryIconContainer .MediumIcon 
{
    width: 28px;
    height: 28px;
}

.AdministratorMenuCategoryIconContainer:hover
{
    background-color: #777C82;
}

.AdministratorMenuCategoryIconTooltipContainer
{
    position: absolute;
    width: auto;
    left: 42px;
    background-color: #555555;
    padding: 3px;
    white-space: nowrap;
    border-radius: 3px;
    box-shadow: 0px 0px 7px -2px #000000;
    top: 36px;
    color: #FFFFFF;
    z-index: 1;
}

.AdministratorMenuCategoryIconContainer .AdministratorMenuCategoryIconTooltipContainer 
{
    position: absolute;
    overflow: hidden;
    width: 0px;
    background-color: #595d63;
    padding: 3px 0px;
    white-space: nowrap;
    border-radius: 2px;
    color: #EEEEEE;
    z-index: 1;
    transition: width 0.15s;
    -webkit-transition: width 0.15s;
}

.AdministratorMenuCategoryIconContainer:hover .AdministratorMenuCategoryIconTooltipContainer 
{
    width: 130px;
    padding: 4px 6px;
    box-shadow: 0px 0px 9px -2px #000000;
}

.AdministratorMenuSelectedCategory:hover  .AdministratorMenuCategoryIconTooltipContainer 
{
	padding: 0px;
	width: 0px;
}

.AdministratorMenuSelectedCategory
{
    background-color: #8B9B0F;
}

.AdministratorMenuCategoryMenuItemsContainer
{
    position: absolute;
    float: left;
    left: -596px;
    height: 100%;
    width: calc(100% - 53px);
    max-width: 596px;
    text-align: left;
    z-index: 9994;
	border-right: 2px solid #616161;
	background-color: #FCFCFC;
	border-left: 4px solid #616161;
	box-shadow: inset 46px 0px 20px -40px #bbb;
	
    /* css transitions for menu animation */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.adminMenuGroupExpanded {
    left: 52px;
}

.adminMenuGroupCollapsed {
    left: -596px;
}

.AdministratorMenuCategoryMenuItemsContainer a:hover
{
    text-decoration: none;
}

.AdministratorMenuCategoryMenuItemsHeaderContainer
{
    padding: 10px 20px;
    font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
	font-size: 1.35em;
    font-weight: 300;
    text-transform: uppercase;
	color: #777777;
	border-bottom: 0px;
}

.AdministratorMenuCategoryMenuItem
{
    padding: 10px 20px;
    border-bottom: 1px solid #BDBDBD; 
    color: #666666;
}

.AdministratorMenuCategoryMenuItem img
{
    margin-right: 6px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.AdministratorMenuCategoryMenuItem:hover
{
    background-color: #999999;
    color: #FFFFFF;
}

/* Colorizing Admin Icons */

#System_CategoryIconContainer:hover 
{
    background: #AA3939;
}

#System_CategoryIconContainer.AdministratorMenuSelectedCategory 
{
    background: #AA3939;
}

#System_CategoryMenuItemsHeaderContainer.AdministratorMenuCategoryMenuItemsHeaderContainer 
{
	background: #AA3939;
	color: #FFFFFF;
	box-shadow: inset -190px 0px 130px -70px #E65C5C;
}

#System_CategoryMenuItemsContainer
{
	border-left: 4px solid #AA3939;
}

#UsersAndGroups_CategoryIconContainer:hover  
{
    background: #8a9b0f;
}

#UsersAndGroups_CategoryIconContainer.AdministratorMenuSelectedCategory 
{
    background: #8a9b0f;
}

#UsersAndGroups_CategoryMenuItemsHeaderContainer.AdministratorMenuCategoryMenuItemsHeaderContainer 
{
	background: #8a9b0f;
	color: #FFFFFF;
	box-shadow: inset -190px 0px 130px -70px #B2C714;
}

#UsersAndGroups_CategoryMenuItemsContainer
{
	border-left: 4px solid #8a9b0f;
}

#InterfaceAndLayout_CategoryIconContainer:hover 
{
    background: #e97f02;
}

#InterfaceAndLayout_CategoryIconContainer.AdministratorMenuSelectedCategory 
{
    background: #e97f02;
}

#InterfaceAndLayout_CategoryMenuItemsHeaderContainer.AdministratorMenuCategoryMenuItemsHeaderContainer 
{
	background: #e97f02;
	color: #FFFFFF;
	box-shadow: inset -190px 0px 130px -70px #FFA235; 
}

#InterfaceAndLayout_CategoryMenuItemsContainer
{
	border-left: 4px solid #E97F02;
}

#LearningAssets_CategoryIconContainer:hover 
{
    background: #096394;
}

#LearningAssets_CategoryIconContainer.AdministratorMenuSelectedCategory 
{
    background: #096394;
}

#LearningAssets_CategoryMenuItemsHeaderContainer.AdministratorMenuCategoryMenuItemsHeaderContainer 
{
	background: #096394;
	color: #FFFFFF;
	box-shadow: inset -190px 0px 130px -70px #1489CA;
}

#LearningAssets_CategoryMenuItemsContainer 
{
	border-left: 4px solid #096394;
}


#Reporting_CategoryIconContainer:hover 
{
    background: #604984;
}

#Reporting_CategoryIconContainer.AdministratorMenuSelectedCategory 
{
    background: #604984;
}

#Reporting_CategoryMenuItemsHeaderContainer.AdministratorMenuCategoryMenuItemsHeaderContainer 
{
	background: #604984;
	color: #FFFFFF;
	box-shadow: inset -190px 0px 130px -70px #835AC3;
}

#Reporting_CategoryMenuItemsContainer
{
	border-left: 4px solid #604984;
}

#AdministratorMenuPageContentBlackout
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333333;
    opacity: 0.7;
    z-index: 9993;
}




.AdministratorMenuCategoryMenuItemBlocksContainer {
	margin: 26px 28px 0 28px;
	display: block;
	box-sizing: border-box;
}

.AdministratorMenuCategoryMenuItemBlocksArrowContainer {
	position: absolute;
	display: block;
	width: calc(100% - 56px);
	box-sizing: border-box;
	pointer-events: none;
}

.AdministratorMenuCategoryMenuItem_ArrowStemHorizontalLarge {
	width: 54%;
	height: 2px;
	margin: 0 auto;
	display: block;
}

.AdministratorMenuCategoryMenuItem_ArrowStemHorizontalMediumLeft {
	width: 147px;
	height: 2px;
	margin: 0 0 0 124px;
	display: block;
}

.AdministratorMenuCategoryMenuItem_ArrowStemVerticalSmallCenter {
	height: 28px;
	width: 2px;
	margin: 0 auto;
	display: block;
}

.AdministratorMenuCategoryMenuItem_ForkedVerticalStemsContainer {
	height: 46px;
	width: 54%;
	margin: 0 auto;
	display: block;
}

.AdministratorMenuCategoryMenuItem_ArrowStemForkedSmallLeft {
	height: 100%;
	width: 2px;
	float: left;
}

.AdministratorMenuCategoryMenuItem_ArrowStemForkedSmallRight {
	height: 100%;
	width: 2px;
	float: right;
}

.AdministratorMenuCategoryMenuItem_ArrowStemHorizontalLarge,
.AdministratorMenuCategoryMenuItem_ArrowStemHorizontalMediumLeft,
.AdministratorMenuCategoryMenuItem_ArrowStemVerticalSmallCenter, 
.AdministratorMenuCategoryMenuItem_ArrowStemForkedSmallLeft, 
.AdministratorMenuCategoryMenuItem_ArrowStemForkedSmallRight,
.AdministratorMenuCategoryMenuItemTertiaryBlock_ArrowStemVertical,
.AdministratorMenuCategoryMenuItemTertiaryBlock_ArrowStemHorizontal,
.AdministratorMenuCategoryMenuItem_HorizontalCenterSmallArrowStemLeft,
.AdministratorMenuCategoryMenuItem_HorizontalCenterSmallArrowStemRight {
	background-color: #C1C1C1;
}

.AdministratorMenuCategoryMenuItem_SecondaryForkedVerticalStemsContainer {
	height: 30px;
}

.AdministratorMenuCategoryMenuItemBlockMedium .AdministratorMenuCategoryMenuItem_SecondaryForkedVerticalStemsContainer {
	width: 2px;
}

.AdministratorMenuCategoryMenuItem_ForkedVerticalArrowheadsContainer {
	height: 10px;
	margin: 0 auto;
	width: 54%;
	display: block;
}

.AdministratorMenuCategoryMenuItem_ArrowheadForkedLeft {
	float: left;
	margin-left: -7px;
}

.AdministratorMenuCategoryMenuItem_ArrowheadForkedRight {
	float: right;
	margin-right: -7px;
}

.AdministratorMenuCategoryMenuItem_ArrowheadForkedLeft,
.AdministratorMenuCategoryMenuItem_ArrowheadForkedRight {
	width: 0;
	height: 0;
	border: 8px solid #C1C1C1;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.AdministratorMenuCategoryMenuItemBlockMedium .AdministratorMenuCategoryMenuItem_ForkedVerticalArrowheadsContainer {
	width: 2px;
	margin: 0 auto;
}

.AdministratorMenuCategoryMenuItem_HorizontalCenterSmallArrowContainer_Courses {
    width: 84px;
    margin: 35px auto 0 auto;
}

.AdministratorMenuCategoryMenuItem_HorizontalCenterSmallArrowContainer_ILT {
    width: 84px;
    margin: 97px auto 0 auto;
}

.AdministratorMenuCategoryMenuItem_HorizontalCenterSmallArrowStemRight {
    width: 58px;
    height: 2px;
    display:inline-block;
    margin: 7px 0 7px 10px;
    vertical-align: top;
}

.AdministratorMenuCategoryMenuItem_HorizontalCenterSmallArrowStemLeft {
    width: 58px;
    height: 2px;
    display:inline-block;
    margin: 7px 0 7px 0;
    vertical-align: top;
}

.AdministratorMenuCategoryMenuItem_HorizontalCenterSmallArrowHeadRight {
    width: 0;
	height: 0;
	border: 8px solid #C1C1C1;
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
    display: inline-block;
}

.AdministratorMenuCategoryMenuItem_HorizontalCenterSmallArrowHeadLeft {
    width: 0;
	height: 0;
	border: 8px solid #C1C1C1;
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
    display: inline-block;
}

.AdministratorMenuCategoryMenuItemBlock {
	background-color: #FFF;
	border: 1px solid #D9D9D9;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

.AdministratorMenuCategoryMenuItemBlockDisabled {
	filter: grayscale(1);
	opacity: .5;
	pointer-events: none;
}

.AdministratorMenuCategoryMenuItemBlockLarge {
	margin-bottom: 18px;
	min-height: 170px;
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.08);
}

.AdministratorMenuCategoryMenuItemBlockLarge:hover {
	background-color: #DFEDFB;
	color: #636363;
}

.AdministratorMenuCategoryMenuItemBlockMedium {
	margin-bottom: 18px;
	min-height: 170px;
	width: 45%;
	padding-bottom: 15px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.08);
}

.AdministratorMenuCategoryMenuItemBlockMediumCondensedHeight {
    min-height: 133px;
}

.AdministratorMenuCategoryMenuItemBlockMediumCompoundBottom {
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
}

.AdministratorMenuCategoryMenuItemBlockMediumCompoundTop {
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	border-top-right-radius: 0;
	margin-top: 0;
	border-top: 0;
}

.AdministratorMenuCategoryMenuItemBlockMediumCompoundBoth {
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
	border-radius: 0;
	margin-bottom: 0;
	margin-top: 0;
	border-top: 0;
}

.AdministratorMenuCategoryMenuItemBlockMediumCompoundBottom,
.AdministratorMenuCategoryMenuItemBlockMediumCompoundTop,
.AdministratorMenuCategoryMenuItemBlockMediumCompoundBoth {
	min-height: 144px;
	
}

.AdministratorMenuCategoryMenuItemBlockMedium:hover {
	background-color: #DFEDFB;
	color: #636363;
}

.AdministratorMenuCategoryMenuItemBlockMediumLeft {
	margin-right: 24px;
	float: left;
}

.AdministratorMenuCategoryMenuItemBlockMediumRight {
	float: right;
}

.AdministratorMenuCategoryMenuItemBlock_AddButtonContainer {
	width: 36px;
	height: 36px;
	float: right;
	margin: -5px -5px 0 0;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #D6D6D6;
	text-align: center;
}

.AdministratorMenuCategoryMenuItemBlock_AddButton {
	width: 26px;
	height: 26px;
	margin-top: 5px;
}

.AdministratorMenuCategoryMenuItemBlock_AddButtonContainerSmall {
	width: 26px;
	height: 26px;
	float: right;
	margin: -5px -5px 0 0;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #D6D6D6;
	text-align: center;
}

.AdministratorMenuCategoryMenuItemSecondaryBlock .AdministratorMenuCategoryMenuItemBlock_AddButtonContainer {
    width: 26px;
	height: 26px;
	float: right;
	margin: -5px -5px 0 0;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #D6D6D6;
	text-align: center;
}

.AdministratorMenuCategoryMenuItemBlock_AddButtonContainer:hover,
.AdministratorMenuCategoryMenuItemBlock_AddButtonContainerSmall:hover {
	background-color: #BED615;
}

.AdministratorMenuCategoryMenuItemBlock_AddButtonSmall {
	width: 18px;
	height: 18px;
	margin-top: 4px;
}

.AdministratorMenuCategoryMenuItemSecondaryBlock .AdministratorMenuCategoryMenuItemBlock_AddButton {
    width: 18px;
	height: 18px;
	margin-top: 4px;
}

.AdministratorMenuCategoryMenuItemBlock_IconContainer {
	display: block;
	width: 100%;
	margin-top: 46px;
	text-align: center;
}

.AdministratorMenuCategoryMenuItemBlockMediumCompoundTop .AdministratorMenuCategoryMenuItemBlock_IconContainer,
.AdministratorMenuCategoryMenuItemBlockMediumCompoundBoth .AdministratorMenuCategoryMenuItemBlock_IconContainer {
	margin-top: 36px;	
}

.AdministratorMenuCategoryMenuItemBlock_IconContainerCondensedHeight {
    margin-top: 21px;
}

.AdministratorMenuCategoryMenuItemBlockMediumCondensedHeight .AdministratorMenuCategoryMenuItemBlock_IconContainer,
.AdministratorMenuCategoryMenuItemBlock_IconContainerCondensedHeightWithArrow {
    margin-top: 37px;
}

.AdministratorMenuCategoryMenuItemBlock_Icon {
	height: 46px;
	width: auto;
}

.AdministratorMenuCategoryMenuItemBlock_IconCondensedHeight {
    margin-right: -19px;
}

.AdministratorMenuCategoryMenuItemBlock_Label {
	display: block;
	text-align: center;
	margin: 10px 0;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
	font-size: .85em;
	font-weight: 400;
    /*text-transform: uppercase;*/
}

.AdministratorMenuCategoryMenuItemSecondaryBlock_IconLabelContainer,
.AdministratorMenuCategoryMenuItemSecondaryBlock_IconLabelContainerWithChild {
	height: 27px;
	width: 90%;
	margin: 12px auto;
	white-space: nowrap;
}

.AdministratorMenuCategoryMenuItemSecondaryBlock_IconLabelContainerWithChild {
	margin-bottom: 7px;	
}

.AdministratorMenuCategoryMenuItemSecondaryBlock_IconLabelContainer {
	height: auto;
}

.AdministratorMenuCategoryMenuItemSecondaryBlock_IconContainer {
	display: inline-block;
	margin-right: 9px;
}

.AdministratorMenuCategoryMenuItemSecondaryBlock_Icon {
	height: 27px;
	width: auto;
    vertical-align: middle;
}

.AdministratorMenuCategoryMenuItemSecondaryBlock_Label {
	height: inherit;
	display: inline-block;	
    font-family: 'Montserrat', 'Open Sans', sans-serif;
	font-size: .80em;
	font-weight: 400;
    /*text-transform: uppercase;*/

	vertical-align: middle;    	
	width: calc(90% - 18px);
	white-space: normal;
	height: auto;
    padding: 7px 0;
}

.AdministratorMenuCategoryMenuItemTertiaryBlock_IconLabelContainer,
.AdministratorMenuCategoryMenuItemTertiaryBlock_IconLabelContainerChild {
	width: 90%;
	margin: 15px auto;
}

.AdministratorMenuCategoryMenuItemTertiaryBlock_IconLabelContainerChild {
	margin-top: 0;
	white-space: nowrap;
}

.AdministratorMenuCategoryMenuItemTertiaryBlock_IconLabelContainerChild:hover {
	background-color: #FFF;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
}

.AdministratorMenuCategoryMenuItemTertiaryBlock_ArrowContainer {
	display: inline-block;
	margin-left: 4px;
	margin-right: 10px;
}

.AdministratorMenuCategoryMenuItemTertiaryBlock_ArrowStemVertical {
	width: 2px;
	height: 20px;
	display: block;
}

.AdministratorMenuCategoryMenuItemTertiaryBlock_ArrowStemHorizontal {
	width: 8px;
	height: 2px;
	display: block;
}

.AdministratorMenuCategoryMenuItemTertiaryBlock_ArrowheadRight {
	float: right;
	width: 0;
	height: 0;
	margin: -7px -12px 0 0;
	border: 6px solid #C1C1C1;
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
}

.AdministratorMenuCategoryMenuItemTertiaryBlock_Icon {
	width: 18px;
	height: auto;
	display: inline-block;
	margin-bottom: 7px;
    margin-right: 4px;
}

.AdministratorMenuCategoryMenuItemTertiaryBlock_Label {
	font-size: .8em;
	padding-bottom: 5px;
	display: inline-block;
    color: #777777;
	
	padding-top: 10px;
	white-space: normal;
	width: calc(90% - 21px);
}

.AdministratorMenuCategoryMenuItemBlocksContainer_BlockHolderLeft {
	float: left;
	width: 47%;
}

.AdministratorMenuCategoryMenuItemBlocksContainer_BlockHolderRight {
	float: right;
	width: 47%;
}

.AdministratorMenuCategoryMenuItemBlocksContainer_BlockHolderLeft .AdministratorMenuCategoryMenuItemBlock,
.AdministratorMenuCategoryMenuItemBlocksContainer_BlockHolderRight .AdministratorMenuCategoryMenuItemBlock {
	clear: both;
	width: 100%;
	margin-right: 0;
}

.AdministratorMenuCategoryMenuItemBlocksContainer_BlockHolderCondensedHeight .AdministratorMenuCategoryMenuItemBlock {
	min-height: 0;
}

.AdministratorMenuCategoryMenuItemBlocksContainer_BlockHolderCondensedHeight .AdministratorMenuCategoryMenuItemBlock .AdministratorMenuCategoryMenuItemBlock_IconContainer {
	margin-top: 17px;
}

.AdministratorMenuCategoryMenuItemBlockMediumWithChildrenCondensedHeight {
    padding-bottom: 5px;
    /*margin-bottom: 5px;*/
}

.AdministratorMenuCategoryMenuItemSecondaryBlock {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto !important;
    margin-bottom: 10px;
	display: block;
	width: 83% !important;
	min-height: 46px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.08);
}

.AdministratorMenuCategoryMenuItemSecondaryBlock:hover {
	background-color: #EDF5FD;
}

.AdministratorMenuCategoryMenuItem_ArrowStemFirst {
	margin-top: 128px;	
}

.AdministratorMenuCategoryMenuItemSecondaryBlockFirst {
	margin-top: 20px;
}

.AdministratorMenuCategoryMenuItemBlocksContainerMobile {
		display: none;	
}

.AdministratorMenuCategoryMenuItemBlocksContainer {
		display: block;
}

.AdminMenuAccordionMenuContextMenuContainer {
    width: fit-content !important;
}

/* @MEDIA - 480px */

@media (max-width: 480px) {
    
    .MarginOffsetForAdministratorMenu 
    {
        margin-left: 36px;
    }

    .AdministratorMenuCategoryIconContainer 
    {
        padding: 8px;
    }

    .AdministratorMenuCategoryIconContainer .MediumIcon 
    {
        width: 24px;
        height: 24px;
    }

}

@media (max-height: 767px), (max-width: 599px) {
	
	/* Mobile Version Styles */

.AdministratorMenuCategoryMenuItemBlocksContainerMobile {
	width: 100%;
}

.AdministratorMenuCategoryMenuItemBlockMobile {
	background-color: #FFF;
	width: 100%;
	border-bottom: 1px solid #D9D9D9;
	cursor: pointer;
}

.AdministratorMenuCategoryMenuItemBlockMobile:hover {
    background-color: #DFEDFB;
}

.AdministratorMenuCategoryMenuItemBlock_IconLabelContainerMobile {
	padding: 10px 0;
	width: 90%;
	margin: 0 auto;
}

.AdministratorMenuCategoryMenuItemBlockLevelTwo_IconLabelContainerMobile {
	padding: 10px 0 10px 20px;
	width: 90%;
	margin: 0 auto;
}

.AdministratorMenuCategoryMenuItemBlockLevelThree_IconLabelContainerMobile {
	padding: 10px 0 10px 40px;
	width: 84%;
	margin: 0 auto;
}

.AdministratorMenuCategoryMenuItemBlockLevelFour_IconLabelContainerMobile {
	padding: 10px 0 10px 60px;
	width: 76%;
	margin: 0 auto;
}

.AdministratorMenuCategoryMenuItemBlock_IconContainerMobile {
	display: inline-block;
	margin-right: 9px;
}

.AdministratorMenuCategoryMenuItemBlock_IconMobile {

}

.AdministratorMenuCategoryMenuItemBlock_LabelMobile {
	display: inline-block;
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	font-size: .85em;
	font-weight: 400;
    
	vertical-align: middle;
}

.AdministratorMenuCategoryMenuItemBlockMobile_AddButtonContainer {
	width: 18px;
	height: 18px;
	float: right;
	margin-right: -5px;
	text-align: center;
}

.AdministratorMenuCategoryMenuItemBlockMobile_AddButton {
	width: 18px;
	height: 18px;
}

.AdministratorMenuCategoryMenuItemBlockLevelTwo_IconLabelContainerMobile .AdministratorMenuCategoryMenuItemBlockMobile_AddButtonContainer {
	margin-right: 5px;	
}

.AdministratorMenuCategoryMenuItemBlockLevelThree_IconLabelContainerMobile .AdministratorMenuCategoryMenuItemBlockMobile_AddButtonContainer {
	margin-right: 7px;	
}
	
.AdministratorMenuCategoryMenuItemsContainer {
	max-width: 250px;
    left: -250px;
}
	
.adminMenuGroupExpanded {
    left: 52px;
}

.adminMenuGroupCollapsed {
    left: -250px;
}
	
.AdministratorMenuCategoryMenuItemBlocksContainerMobile {
	display: block;	
}

.AdministratorMenuCategoryMenuItemBlocksContainer {
	display: none;
}

}