.AsentiaCarouselContainer
{
	width: 100%;
	overflow-x: hidden;
	position: relative;
}

ul.AsentiaCarousel
{
	padding: 0px;
	position: relative;
}

ul.AsentiaCarousel li.Invisible
{
	opacity: 0;
}

li.AsentiaCarouselItem
{
	position: relative;
	float: left;
}

/* Dots */

.AsentiaCarouselDot
{
	width: 14px;
    height: 14px;
    background-color: #CCCCCC;
    display: inline-block;
    border-radius: 20px;
    margin: 8px 4px 0px 4px;
	cursor: pointer;
}

.AsentiaCarouselDot.On
{
	background-color: #888888;	
}

/* BUTTONS */

input.AsentiaCarouselButton
{
	 width: 16px;
	 height: 16px;
	 background: transparent;
	 border: none;
	 margin: 8px;
	 cursor: pointer;
	 position: relative;
}

input.AsentiaCarouselButton.PreviousButton
{
	border-left: 6px solid #848484;
    border-top: 6px solid #848484;
    transform: rotate(-45deg);
}

input.AsentiaCarouselButton.NextButton
{
	border-right: 6px solid #848484;
    border-top: 6px solid #848484;
    transform: rotate(45deg);
}

input.AsentiaCarouselButton.NextButton:disabled
{
	cursor: default;
	border-right-color: #D6D6D6;
    border-top-color: #D6D6D6;
    background-color: transparent;
}

input.AsentiaCarouselButton.PreviousButton:disabled
{
	cursor: default;
	border-left-color: #D6D6D6;
    border-top-color: #D6D6D6;
    background-color: transparent;
}
