﻿.RuleSetControl .AddRuleColumn
{
    vertical-align: bottom;
    padding-bottom: 9px;
    padding-left: 7px;
}

.RuleSetControl input,
.RuleSetControl select
{
    margin-right: 10px;
}

.OperatorsList option:disabled 
{
    color: #c5c5c5;
}

.RuleSetControl .UserFieldValue
{
    width: 200px;
}

.RuleRow td 
{
    padding-bottom: 5px;
}

.RuleError
{
    border: 1px solid #C75A5A;
}