﻿#CertificateWrapper
{
	overflow: hidden;	
	position: relative;
    width: 100%;
    max-width: 800px;
}

#CertificateBuilderWrapper
{
	overflow: hidden;	
	position: relative;
    width: 100%;
}

#CertificateObject 
{
    background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.98);
	position: relative;
}

#CertificateContainer
{
	position: relative;	
	overflow: hidden;
    white-space: pre;
	color: #000000;
}

/* NEW */
#CertificateViewer
{
	overflow:hidden;
    width:800px;
    max-width:100%;
    max-height:100%;
}

#CertificateViewerContainer
{
	position:relative;	
	height:100%; 
	width:100%;	
    overflow: hidden;
}

#CloseFieldList
{
	position:relative;	
	top:2px;
	float:right;
	cursor:pointer;
}

#MenuContainer
{

	cursor:pointer;

	background: #982f2f;

	position:absolute;
	top:-5px;
	left:34px;
	z-index:998;
	display:block;
	padding:10px 5px 5px 5px;

	box-shadow:0px 10px 10px rgba(0, 0, 0, 0.64);
	
	border-left: 2px solid rgb(224, 108, 108);
    border-right: 2px solid rgb(146, 25, 25);
    border-bottom: 2px solid rgb(115, 26, 26);
	
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;

	text-align:center;
	font-size:16px;
	color:white;
	
	transition: all 0.25s ease;
				 
}

#MenuContainer:hover
{
	top:-2px;
	left:34px;
}

#StaticLabelControls_Input
{
	margin:6px;	
}

#FieldsList
{
    white-space:normal;

	text-align:left;
	position:absolute; 
	z-index:999; 
	left:10px; 
	top:16px;

	background-color: #EFEFEF;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	margin-top: 0;
	box-shadow: 4px 7px 25px -8px #000;

	display:none;	
	opacity:0;	
}

#FieldTitle
{
    background-color:#4d82ae;
    color:#fff;
    float: inherit;
    font-weight: bold;
    padding: 6px 6px 6px 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;  
    margin-top: 0;
    display: block;
    text-align:left;
    font-size:16px;
    cursor:move;
}


#DataFieldsInstructions
{
	font-size:10px;
	display:inline;	

}

#FieldBody
{
	padding:5px;
}

#FieldBody input[type='text']
{
	margin:0px 3px;
	width:134px;
}

#FieldBody input[type='button']
{
	margin:3px;
}

#DataFieldsDraggableContainer
{
	height:400px;
	overflow:auto;	
	margin:0px 3px;
	border:1px solid rgba(128, 128, 128, 0.38);
	background: rgb(248, 248, 248);    
}

#DataFieldsText
{
	padding-bottom:5px;	
}

#StaticLabelText
{
	padding-bottom:5px;	
}

#StaticLabelContainer
{
	padding-bottom:5px;	
}

#CertificateObject > .DraggableCertificateElement
{
    width: 208px;
    position: absolute;
    text-align:center;
	z-index: 500;
}

.StaticCertificateElement
{
    width: 204px;
    position: absolute;
    text-align:center;
	z-index: 500;
}

.StaticCertificateElement .Content
{
	font-family: 'Open Sans', sans-serif;
	padding: 4px 0px;
    color: #000000;
	font-weight: 600;
}

.DraggableCertificateElement .Content
{
	/*background: rgba(255, 255, 255, 0.75);*/
    cursor: move;
	border:none;
    /*box-shadow: inset 0px 0px 2px rgb(255, 0, 0), 0px 2px 4px rgba(0, 0, 0, 0.19);*/
	width:100%;
	font-family: 'Open Sans', sans-serif;
	padding: 4px 0px;
	color: #000000;
	font-weight: 600;
}

.DraggableCertificateElement:hover > .Content
{
	background: rgba(200, 200, 200, 0.4);
	border: none;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.4), inset 0px 0px 6px rgba(0, 0, 0, 0.8), 0px 2px 7px rgba(0, 0, 0, 0.15);
}

.DraggableCertificateElement > .Content:active
{
	background: rgba(173, 229, 255, 0.3);
	border: none;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.4), inset 0px 0px 3px rgba(0, 0, 0, 0.8), 0px 4px 14px rgba(0, 0, 0, 0.45), 0px 6px 24px rgba(0, 0, 0, 0.25);
}

.DraggableCertificateElement .FormatterWrapperTop
{
    height: 20px;
	position: absolute;
	top: -22px;
	width:100%;
}

.DraggableCertificateElement .FormatterWrapperBottom
{
    height: 20px;
	position: absolute;
	top: 28px;
	width:100%;
	display: none;
}

.DraggableCertificateElement:hover .FormatterWrapperTop #Formatter
{
    display: block;
}

.DraggableCertificateElement:hover .FormatterWrapperBottom #Formatter
{
    display: block;
}


.DraggingItem
{
    /*width: 196px !important;*/
}

.DraggableFieldDataElementContainer
{
	margin: 4px 9px;
	padding:0px !important;
}

.DraggableFieldDataElement
{
    border-radius: 3px;
    /*border: 1px solid #23608E;*/
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px !important;
    color: #ffffff;
    cursor: move;
	overflow: auto;
	background: #4d82ae; 
    text-align:center;
    width: 196px;
	margin:0px;
}

#Formatter
{
    display: none;
    width: 100%;
}

#Formatter img
{
    border-radius: 3px;
    cursor: pointer;
	margin:1px;
	float:left;
    width:18px;
}

#Formatter #Remove
{
    float: right;
    padding-top: 1px;
    position: relative;
	left:16px;
}

.ui-resizable-handle {
	position: absolute;
	display: block;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}

.ui-resizable-e {
	cursor: e-resize;
	width: 10px;
	right: 0px;
	top: 0;
	height: 100%;
}

#ViewCertificateModal,
#PreviewCertificateTemplateModal
{
    max-width: 98%;
    max-height: 98%;
}

#ViewCertificateModalModalPopupBody,
#PreviewCertificateTemplateModalModalPopupBody
{
    max-height: 700px;
}