﻿.GridAnalyticContainer1Column 
{
    column-count: 1;
    column-gap: 30px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
}

.GridAnalyticContainer2Column 
{
	column-count: 2;
    column-gap: 30px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
}

.GridAnalyticContainer3Column 
{
	column-count: 3;
    column-gap: 30px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
}

.GridAnalyticContainer4Column 
{
	column-count: 4;
    column-gap: 30px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
}

.GridAnalyticColumn 
{
	break-inside: avoid;
}

.GridAnalyticWrapperContainer 
{
	display: inline-block;
	clear: both;
	width: 100%;
    min-width: 200px;    
    vertical-align: top;    
    margin-right: 16px;
}

.GridAnalyticContainer 
{
	position: relative;
	margin-bottom: 20px;
	min-height: 130px;
	border: 1px solid #CCCCCC;
    box-shadow: 0px 0px 9px -5px #000;
    background: linear-gradient(to bottom, #F5F5F5, #FCFCFC);
    border-top: 4px solid #333333;
    border-radius: 4px;
}

.PageCategory_System .GridAnalyticContainer {
    border-top: 4px solid #AA3939;
}

.PageCategory_UsersAndGroups .GridAnalyticContainer {
    border-top: 4px solid #8A9B0F;
}

.PageCategory_InterfaceAndLayout .GridAnalyticContainer {
    border-top: 4px solid #E97F02;
}

.PageCategory_LearningAssets .GridAnalyticContainer {
    border-top: 4px solid #096394;
}

.PageCategory_Reporting .GridAnalyticContainer {
    border-top: 4px solid #604984;
}

.GridAnalyticContainerInner 
{
	padding: 10px 20px;
	text-align: center;
}

.GridAnalyticTitleContainer 
{
	margin-bottom: 12px;
}

.GridAnalyticTitle 
{
	font-size: .9em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #929292;
}

.GridAnalyticBlock 
{
	text-align: center;
    display: inline-block;
    border-right: 1px solid #ddd;
    padding-right: 20px;
    margin-right: 20px;
}

.GridAnalyticBlock:last-child 
{
	border-right: none;
    margin-right: 0;
}

.GridAnalyticBlockData 
{
	font-size: 1.8em;
    font-weight: 300;
}

.GridAnalyticBlockLabel 
{
	font-size: 1em;
    font-weight: 300;
    text-align: center;
}