/* INPUTS */

input, select, textarea
{
    border: 1px solid #B1B9C3;
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0); 
    -webkit-box-shadow: 0px 0px 0 rgba(0, 0, 0, 0); 
    -moz-box-shadow: 0px 0px 0 rgba(0, 0, 0, 0);    
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;    
    text-transform: none;
    line-height: 24px;
    padding: 3px 5px 3px 5px;
    max-width: 100%;
	color: #777777;    
}

input:not([type="image"]):disabled,
select:disabled,
textarea:disabled
{
    background-color: #EFEFEF;
    color: #A2A2A2;
}

input::placeholder
{
    color: #B5B5B5;
    font-weight: 300;
}

input[type="radio"], input[type="checkbox"] 
{
    box-shadow: none !important;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
    margin-top: 3px;
    margin-right: 5px;
    float: left;
}

textarea 
{
    font-family: inherit;
    font-size: inherit;
    width: calc(100% - 12px);
}  

#GridSearchTextBox, #SearchTextBox 
{
    width: calc(100% - 130px);
    margin-right: 15px;
    max-width: 250px;
}

input:focus 
{
    box-shadow: 0px 0px 5px #517B9E; 
    -moz-box-shadow: 0px 0px 5px #517B9E;    
    -webkit-box-shadow: 0px 0px 5px #517B9E;
}

input.InputText
{
    margin-right: 5px;
}

input + input,
select + select,
input + select,
select + input
{
    margin-left: 6px
}

.InputXShort
{
    width: 50px;
	margin-right:5px;
}

.InputShort
{
    max-width: calc(100% - 12px);
    max-width: 480px;
}

.InputMedium
{
    width: 250px;
}

.InputLong
{
    width: calc(100% - 77px);
    max-width: 480px;
}

.InputXLong
{
    width: 450px;
}

.InputXXLong
{
    width: 550px;
}

.input-lang-group .InputLong 
{
    width: calc(100% - 80px);
}

.InputWithLanguageSelector .InputLong, 
.InputWithLanguageSelector .InputMedium 
{
    width: calc(100% - 77px);
    max-width: 480px;
}

input + img 
{
    margin-left: 10px;
    position: relative;
}

input + label 
{
    margin-right: 10px;
}

a.aspNetDisabled
{
    color: #999999;
    text-decoration: none;
    cursor: default;
}

a:hover.aspNetDisabled
{
    text-decoration: none;
}

.ListBoxSearchContainer
{
    margin-bottom: 10px;
}

.ListBoxSearchContainer .InputText
{
    margin-right: -32px;
    margin-left: 0px;
}

.ListBox
{
    width: 100%;
    height: 200px;
}

.ListBoxSelectAllNoneContainer
{
    text-align: right;
}

.HorizontalRadioList div.ToggleInput,
.HorizontalCheckboxList div.ToggleInput
{
    display: inline-block;
}

.AsyncUploader
{
    margin-bottom: 10px;
}

.AsyncUploaderThrobber
{
    color: #185685;
}

.AsyncUploaderThrobber img
{
    margin-right: 7px;
    vertical-align: sub;
}

.AsyncUploaderCompleted
{
    color: #68A968;
    display: none;
}

.AsyncUploaderCompleted img
{
    border-radius: 3px;
    margin-right: 7px;
	opacity:1.0;
}

.Button 
{
    border: 1px solid #517B9E;
    background: #6593BA;
	color: #FFFFFF;    
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;	
	margin-right: 5px;
    padding: 4px 14px;
	width: initial;	
	transition: all .1s;
    box-shadow: inset 0 -25px 24px -20px #517B9E;
    -moz-box-shadow: inset 0 -25px 24px -20px #517B9E;
    -webkit-box-shadow: inset 0 -25px 24px -20px #517B9E;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: .8em;
    font-weight: 400;
    text-transform: uppercase;
}

.Button:hover 
{
	cursor: pointer;	
    background: #75A9D6;
}

.DisabledButton 
{
    border: 0px;
    background: #D6D6D6 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    cursor: default !important;
}

.DisabledButton:hover 
{
    background: #D6D6D6 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.NonActionButton 
{
	cursor: pointer;
	color: #333333;
	background: transparent;
	border: 0px;
    padding: 0px 5px;
	box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.NonActionButton:hover 
{
	background: transparent;
	box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.NonActionButton.DisabledButton
{
    color: #D6D6D6;
    padding: 4px 14px;
}

.SearchButton
{
    background-image: url(/_images/Buttons/Search.png) !important;
    background-repeat: no-repeat !important;
    background-position: 4px 4px !important;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
    min-height: 0;
    vertical-align: top;
    color: transparent;
    position: relative;
}

.SaveButton
{
    padding: 8px 14px;
    border: 1px solid #267926;
    background: #68A968;
    box-shadow: inset 0 -25px 24px -20px #267926;
    -moz-box-shadow: inset 0 -25px 24px -20px #267926;
    -webkit-box-shadow: inset 0 -25px 24px -20px #267926;

    background-image: url(/_images/Buttons/Save.png) !important;
    background-repeat: no-repeat !important;
    background-position: 4px 8px !important;
    background-size: 24px;
    padding-left: 36px;
}

.UploadButton
{
    padding: 8px 14px;
    border: 1px solid #267926;
    background: #68A968;
    box-shadow: inset 0 -25px 24px -20px #267926;
    -moz-box-shadow: inset 0 -25px 24px -20px #267926;
    -webkit-box-shadow: inset 0 -25px 24px -20px #267926;

    background-image: url(/_images/Buttons/Upload.png) !important;
    background-repeat: no-repeat !important;
    background-position: 4px 8px !important;
    background-size: 24px;
    padding-left: 36px;
}

.SaveButton:hover,
.UploadButton:hover 
{
	cursor: pointer;	
    background: #65B965;
}

#AddEligibleRolesSearchButton,
#AddEligibleRolesClearSearchButton,
#RemoveEligibleRolesSearchButton,
#RemoveEligibleRolesClearSearchButton,
#GridSearchButton,
#GridClearSearchButton 
{
    position: relative;
}

.FormFieldLanguageSelector
{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #B1B9C3;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;    
    padding: 1px 4px 3px 9px;
    cursor: pointer;
    position: relative;
    top: -1px;
}

.FormFieldLanguageSelectorInlineField
{

}

.FormFieldLanguageSelectorAboveField
{
    margin-bottom: 5px;
}

.FormFieldLanguageSelectorDropDownDL
{
    float: left;
}

.FormFieldLanguageSelectorDropDown dd,
.FormFieldLanguageSelectorDropDown dt,
.FormFieldLanguageSelectorDropDown ul
{
    margin: 0px;
    padding: 0px;
}

.FormFieldLanguageSelectorDropDown dd
{
    position: relative;
    top: 4px;
}

.FormFieldLanguageSelectorDropDown dd ul 
{ 
    display: none;
    list-style: none;
    position: absolute;
    left: 0px;
    width: auto;
    background: #FFFFFF;
    border: 1px solid #B1B9C3;
    margin-left: -10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;  
    z-index: 2;  
}

.FormFieldLanguageSelectorDropDown dd ul li
{  
}

.FormFieldLanguageSelectorDropDown dd ul li:hover
{
    background: #1E90FF;
}

.FormFieldLanguageSelectorDropDown dd ul img
{ 
    display: block;
    padding: 4px 17px;
}

.FormFieldLanguageSelectorDropDownArrow
{
    float: right;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid #000000;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 5px;
}

.ObjectLanguageSelectorContainer
{
    border-radius: 2px;
    color: #333333;
    padding: 5px 12px;
    margin-bottom: 10px;
    background: #D7DADD;
    border: 1px solid #CCCCCC;
}

.ObjectLanguageSelectorContainer select 
{
    margin-left: 10px;
}

.RequiredAsterisk
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #B54959;
}

.FormFieldContainer
{
    padding-bottom: 12px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 12px;
}

.FormFieldLabelContainer
{
    margin-bottom: 8px;
    font-weight: 400;
}

.FormFieldErrorContainer
{
    margin-left: 10px;
	margin-bottom: 10px;    
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.9em;
    color: #B54959;
}

.FormFieldContainer.ErrorOn .FormFieldErrorContainer
{
	padding: 5px;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
	/*background-color: #B54959;*/
    background-color: #C75A5A;
	color: #FFFFFF;
}

/* for errors inside of modals, we need to override the modal styling on <p> */
.ModalPopupBody .FormFieldErrorContainer p
{
    margin-bottom: 0;
}

.FormFieldDescriptionContainer
{
    margin-bottom: 10px;
}

.FormFieldInputContainer 
{
    margin-left: 10px;
}

.FormFieldInputContainer label
{
    margin-bottom: 6px;
}

/* this is for text wrapping on radios and checkboxes */
.FormFieldInputContainer input[type="radio"] + label, 
.FormFieldInputContainer input[type="checkbox"] + label
{
    /*display: inline-block;*/
    /*display: block;*/
    display: table;
    overflow: auto;
}

.FormFieldInputContainer input,
.FormFieldInputContainer select
{
    /*margin-bottom: 8px;*/
}

.FormFieldInputContainer.InputWithLanguageSelector input 
{
	margin-right: 5px;
	width: calc(100% - 77px);
	max-width: 480px;
}

.AvatarImageContainer
{
	position: relative;
    display: inline-block;
}

.AvatarDeleteButtonContainer
{
    position: absolute;
    z-index: 1;
    top: -7px;
    right: -15px;
}

/* USER FORM */

.RegistrationInstructionsPanel
{
    margin-bottom: 25px;
}

.UserAgreementContainer
{
    overflow: scroll;
    min-height: 200px;
    max-height: 200px;
    min-width: 99%;
    max-width: 99%;
    border: 1px solid #E0E0E0;
    padding: 5px;
    margin-bottom: 15px;    
}

/* 
   USER FORM FIELDS
   There are individual classes for each field so they can be individually affected
   The most common use for this is if you designate a certain field for a certain expected 
   input length, and would like to adjust the width of that field on screen.
*/

.UserFormSectionHeaderContainer
{
    font-size: 1.40em;
    padding-bottom: 4px;
    border-bottom: 4px solid #C1C1C1;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 300;
}

.FormFieldContainer + .UserFormSectionHeaderContainer
{
    margin-top: 30px;    
}

.avatar_Field
{
}

.postalcode_Field,
.race_Field
{
    width: 100px;
}

.gender_Field
{
    width: 150px;
}

.firstName_Field,
.middleName_Field,
.lastName_Field,
.username_Field,
.password_Field,
.province_Field,
.phonePrimary_Field,
.phoneHome_Field,
.phoneWork_Field,
.phoneFax_Field,
.phoneMobile_Field,
.phonePager_Field,
.phoneOther_Field
{
    width: 175px;
}

.email_Field,
.company_Field,
.address_Field,
.city_Field,
.country_Field,
.employeeID_Field,
.jobTitle_Field,
.jobClass_Field,
.division_Field,
.region_Field,
.department_Field,
.field00_Field,
.field01_Field,
.field02_Field,
.field03_Field,
.field04_Field,
.field05_Field,
.field06_Field,
.field07_Field,
.field08_Field,
.field09_Field,
.field10_Field,
.field11_Field,
.field12_Field,
.field13_Field,
.field14_Field,
.field15_Field,
.field16_Field,
.field17_Field,
.field18_Field,
.field19_Field
{
    width: 275px;
}

.idTimezone_Field,
.idLanguage_Field,
.dtCreated_Field,
.dtExpires_Field,
.dtLastLogin_Field,
.isActive_Field,
.dtHire_Field,
.dtTerm_Field,
.dtDOB_Field,
.ssn_Field
{ 

} 

/* END USER FORM FIELDS */

/* MULTIPLE SELECT WITH ORDERING */

.MultipleSelectWithOrderingListBox
{
    min-width: 250px;
}

.MultiSelectWithOrderingButtonContainer
{
    padding: 5px 15px;
}

.MultiSelectWithOrderingButtonContainer input
{
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
/* END MULTIPLE SELECT WITH ORDERING */

/* REPORT FORM */
.ReportFormFilterLabelNumber
{
    min-width: 20px;
    display: inline-block;
}

.ReportFormFilterAndOr
{
    margin-right: 5px;
}

.ReportFormFilterColumns
{
    margin-right: 5px;
}

.ReportFormFilterCondition
{
    margin-right: 5px;
    min-width: 200px;
}

.ReportFormFilterTextBox
{
    margin-right: 5px;
    min-width: 250px;
}

.ReportFormFilterValueColumn
{
    margin-right: 5px;
    min-width: 262px;
}
/* END REPORT FORM */

/* RESPONSIVE */

@media (max-width: 768px) 
{

    .InputXXLong 
    {
        width: calc(100% - 77px);
    }

    .InputWithLanguageSelector .InputLong, 
    .InputWithLanguageSelector .InputMedium 
    {
        max-width: inherit;
    }

    .FormFieldInputContainer select 
    {
        width: 100%;
    }

    .InputShort, .InputMedium, .InputLong 
    {
        max-width: 100%;
    }

}

@media (max-width: 480px) 
{



}