/* MODAL POPUP*/

.ModalPopupBackground
{
    background-color: rgba(0,0,0,0.7);
    z-index: 9998 !important;
}

.ModalPopupContainer 
{
    overflow: hidden;
    min-width: 400px;
    min-height: 180px;
    max-width: 95%;
    max-height: 95%;    
    background: #FFFFFF;
    text-align: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 1px 13px -1px #444444;
    -moz-box-shadow: 0px 1px 13px -1px #444444;
    -webkit-box-shadow: 0px 1px 13px -1px #444444;
    z-index: 9999 !important;
}

/*
.MobileModalPopupContainer 
{
	min-width: 300px;
	max-width: 100%;
	min-height: 180px;
    top: -20px;
	border: 10px solid black;
	background-color: #FFFFFF;
	text-align: left;
}
*/

.ModalPopupCloseIcon
{
    position: absolute;
    top: 14px;
    right: 8px;
    cursor: pointer;
}

img.ModalPopupCloseIcon {
    width: 20px;
    height: 20px;
}

.ModalPopupHeader 
{
    line-height: 40px;
    color: #676767; /*#ADADAD;*/
    font-size: 1.35em;
    font-family: 'Nunito', 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;    
    padding: 4px 8px;
    margin-bottom: 15px;
    margin-right: 32px;
}

.ModalPopupHeader  ul
{
	padding: 0px !important; 
	margin: 0px !important;
	margin-left: 20px;
}

.ModalHeaderIcon
{
    vertical-align: middle;
    margin-right: 8px;
    height: 28px !important;
    width: 28px !important;
}

.ModalPopupPostbackLoadingPlaceholder
{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
}

.ModalPopupBody 
{
    max-height: 425px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.ModalPopupBody p
{
    margin-bottom: 5px;
}

.ModalPopupSeparator 
{
	clear: both;
}

.ModalPopupButtons 
{
    padding: 10px 15px;
    margin-top: 0px;
}

.ModalPopupButtonsWrapper 
{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

/* USER ACCOUNT DATA FORM PREVIEW MODAL */
.FormPreviewModal
{
    min-width: 1000px;
	max-width: 1000px;
	min-height: 90%;
	max-height: 90%;
	overflow: scroll;
}

/* CALENDAR EVENT OVERLAY MODALS */

#EventEnrollmentModalPopup 
{
    z-index: 10001 !important;
}

#EventEnrollmentModalPopupModalPopupExtender_backgroundElement 
{
    z-index: 10000 !important;
}

/* RESPONSIVE */

@media (max-width: 480px) 
{

    .ModalPopupContainer 
    {
        min-width: 200px;
    }

}