﻿.ObjectDashboardContainer 
{ 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    margin-left: -15px; 
    margin-right: -15px; 
}

.ObjectDashboardWidget 
{ 
    margin-bottom: 20px; 
    display: inline-block; 
    width: 370px; 
    flex-grow: 1; 
    flex-shrink: 1; 
}

.ObjectDashboardWidgetInnerWrapper 
{ 
    margin-left: 15px; 
    margin-right: 15px; 
}

.ObjectDashboardWidgetHeader 
{ 
    font-size: 1.2em; 
    padding-top: 3px; 
    padding-right: 10px; 
    padding-bottom: 8px; 
    padding-left: 10px; 
}

.ObjectDashboardWidgetContent 
{ 
    border-top: 3px solid #841C26; 
    margin: 0px; 
    overflow-y: hidden; 
    background-color: #FFFFFF; 
    transition: all; 
    transition-duration: .2s; 
    max-height: 1000px; 
    position: relative; 
    padding: 20px; 
    border-top-color: #0D6393;
}

.ObjectDashboardWidgetItem 
{ 
    margin-bottom: 8px; 
}

.ObjectDashboardWidgetItemLabel 
{ 
    font-size: 1.2em; 
    font-weight: 500; 
    text-align: left; 
}

.ObjectDashboardWidgetItemText 
{

}

.ObjectDashboardWidgetItemObject 
{

}

.ObjectDashboardWidgetItemObject .ChartWrapper,
.ObjectDashboardWidgetItemObject .ChartWithLegendWrapper
{
    width: auto;
    min-height: initial;
    margin: 0;
    padding: 0;
}

.ObjectDashboardWidgetItemObject .ChartWithLegendWrapper .ChartCanvasContainer
{
    width: 34%;
    text-align: right;
}

.ObjectDashboardWidgetItemObject .ChartWithLegendWrapper .ChartLegendContainer
{
    width: 66%;
    text-align: left;
}

.ObjectDashboardWidgetItemLink
{

}

.ObjectDashboardWidgetItemLink div
{
    position: relative;
}

.ObjectDashboardWidgetItemLink img
{
    margin-right: 8px;
}

.ObjectDashboardWidgetItemLink .OverlayIcon
{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 14px;
    height: 14px;
}

.DashboardListItemWrapper
{
    display: inline-flex;
    width: 100%;
    margin-bottom: 8px;
}

.DashboardListItemImage
{
    margin-right: 10px;
}

.DashboardListItemText
{
    flex-grow: 1;
    margin-right: 10px;
}

.DashboardListItemOptionLinks {
}