﻿dl 
{
	margin: 0px;
}

/*
input[type="text"]
{
	padding: 4px;
}
*/

.quiz-editor-hide 
{
	display: none;
}

/*

Question Container

*/

.QuestionContainer 
{
	border: 1px solid #C1C1C1;
    background-color: #FFFFFF;
	padding: 30px;
    margin: 20px 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 25px -12px #000;
	min-width: 500px;
	overflow-y: hidden;
	transition: all .75s;
}

.QuestionAniIn 
{
    -webkit-animation: qc-in 0.5s;
    -moz-animation: qc-in 0.5s;
    -ms-animation: qc-in 0.5s;
}

.QuestionAniOut 
{
    -webkit-animation: qc-out 0.5s;
    -moz-animation: qc-out 0.5s;
    -ms-animation: qc-out 0.5s;
}

@keyframes qc-in 
{
    0% { opacity: 0; max-height: 0px; }
    50% { opacity: 0; max-height: 800px; }
    100% { opacity: 1; max-height: auto; }
}

@-webkit-keyframes qc-in 
{
    0% { opacity: 0; max-height: 0px; }
    50% { opacity: 0; max-height: 800px; }
    100% { opacity: 1; max-height: auto; }
}

@-moz-keyframes qc-in 
{
    0% { opacity: 0; max-height: 0px; }
    50% { opacity: 0; max-height: 800px; }
    100% { opacity: 1; max-height: auto; }
}

@keyframes qc-out 
{
    100% { opacity: 0; max-height: 0px; }
    50% { opacity: 0; max-height: 800px; }
    0% { opacity: 1; max-height: auto; }
}

@-webkit-keyframes qc-out 
{
    100% { opacity: 0; max-height: 0px; }
    50% { opacity: 0; max-height: 800px; }
    0% { opacity: 1; max-height: auto; }
}

@-moz-keyframes qc-out 
{
    100% { opacity: 0; max-height: 0px; }
    50% { opacity: 0; max-height: 800px; }
    0% { opacity: 1; max-height: auto; }
}

/*

Choices

*/

.ChoiceContainer 
{
    margin-bottom: 8px;
}

.ChoiceContainer input 
{
	margin-right: 10px;
}

.QuizLanguageChooser
{
	float: left;
    text-align: center;
    width: 24px;
    margin: 0px 10px 10px 10px;
}

.QuizLanguageChooser img
{
	margin: 6px 0px;
}

.QuizLanguageChooser input[type="radio"]
{
	float: none;
	margin: 3px;
}

.QuizLanguageChooser input[type="checkbox"]
{
	float: none;
	margin: 3px;
}

img.button
{
	cursor: pointer;
	width: 28px;
	height: 28px;
	vertical-align: middle;
}

img.button-deletequestion
{
	float: right;
}

img.quiz-editor-screen
{
	opacity: 0.3;
	cursor: no-drop;
}

div.quiz-editor-option
{
	margin-bottom: 4px;
}

div.quiz-editor-option input[type="checkbox"]
{
	margin-right: 6px;
}

a.quiz-editor
{
	cursor: pointer;
	text-decoration: none;
}

a.quiz-editor:hover
{
	text-decoration: underline;
}

a.quiz-editor-disabled 
{
	cursor: no-drop;
	color: #bbb;
}

a.quiz-editor-disabled:hover 
{
	text-decoration: none;
}

.inline-text
{
	display: inline-block;
}

/*

FORM FIELDS

*/

.QuizContainer .FormFieldContainer
{
	clear: both;
	margin-bottom: 12px;
}

.LanguageChooserInputContainer 
{
    float: left;
    min-height: 80px;
}

.FormFieldInputContainer input.normal, .ChoiceContainer input.normal 
{
	width: 300px;
	margin-right: 6px;
}

.FormFieldInputContainer input.xshort, .ChoiceContainer input.xshort 
{
	width: 50px;
	margin-right: 6px;
}

.FormFieldInputContainer input.long, .ChoiceContainer input.long 
{
	width: 600px;
	margin-right: 6px;
}

.NewQuestionButtonContainer 
{
	font-size: 0.9em;
	margin: 0px 0px 20px 20px;	
}

.NewQuestionButtonContainer img.button 
{
    margin-right: 10px;
}
	
.QuestionInterfaceContainer 
{
	font-size: 1.7em;
    margin-bottom: 12px;
    border-bottom: 1px solid #DDDFF1;
    padding-bottom: 12px;
}

.QuestionInterfaceContainer .FormFieldLanguageSelector 
{
    font-size: 0em; /* this prevents the language selector from expanding in size with the increased font size above */
	float: right;
	margin-right: 20px;
}

.ChoicesContainerButtons
{
	margin-left: 26px;
}

.LanguageCheckLabels 
{
}

.LanguageCheckLabels div
{
	margin: 4px 0px;
	height: 24px;
}

.LanguageCheckLabels div:first-child, .LanguageCheckLabels div:last-child 
{
	margin: 3px 0px;
}