﻿html, body 
{
    width: 100%;
    height: inherit;
    font-family: 'Raleway', 'Open Sans', sans-serif;  
    font-size: .97em;
    color: #666666;
    background-color: #FCFCFC;
    text-align: left;
}

a:link 
{
    text-decoration: none;
}

a:hover 
{
    text-decoration: underline;
    cursor: pointer; 
    cursor: hand;     
}

:link:hover
{
    text-decoration: underline;
    cursor: pointer; 
    cursor: hand;
}

.reporttitle
{
    font-size: xx-large;
    margin-bottom: 10px;
    vertical-align: top;
}

#PageTitleContainer p, .PageTitleContainer p, .PageTitleText
{
	line-height: 1.2em;
	font-size: 2.4em;
	line-height: 1em;
	margin-top: 14px;
	text-indent: 0;
	color: #ADADAD;
	font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
	display: inline-block;
	font-weight: 700;
	margin-right: 20px /* space out "new" links */
}

.PageTitleIconContainer 
{
    width: 48px;
    height: 48px;
}

/* GRID */
.xd-1 {width:8.3333%}
.xd-2 {width:16.6666%}
.xd-3 {width:25%}
.xd-4 {width:33.3333%}
.xd-5 {width:41.3333%}
.xd-6 {width:50%}
.xd-7 {width:58.3333%}
.xd-8 {width:66.6666%}
.xd-9 {width:75%}
.xd-10 {width:83.3333%}
.xd-11 {width:91.6666%}
.xd-12 {width:100%}

.RightWrapper.xd-9 
{
    width: calc(100% - 350px);  
}

@media (max-width: 768px) 
{

    .xm-12 
    { 
        width: 100%;
        clear: both;
        display: block;

    }

    .RightWrapper.xd-9  
    {
        width: 100%;

    }

}

.print
{
    color: #185685;
    float: right;
    font-size: small;
    margin: 5px;
    text-decoration: none;
    cursor: pointer; 
    cursor: hand;    
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: #4d82ae;
    text-decoration: none;
}

caption, th 
{
	text-align: left;
}

address, caption, cite, code, dfn, th, var 
{
	font-style: normal;
	font-weight: 100;
}

.GridTable
{
      width: calc(100% - 1px);
      margin-bottom:20px;
}

.GridTable tr:last-child
{
  /*border-top: 1px solid #ddd;*/
}

.GridHeaderRow th
{
  background-color: #E5E8EB;
  color: #606C7D;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 3px;
  padding-right: 3px;
  border-top: 1px solid #B1B9C3;
  border-bottom: 1px solid #B1B9C3;
}

/*.GridHeaderRow th:hover {
  text-decoration:underline;
}*/

.GridHeaderRow th:first-child {
  border-left: 1px solid #B1B9C3;
}

.GridHeaderRow th:last-child {
  border-right: 1px solid #B1B9C3;
  padding-right:10px;
}

.GridHeaderRow th a
{
  color: #606C7D;
}

.GridHeaderRow th img
{
    margin-left: 5px;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table.sortable th:hover{
    text-decoration:underline;
}

.GridTable .GridDataRow{
  border: 1px solid #D7DBE0;
  border-top: 0px;
}

.GridDataRow
{
    background-color: #ffffff;
}

.GridDataRow:hover
{
    background-color: #DFEDFB;
    border-color:#B1B9C3;
}

.GridHeaderRow th:first-child input[type="radio"], 
.GridHeaderRow th:first-child input[type="checkbox"], 
.GridDataRow td:first-child input[type="radio"], 
.GridDataRow td:first-child input[type="checkbox"]
{
	margin-right:0px;
}

.GridDataRow td
{
  padding:8px 5px;
}

.GridDataRow td img
{
  border-radius: 3px;
}

.GridHeaderRow th:first-child,
.GridDataRow td:first-child,
.GridDataRowAlternate td:first-child
{
	padding-left:10px;
}

.GridDataRowEmpty td
{
	text-align:left;
}

.GridDataRowAlternate
{
    background-color: #F6F7F9;
}

.GridDataRowAlternate td
{
  padding: 5px;
}

.GridDataRowEmpty
{
  border-bottom: 1px solid #ddd;

}

.GridDataRowEmpty td
{
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.GridDataRowDisabled
{
    background-color: #C1C1C1;
    color: #EFEBEB;
}

.ContentContainer, .HomePageContentContainer {
    position: relative;
    clear: both;
    overflow: auto;
    height: auto !important;
    min-height: 500px;
    text-align: center;
    width: 100%;
}

.MasterContentLeft, .HomePageMasterContentLeft {
    float: left;
    overflow: auto;
    height: 100%;
}

.MasterContentRight, .HomePageMasterContentRight {
    float: right;
}

.MasterContentMiddle, .HomePageMasterContentMiddle {
    overflow: inherit;
    text-align: left;
    padding:20px 36px 0px 36px;
	box-shadow: inset 40px 50px 75px -75px #000;
	background:#f9f9f9;
}

/* ICONS */

.XSmallIcon {
    width: 16px;
    height: 16px;
}

.SmallIcon {
    width: 24px;
    height: 24px;
}

.MediumIcon {
    width: 32px;
    height: 32px;
}

.LargeIcon {
    width: 48px;
    height: 48px;
}

.XLargeIcon {
    width: 64px;
    height: 64px;
}

.ModalPopupContainer 
{
  visibility:hidden;
  max-width: 90%;
  position: absolute;
  left: 40%;
  top: 30%;
  min-height: 225px;
  min-width: 400px;
  border: 1px solid #d0d0d0;
  background-color: #FFFFFF;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0px 0px 40px #000;
  z-index: 99981!important;
}

.ModalPopupBackground
{
    visibility:hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 9000 !important;
}

.ModalPopupCloseIcon
{
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

img.ModalPopupCloseIcon {
  width: 24px;
  height: 24px;
}

.ModalPopupHeader 
{
  background: #F3F7FF;
  border-bottom: 1px solid #BFC8D9;
  line-height: 50px;
  color: #333;
  font-size: 1.25em;
  padding-left: 16px;
  padding-right: 45px;
  margin-bottom:14px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}


.ModalHeaderIcon
{
 vertical-align: middle;
  margin-right: 6px;
  height:28px !important;
  width:28px !important;
}

.ModalPopupPostbackLoadingPlaceholder
{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
}

.ModalPopupBody 
{
    max-height: 650px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom:10px;
    padding-left: 20px;
    padding-right: 30px;
}

.ModalPopupBody p
{
    margin-bottom: 5px;
}

.ModalPopupSeparator 
{
	clear: both;
}

.ModalPopupButtons 
{
	margin: 20px;
    margin-top: 0px;
}

.ModalPopupButtonsWrapper 
{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.ModalPopupHr 
{
	background-image: url('hl.png');
	background-repeat: repeat-x;
	min-height: 1px;
	height: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


.FormContentContainer {
	background:transparent;
	border:none; 
	padding:0;
	overflow:auto;
 }

.FormContentLabelContainer
{
  margin-bottom: 6px;
  display:inline-block;
}

.FormContentInputContainer
{
  margin-bottom: 8px;
}

.FormFieldContainer
{
    padding-bottom: 12px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 12px;
}

.FormFieldLabelContainer
{
    margin-bottom: 8px;
    font-weight: 400;
}

.FormFieldDescriptionContainer
{
    margin-bottom: 10px;
}

.FormFieldInputContainer 
{
  margin-left:10px;
}

.FormFieldInputContainer label
{
  margin-bottom: 6px;
  display:inline-block;
}

.FormFieldInputContainer input
{
  margin-bottom: 8px;
}

.LoadingPlaceholder
{
    text-align: center;
    margin-top:30px;
	margin-bottom: 5px;
}