﻿.UserRatingControl div 
{
	margin: 0px;
	padding: 0px;
}

.StarsContainer 
{
    width: 92px;
}

.StarsContainerBig 
{
    width: 172px;
}

.BaseStars, .AvgRatingStars, .YourRatingStars, .SetRatingStars 
{
	height: 28px;
}

.BaseStarsBig, .AvgRatingStarsBig, .YourRatingStarsBig, .SetRatingStarsBig 
{
	height: 33px;
}

.BaseStars, .BaseStarsBig 
{
	position: absolute;
}

.AvgRatingStars, .YourRatingStars, .AvgRatingStarsBig, .YourRatingStarsBig 
{
	position: relative; 
	overflow: hidden; 
}

.SetRatingStars, .SetRatingStarsBig 
{
	position: relative;
}

.UserRatingControl .SetRatingStars .Star, .UserRatingControl .SetRatingStarsBig .StarBig 
{
	text-indent: -9000px;
	position: absolute;
	float: left;
}

.UserRatingControl .SetRatingStarsBig .StarBig 
{
    line-height: 30px;
}

.UserRatingControl .SetRatingStars .Star:hover 
{
	background-image: url('/_images/ratings/yellowstars_small.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.UserRatingControl .SetRatingStarsBig .StarBig:hover 
{
	background-image: url('/_images/ratings/yellowstars_big.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.UserRatingControl .Rating1 { width:18px; }
.UserRatingControl .Rating2 { width:37px; }
.UserRatingControl .Rating3 { width:55px; }
.UserRatingControl .Rating4 { width:73px; }
.UserRatingControl .Rating5 { width:92px; }

.UserRatingControl .RatingBig1 { width:34px; }
.UserRatingControl .RatingBig2 { width:69px; }
.UserRatingControl .RatingBig3 { width:103px; }
.UserRatingControl .RatingBig4 { width:138px; }
.UserRatingControl .RatingBig5 { width:172px; }

.ResetRatingCaption 
{
    margin-left:5px;
}