﻿.NewMessageContainer 
{
    background: #FFFFFF; 
    margin: 10px; 
    padding: 10px; 
    border: 1px solid #A6A6A6; 
    margin-bottom: 30px;
}

.NewMessageAvatar 
{
    width: 32px; 
    height: 32px; 
    margin-right: 6px; 
    background-color: #999999; 
    display: inline-block; 
    float: left;
}

.NewMessageField 
{
    width: calc(100% - 54px); 
    margin-bottom: 5px;
}

.PostMessageButtonContainer 
{
    text-align: right;
}

.MessageContainer 
{
    background: #FFFFFF; 
    margin: 10px; 
    padding: 10px; 
    border: 1px solid #A6A6A6;
}

.MessageHeaderContainer 
{
    padding-bottom: 5px; 
    height: 40px;
}

.MessageAvatar 
{
    width: 32px; 
    height: 32px; 
    margin-right: 6px; 
    background-color: #999999; 
    display: inline-block; 
    float: left; 
    margin-top: 3px;
}

.MessageSenderInformationContainer 
{
    display: inline-block; 
    float: left;
}

.MessageSenderNameContainer 
{
    font-weight: 700; 
    color: #4d82ae; 
    text-decoration: none;
}

.MessageSentDateTimeContainer 
{
    color: #999999; 
    margin: 2px 0; 
    font-size: .85em;
}

.MessageDataContainer 
{
    clear: both; 
    margin-bottom: 15px;
}

.MessageCommentContainer 
{
    padding: 6px 0; 
    clear: both; 
    border-top: 1px solid #E6E6E6;
}

.MessageCommentAvatar 
{
    width: 24px; 
    height: 24px; 
    margin-right: 6px; 
    background-color: #999999; 
    display: inline-block; 
    float: left; 
    margin-top: 4px;
}

.MessageCommentDataContainer 
{
    display: inline-block; 
    width: calc(100% - 30px);
}

.MessageCommentData 
{
    font-size: .85em;
}

.MessageCommentSenderName 
{
    font-weight: 700; 
    color: #4d82ae; 
    text-decoration: none; 
    margin-right: 6px;
}

.MessageCommentTimestamp 
{
    color: #999999; 
    margin: 2px 0; 
    font-size: .75em;
}

.MessageReplyCommentContainer 
{
    padding-top: 6px; 
    clear: both; 
    border-top: 1px solid #E6E6E6;
}

.MessageReplyCommentAvatar 
{
    width: 24px; 
    height: 24px; 
    margin-right: 6px; 
    background-color: #999999; 
    display: inline-block; 
    float: left; 
    margin-top: 2px;
}

.MessageReplyCommentField 
{
    width: calc(100% - 43px);
}

.MessageActionButtonsContainer 
{
    float: right;
}

.MessageActionButtonsContainer div 
{
    display: inline; 
    margin: 2px;
}

.WallLoadingPanel 
{
    text-align: center;
}

.WallLoadingPanel img 
{
    vertical-align: middle; 
    margin-right: 6px;
}