/* ENROLLMENTS WIDGET */

#EnrollmentsWidgetEnrollmentTabsPanel 
{
    margin-bottom: 10px;
}

/* FEED WIDGET */

.FeedWidgetItemContainer 
{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #AAAAAA;
}

.FeedWidgetItemImage 
{
    float: left;
}

.FeedWidgetItemImage img 
{
    border-width: 15px;
}

.FeedWidgetItemContentContainer 
{
    margin-left: 38px;
}

.FeedWidgetItemSource 
{
    font-size: 14px;
    font-weight: bold;
    color: #4d82ae;
}

.FeedWidgetItemAuthor 
{
    font-size: 12px;
    margin-bottom: 8px;
}

.FeedWidgetItemMessage 
{
    margin-bottom: 4px;
}

.FeedWidgetItemTimestamp 
{
    font-size: 11px;
    margin-bottom: 8px;
    color: #9197a3;
}

.FeedWidgetItemCommentsLink 
{
}

.FeedWidgetItemCommentsLink a 
{
    cursor: pointer;
    font-size: 13px;
}

.FeedWidgetCommentImage 
{
    float: left;
}

.FeedWidgetCommentImage img 
{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.FeedWidgetCommentContainer 
{
    margin-left: 35px;
}

.FeedWidgetTextBoxComment 
{
    width: 97%;
}

.FeedWidgetCommentContentContainer 
{
    background-color: #EFEFEF;
}

.FeedWidgetCommentTextContainer 
{
    margin-left: 35px;
    display: block;
    height: 38px;
    line-height: 28px;
}

.FeedWidgetItemComment 
{
    margin-bottom: 4px;
    display: inline;
    font-size: 12px;
    margin-left: 3px;
}

.FeedWidgetUserNameComment 
{
    display: inline;
    font-size: 12px;
    font-weight: bold;
    color: #4d82ae;
}

/* CALENDAR WIDGET */

.WidgetCalendarMonthLabel 
{
    float: left;
    margin-bottom: 5px;
    font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
}

.OpenCalendarLink 
{
    float: right;
}

.OpenCalendarLink img
{
    margin-bottom: 5px;
}

/* the modal */

#CalendarModal 
{
    overflow: hidden;
    min-width: 750px;
    min-height: 700px;
}

#CalendarBodyContent 
{
    padding: 20px;
    background-color: #FFFFFF;
}

#CalendarModalPopupModalPopupBody 
{
    padding: 0;
    border: 0;
    max-height: 100%;
}

/* TRANSCRIPT WIDGET */

#TranscriptWidgetOpenTranscriptLink
{
    float: right;
    display: inline-block;
    margin-top: 8px;
    margin-right: 4px;
}

#TranscriptPrintOptionsContainer
{
    position: relative;
    float: right;
    display: inline-block;
    margin-top: 8px;
    margin-right: 4px;
}

.ModalPopupBody #TranscriptPrintOptionsContainer
{
    margin-top: 12px;
    margin-right: 6px;
}

/* responsive */
@media (max-width: 768px) 
{

    #CalendarModal 
    {
        overflow: auto;
        min-width: inherit; 
        max-width: 90%;
        min-height: inherit; 
        max-height: 1028px; 
    }

}

@media (max-width: 480px) 
{

    #CalendarModal 
    {
        overflow: auto;
        min-width: inherit; 
        max-width: 100%;
        min-height: inherit; 
        max-height: 480px; 
    }

    #CalendarBodyContent 
    {
        padding: 10px;
        background-color: #FFFFFF;
    }

}

#CalendarBodyContentTop
{
    width : 100%;
    display: table;
}

#CalendarBodyContentTopRow
{
    display: table-row;
}

.CalendarBodyContentTopLeftCorner 
{
    display: table-cell;
    width: 24px;
}

.CalendarBodyContentTopRightCorner
{
    display: table-cell;
    width: 24px;
}

#CalendarThisMonth img
{
    position: relative;
    top: 2px;
    left: 2px;
    vertical-align: baseline;
}

.CalendarCurrentMonthLabelModal 
{
    display: table-cell;
    text-align: center;
    font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
}

.CalendarPagerLinksModal 
{
    float: right;
}

.CalendarBodyLoadingModal 
{
    text-align: center;
    margin-bottom: 5px;
}

/* modal close button wrapper */
#ModalPopupButtonsCalendarModalPopup 
{
    text-align: center;
}

/* the calendars */
#ModalCalendarTableDiv, #WidgetCalendarTableDiv 
{
    clear: both;
}

.ModalCalendarTable, .WidgetCalendarTable 
{
    width: 100%;
    border: 1px solid #999999;
}

.ModalCalendarTable td 
{
    vertical-align: top;
    width: 82px;
    height: 82px;
    border: 1px solid #999999;
}

.WidgetCalendarTable td 
{
    vertical-align: top;
    width: 52px;
    height: 52px;
    border: 1px solid #999999;
}

.ModalCalendarTable th, .WidgetCalendarTable th 
{
    background-color: #999999;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #999999;
    width: 14.29%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.CurrentDayCell 
{
    background-color: #CCE8FF;
}

.DayInMonthCell 
{
}

.DayNotInMonthCell 
{
    background-color: #DADADA;
    color: #666666;
}

.DayNumberDiv, .EventInfoDiv 
{
    margin: 3px;
}

/* PORTAL STATISTICS WIDGET */

#PortalStatisticsWidgetTable 
{
    width: 100%;
    margin-top: 3%;
}

#PortalStatisticsWidgetTable td 
{
	width: 50%;
	text-align: center;
}

.PortalStatisticsWidgetStatisticHeading 
{
    font-weight: 700;
}

/* LEADERBOARDS WIDGETS */

#LeaderboardsAdministratorWidgetLeaderboardOptionsContainer, #LeaderboardsLearnerWidgetLeaderboardOptionsContainer 
{
    margin-top: 10px;
    margin-bottom: 15px;
}

#LeaderboardsAdministratorWidgetLeaderboardTypeSelector, 
#LeaderboardsAdministratorWidgetLeaderboardStartTypeSelector,
#LeaderboardsLearnerWidgetLeaderboardTypeSelector,
#LeaderboardsLearnerWidgetLeaderboardStartTypeSelector,
#LeaderboardRelativeToLabel,
#LeaderboardsLearnerWidgetLeaderboardRelativeToSelector
{
    margin-right: 6px;
    margin-bottom: 6px;
}

.LeaderboardTrophyIcon
{
    margin-right: 6px;
}

.LeaderboardCurrentUserRow 
{
    background-color: #F9F1BD !important;
    font-weight: 700;
}

/* ENROLLMENT WIDGET TILES */
.Tile 
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0px 3px 14px #999999;
    -webkit-box-shadow: 0px 3px 14px #999999;
    -moz-box-shadow: 0px 3px 14px #999999;
    overflow: hidden;
    background: #FFFFFF;    
	box-shadow:0px 3px 14px #999999;
	display:inline-block;
	position:relative;
	border-radius:5px;
	width:200px;
	height: 350px;
	margin:0px 25px 25px 25px;
	margin-right:0;
	vertical-align:top;
	white-space:normal;
}

.Tile img 
{
    opacity: 1.0;
}

.TileImage
{
    position: relative;
}

.TileImage img
{
    width: 150px;
    height: 150px;
}

.TileContentOuterWrapper 
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.TileContentInnerWrapper 
{
    display: table;
    width: 100%;
    height: 100%;
}

.TileTitle
{
    margin-top: 10px;
    font-size: .90em;
    color: #777777;
    font-weight: 500;
}

.DisabledTile .TileSubTitle,
.DisabledTile .TileTitle
{
    color: #AFADAD;
}

.TileEnrollment {
	box-shadow:0px 3px 14px #999999;
	display:inline-block;
	position:relative;
	border-radius:5px;
	width:150px;
	margin:25px;
	margin-right:0;
	vertical-align:top;
	white-space:normal;
}


.TileEnrollmentAction {
	position:absolute;
	z-index:10;
	bottom:-20px;
	right:10px;
	width:35px;
	height:35px;
	border:5px solid rgba(255, 255, 255, 0.3);
	border-radius:100px;
}

.TileEnrollmentAction img 
{ 
	max-width:100%;
	max-height:100%;
}

.TileEnrollmentStatus {
	position:absolute;
	z-index:10;
	top:10px;
	right:10px;
	display:inline-block;
	font-size:11px;
	font-weight:600;
	background:#88af5b;
	color:white;
	border-radius:4px;
	padding:4px 7px;
}

.Tile.TileEnrollmentExpired .TileEnrollmentImg { opacity:0.5; }
.Tile.TileEnrollmentExpired .TileEnrollmentContent { opacity:0.5; }
.Tile.TileEnrollmentPending { opacity:0.5; }
.Tile.TileEnrollmentCompleted .TileEnrollmentImg > img { opacity:0.5; }


.Tile.TileEnrollmentOverdue .TileEnrollmentStatus { background:#beab2b; }
.Tile.TileEnrollmentPending .TileEnrollmentStatus { background:#096394; }
.Tile.TileEnrollmentExpired .TileEnrollmentStatus { background:#51545a; }
.Tile.TileEnrollmentLocked .TileEnrollmentStatus { background:#b64545; }

.TileProgressBar {
	display:block;
	width:100%;
	height:10px;
	background:white;
	border-radius:100px;
	margin-top:4px;
	position:relative;
}
.TileProgressBar > span {
	position:absolute;
	top:2px;
	left:2px;
	height:6px;
	background:#6fc159;
	border-radius:100px;
}

.TileEnrollmentImg { display:block; position:relative; }
.TileEnrollmentImg > img { border-radius:5px 5px 0px 0px; }
.TileEnrollmentImg img
{
    width: 200px;
    height: 200px;
}


.TileDiscussion {
	width:25px;
	display:inline-block;
	float:right;
}
.TileDiscussion img { max-width:100%; }

.TileEnrollmentCheck {
	position:absolute;
	z-index:10;
	top:50%;
	text-align:center;
	width:100%;
	margin-top:-30px;
}
.TileEnrollmentCheck img 
{ 
	width:60px;
	height:60px;
	display: inline;
}

.TileEnrollmentContent { min-height:80px; padding:13px; padding-top:16px; line-height:1.5; color:#919191; }
.TileEnrollmentContent h4 { font-weight:400; line-height:1.2; font-size:16px; color:#313131; margin:0; margin-bottom:6px; }
.TileEnrollmentContent h4 a { text-decoration:none; color:#313131; }
.TileEnrollmentContent h4 a:hover { color:#096394; }
.TileEnrollmentContent strong { color:#313131; }
.TileEnrollmentContent .TileEnrollmentDetails { font-size:11px; }

.TileEnrollmentFooter {
	
	background:#dee6ed;
	border-radius:0px 0px 5px 5px;
	border-top:1px solid rgba(0, 0, 0, 0.05);
	color:#707b85;
	padding:4px 10px;
	font-size:11px;
	height:100%;
}

.TileEnrollmentProgressBarContainer { float:left; width:75%; padding-top:8px; }