﻿.ThemeSelectorPanel 
{
    width: 200px;
    display: table-cell;
    padding-right: 25px;
}

.ThemeSamplesPanel
{
    display: table-cell;
}

.ThemeSamplesTextContainer
{
    margin-bottom: 15px;
}

#ThemeStylingSamplesPanel .ThemeSamplesImagesContainer img
{
    width: 175px;
    margin-right: 10px;
    margin-bottom: 10px;
	border: 1px solid #595D63;
}

#ThemeIconsetSamplesPanel .ThemeSamplesImagesContainer img
{
    margin-right: 6px;
    margin-bottom: 6px;
}

#ThemeSampleScreensModal
{
    width: 75%;
}

#ThemeSampleScreensModalModalPopupBody
{
    max-height: 750px;
}

#ThemeSampleScreensModalContentPanel
{
    text-align: center;
}

#ThemeSampleScreensModalContentPanel img
{
    max-width: 90%;
    max-height: 700px;
    margin: 10px 0;
    box-shadow: 0px 1px 13px -1px #9A9A9A;
    -moz-box-shadow: 0px 1px 13px -1px #9A9A9A;
    -webkit-box-shadow: 0px 1px 13px -1px #9A9A9A;
}