/*--- xAPIEndpoint Form ---*/
.xAPIEndpointForm 
{
    width: 600px;
}
.KeyInfo 
{
   width: 800px; 
}
.xAPIEndpointUpdate 
{
   margin-top:20px;
   margin-bottom:0px;
}
.xAPIEndpointUpdate .ImageLink
{
   float:right;
}
.KeyInfo .FieldLabel
{
    text-align: right;
    font-weight: 700;
    padding-right: 10px;
    width: 222px;
    vertical-align: top;
}
.xAPIEndpointForm input[type="text"] {
    width: 280px;
}
.xAPIEndpointUpdate .Buttons
{
    text-align: right;
    width:100%;
    margin-top:20px;
}
.xAPIEndpointForm .Buttons #SaveApi, .ApiForm  .Buttons #CancelApi
{
    
}

.xAPIEndpointForm .FieldLabel
{
    text-align: right;
    font-weight: 700;
    padding-right: 10px;
    width: 165px;
    vertical-align: top;
}
.xAPIEndpointForm .Field, .FieldLabel
{
    padding-top: 20px;
}
.xAPIEndpointForm .Field
{
  width: 280px;
}