#ContentMenuToggle {
    display: inline-block;
    padding: 12px 12px;
    margin-bottom: 0px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: default;
    float: left;
    background: #989898;
    margin-right: 10px;
}

#ContentMenuToggle span 
{
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
}

#ContentMenuToggle span:last-child 
{
    margin-bottom: 0px;
}

#ContentHeaderAndNavigationContainer 
{
    width: 100%;
    height: 49px;
    position: absolute;
    top: 0;
    left: 0;
    background: #EFEFEF;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #DADADA;
}

#ContentNavigationButtonsContainer 
{
    float: right;
    max-width: 39%;
    margin-top: 8px;
}

#ContentNavigationButtonsContainer .ContentNavigationButton 
{
    cursor: pointer;
    margin-right: 10px;
    display: inline;
    width: 24px;
    height: 24px;
    margin-top: 5px;
}

.ContentCompletionStatusImage 
{
    float: left;
    margin-top: 13px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#ContentTitle 
{
    float: left;
    margin-top: 13px;
    font-weight: normal;
    font-size: 1.25em;
    max-width: 53%;
    text-transform: uppercase;
}

#LessonFrame 
{    
    width: 100%; 
    height: calc(100% - 50px); 
    position: absolute; 
    top: 50px; 
    left: 0px; 
    right: 0px;     
    border: 0px none;
    transition: visibility .2s;
}