.ObjectOptionsPanel 
{
    margin-left: 96px;
}

@media only screen and (max-width: 480px) 
{
    .FullDropDownBreadcrumbContainer
    {
        margin-left: 96px;
    }
}

#CertificateTemplatesModal
{
    min-width: 50%;
    max-width: 50%;
}

#CertificateTemplateListing 
{
    margin-bottom: 20px;
}