﻿#GroupDocumentRepositoryFoldersWrapperContainer
{}

.ObjectOptionsPanel 
{
    margin-left: 96px;
}

@media only screen and (max-width: 480px) 
{
    .FullDropDownBreadcrumbContainer
    {
        margin-left: 96px;
    }
}

#DocumentFolderModal
{
    width: 45%;
}