﻿<div>
    <p align="center">
        <strong>ASENTIA SOFTWARE APPLICATION SERVICES AGREEMENT</strong>
    </p>

    <p>
        THIS AGREEMENT ("Agreement") is entered into between InteractiveCommunications Solutions Group, Inc. ("Licensor"), with its principal place of business located at 8221 Ritchie Highway, Suite 303, Pasadena, Maryland, 21122 and You ("Licensee") and shall be effective as of the date you click to accept this agreement (the "Effective Date").
    </p>

    <p>
        <strong>RECITALS</strong>
    </p>

    <p>
        WHEREAS, Licensor is engaged in the business of providing access to the Software on the Licensor's server(s);
    </p>

    <p>
        WHEREAS, Licensor desires to convey, and Licensee desires to receive,access to the Software (the "Service") pursuant to the terms andconditions contained in this Agreement.
    </p>

    <p>
        NOW, THEREFORE, Licensor and Licensee agree as follows:
    </p>

    <ol>
        <li>
            <p><strong>Definitions</strong></p>
            <ol type="A">
                <li>
                    "Software" means the Asentia Learning Management System software that is hosted on the Licensor's servers, in whole or in part, all copies thereof, all media and documentation (whether physical or electronic) associated therewith and all Updates thereto. "Software" does not include data or media entered or loaded into the Asentia Learning Management System software through its normal, intended use ("User Content").
                </li>
                <li>
                    "Updates" means any and all updates, upgrades, new releases, modifications, and/or supplements to the Software or Service that may be applied by Licensor.
                </li>
                <li>
                    "Documentation" shall mean electronic or printed materials produced by Licensor containing instructions and guidance on the use of the Software, including all Updates thereto.
                </li>
                <li>
                    "Designated Support Contacts" shall mean the individual(s) that Licensee has named to request and receive Software Support as set forth under this Agreement.
                </li>
                <li>
                    "PHI" means (i) "protected health information" as defined in 45 CFR &sect; 160.103, and (ii) any other patient or health information protected by the Health Insurance Portability and Accountability Act of 1996, as it may be amended from time to time ("HIPAA"), including the regulatory revisions implemented pursuant to the Health Information Technology for Economic and Clinical Health Act (the "HITECH ACT").
                </li>
            </ol>
        </li>

        <li>
            <p><strong>General</strong></p>
            <ul type="none">
                <li>
                    UNDER THE TERMS OF THIS LICENSE, THE SOFTWARE IS LICENSED (AND NOT SOLD) TO LICENSEE. LICENSOR IS WILLING TO LICENSE THE SOFTWARE TO LICENSEE ONLY UPON THE CONDITION THAT LICENSEE ACCEPTS ALL OF THE TERMS CONTAINED IN THIS LICENSE.
                </li>
            </ul>
        </li>

        <li>
            <p><strong>Grant of License</strong></p>
            <ol type="A">
                <li>
                    Licensor grants Licensee a non-exclusive, royalty-free, worldwide right to (i) access and use the Software and Service, and (ii) transmit and receive data related to Licensee's Use of the Software and Service.
                </li>
                <li>
                    Licensor shall provide access to the Software and its Service for use for its intended purpose and in accordance with the specifications set forth in any documentation relating to the Software provided by Licensor. Such access will be continuous on a 24 hour, 7 days a week basis except for interruptions by reason of maintenance or downtime beyond Licensor's reasonable control. Licensee is responsible for providing all hardware and software necessary to access the Software and Service as provided by Licensor.
                </li>
                <li>
                    Licensee acknowledges and agrees that the Software is a proprietary product of Licensor protected under U.S. copyright law. Licensee further acknowledges and agrees that all right, title, and interest in and to the Software, including associated intellectual property rights, are and shall remain with Licensor. This License does not convey to Licensee an interest in or to the Software, but only a limited right of use revocable in accordance with the terms of this License.
                </li>
            </ol>
        </li>

        <li>
            <p><strong>Limitations on Use</strong></p>
            <ol type="A">
                <li>
                    Licensee may not modify, translate, reverse engineer, decompile or create derivative works based upon the Software. Licensee agrees to use the Software in a manner that complies with all applicable laws including intellectual property and copyright laws. Licensor expressly reserves all rights not expressly granted to Licensee herein.
                </li>
                <li>
                    Licensee will not: (i) transmit or share identification or password codes to persons other than authorized users (ii) permit the identification or password codes to be cached in proxy servers and accessed by individuals who are not authorized users, or (iii) permit access to the software through a single identification or password code being made available to multiple users on a network.
                </li>
                <li>
                    Licensee shall not (i) use the Software to download, upload, post, publish, insert, attach, use, share with others or otherwise copy or distribute music, movies, images or other content for which Licensee has not obtained all necessary rights from the owner or rightful licensor of such content; (ii) modify content identifiers (such as the title or the name of the creator of that content) in order to disguise the origin or description of any content; (iii) download, upload, post, publish, insert, attach, use, share with others or otherwise copy or distribute any content that is defamatory, harassing, obscene, invasive of another's privacy, or is otherwise illegal; (iv) harm minors in any way, including without limitation by sharing, posting, publishing or downloading child pornography; (v) upload, share with others or otherwise distribute any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment; (vi) interfere with or disrupt the Software or servers or networks connected to the Software, or disobey any requirements, procedures, policies or regulations of networks connected to the Software; or (vii) collect any information about Licensor's network or users of the Software by monitoring, interdicting or intercepting any process of the Software.
                </li>
                <li>
                    Licensee understands and acknowledges that the Software and related Services are not configured to receive, store, process or otherwise handle PHI ("protected health information") and that Licensor is neither a "Covered Entity" nor a "Business Associate." Licensee shall not use or allow to be used, the Software or Service to receive, store, process or otherwise handle PHI and acknowledges that such use constitutes a violation of this Agreement.
                </li>
                <li>
                    Notwithstanding the foregoing, Licensee shall abide by Licensor's Acceptable Use Policy, a copy of which has been provided to Licensee.
                </li>
            </ol>
        </li>

        <li>
            <p><strong>Term, Termination and Renewal</strong></p>
            <ol type="A">
                <li>
                    This Agreement commences on the Effective Date and shall continue for a period of one (1) calendar year unless extended hereunder. Thereafter this Agreement will automatically renew for successive one (1) year periods unless either party gives the other party not fewer than thirty (30) days' notice of its intent not to renew, or unless terminated earlier under the terms contained within this Agreement.
                </li>
                <li>
                    Either party may terminate this agreement for material breach, provided, however, that the terminating party has given the other party notice of such breach and at least twenty-one (21) days to cure the breach. Termination for breach will not preclude the terminating party from exercising any other remedies for breach.
                </li>
            </ol>
        </li>

        <li>
            <p><strong>Fees</strong></p>
            <ol type="A">
                <li>
                    Licensee shall be responsible for and shall pay to Licensor the agreed upon fees as described and executed in any attached and/or subsequent agreement related the Software or this Agreement. Any sum due Licensor for which payment is not otherwise specified shall be due and payable thirty (30) business days after receipt by Licensee of an invoice from Licensor.
                </li>
                <li>
                    The fees for the license of the Software do not include taxes. If Licensor is required to pay or collect any federal, state, local, or value-added tax on any fees charged under this Agreement, or any other similar taxes or duties levied by any governmental authority, excluding taxes levied on Licensor's net income, then such taxes and/or duties will be billed to and paid by Licensee immediately upon receipt of Licensor's invoice and supporting documentation for the taxes or duties charged.
                </li>
            </ol>
        </li>

        <li>
            <p><strong>Maintenance Services</strong></p>
            <ul type="none">
                <li>
                    During the term of this Agreement, Licensor may, from time to time, update the Software or Service. Such Updates will be announced by email to the Licensee's designated contact. Along with such Updates, Licensor shall provide Licensee with Documentation describing the purpose, function and utility of the enhancements contained within the Updates.
                </li>
            </ul>
        </li>

        <li>
            <p><strong>Software Support</strong></p>
            <ol type="A">
                <li>
                    During the term of this Agreement, Licensor shall provide the Designated Support Contacts, upon Designated Support Contact's request, telephone, email or other consultations limited to the normal use of the Software as described in the Documentation ("Software Support"). Licensor shall not be obligated to provide Software Support to individuals who are not Designated Support Contacts, including "end-users".
                </li>
                <li>
                    Software Support shall be provided during the hours of 8:30 a.m. through 5:00 p.m., Eastern Time, Monday through Friday (excluding holidays) (the "Support Hours"). Licensor shall respond to Software Support requests within four (4) hours of receiving such requests except in the case where the four (4) hour requirement extends outside the Support Hours. In such cases, Licensor shall respond within four (4) hours of the resumption of the Support Hours.
                </li>
                <li>
                    Designated Support Contacts shall contact Licensor to request Software Support only by telephone or through Licensor-supplied online support system.
                </li>
                <li>
                    Software Support does not include support for third-party content ("debugging", "troubleshooting" or research).
                </li>
            </ol>
        </li>

        <li>
            <p><strong>Limitations on Transfer</strong></p>
            <ul type="none">
                <li>
                    This License is personal to Licensee and may not be conveyed in any way without the prior written consent of Licensor. Any purported sale, assignment, transfer or sublicense without such consent will be null and void ab initio, and will automatically terminate this Agreement.
                </li>
            </ul>
        </li>

        <li>
            <p><strong>Warranties and Disclaimers</strong></p>
            <ol type="A">
                <li>
                    Licensor warrants that it is the lawful owner of the Software and/or that it has the authority to grant the License specified herein.
                </li>
                <li>
                    The Software is provided "AS IS". This limited warranty extends only to the Licensee. Licensee's sole and exclusive remedy and the entire liability of Licensor under this limited warranty will be, at Licensor's option, repair, replacement, or refund of the Software if reported (or, upon request, returned) to Licensee. This warranty does not apply if the Software has been altered, except by Licensor, or in any case where Licensor has not received a payment of purchase price or license fee.
                </li>
                <li>
                    THE WARRANTIES EXPRESSLY STATED IN THIS AGREEMENT ARE THE SOLE AND EXCLUSIVE WARRANTIES OFFERED BY LICENSOR. THERE ARE NO OTHER WARRANTIES OR REPRESENTATIONS, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, THOSE OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. THE SOFTWARE IS PROVIDED TO LICENSEE ON AN "AS IS" AND "AS AVAILABLE" BASIS. LICENSEE ASSUMES ALL RESPONSIBILITY FOR DETERMINING WHETHER THE SOFTWARE OR THE INFORMATION GENERATED THEREBY IS ACCURATE OR SUFFICIENT FOR LICENSEE'S PURPOSES. LICENSOR DOES NOT WARRANT THAT THE SOFTWARE WILL BE ERROR-FREE OR UNINTERRUPTED. LICENSOR IS NOT RESPONSIBLE FOR SOFTWARE INSTALLED OR USED BY LICENSEE OR USERS OR FOR THE OPERATION OR PERFORMANCE OF THE INTERNET.
                </li>
            </ol>
        </li>

        <li>
            <p><strong>Limitation of Liability</strong></p>
            <ul type="none">
                <li>
                    IN NO EVENT WILL LICENSOR BE LIABLE FOR ANY INCIDENTAL OR CONSEQUENTIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, LOSS OF USE OR LOST BUSINESS, REVENUE, OR GOODWILL) ARISING IN CONNECTION WITH THIS AGREEMENT, THE SOFTWARE AND/OR THE USE THEREOF, UNDER ANY THEORY OF TORT, CONTRACT, STRICT LIABILITY OR NEGLIGENCE, EVEN IF LICENSOR HAS BEEN ADVISED, KNEW OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT SHALL ANY DAMAGES WHICH MAY BE ASSESSED UPON LICENSOR FOR ANY REASON EXCEED THE PURCHASE PRICE PAID BY LICENSEE FOR THE SOFTWARE.
                </li>
            </ul>
        </li>

        <li>
            <p><strong>Indemnification</strong></p>
            <ol type="A">
                <li>
                    Licensor shall defend, indemnify and hold Licensee harmless from and against any claim, suit, demand, or action alleging that the Software or any component thereof infringes a copyright, trade secret, or any other proprietary right of any third party recognized under the laws of the United States, and Licensor shall indemnify Licensee against all costs, expenses, (including reasonable attorney's fees), and damages arising from any such claim, suit, demand, or action; provided, however, that: (i) Licensee, its authorized employees, agents, contractors or subcontractors have not altered or modified the Software or any component thereof; (ii) Licensee shall have given Licensor prompt written notice of such claim, suit, demand, or action; (iii) Licensee shall cooperate with Licensor in the defense and settlement thereof; and, (iv) Licensor shall have control of the defense of such claim, suit, demand, or action and the settlement or compromise thereof. If a temporary or a final injunction is obtained against Licensee's use of the Software or any portion thereof by reason of an infringement of a U.S. copyright, trade secret, or other proprietary right, Licensor will, at its option and expense, either (i) procure for Licensee the right to continue using the Software or (ii) replace or modify the Software or such infringing portion thereof so that it no longer is infringing, so long as the utility or performance of the Software is not adversely affected by such replacement or modification. Licensor shall have no liability to Licensee for any infringement action or claim that is based upon or arises out of the use of the Software or any component thereof in combination with any other system, equipment, or software in the event that, but for such use, the claim of infringement would not lie.
                </li>
                <li>
                    Notwithstanding Paragraph 12. A., Licensee shall defend, indemnify and hold Licensor harmless from and against any claim, suit, demand, or action incurred by Licensor arising out of or in conjunction with Licensee's use or misuse of the Software, and Licensee shall indemnify Licensor against all costs, expenses, attorney's fees, and damages incurred therein from any such claim, suit, demand, or action including any costs incurred to enforce the provisions of this paragraph; provided, however, that: (i) Licensor shall have given Licensee prompt written notice of such claim, suit, demand, or action; (ii) Licensor shall cooperate with Licensee in the defense and settlement thereof; and, (iii) Licensee shall have control of the defense of such claim, suit, demand, or action and the settlement or compromise thereof.
                </li>
            </ol>
        </li>

        <li>
            <p><strong>User Content and Confidentiality</strong></p>
            <ol type="A">
                <li>
                    Licensee hereby grants to Licensor a non-exclusive, royalty-free, worldwide right and license during the term of this Agreement to do the following to the extent necessary in the performance of Service: (a) digitize, convert, install, upload, select, order, arrange, compile, combine, synchronize, use, reproduce, store, process, retrieve, transmit, distribute, publish, publicly display, publicly perform and hyperlink the User Content; and (b) make archival or back-up copies of the User Content. Except for the rights expressly granted herein, Licensor does not acquire any right, title or interest in or to the User Content, all of which will remain solely with Licensee.
                </li>
                <li>
                    Licensee hereby warrants to Licensor, and agrees that during the term of this Agreement it will ensure that (a) Licensee is the owner or valid licensee of all data and User Content it uploads in conjunction with the Service, and that Licensor has secured all necessary licenses, consents, permissions, waivers and releases for the use of the data and User Content and each element thereof, including without limitation, all trademarks, logos, names and likenesses contained therein, without any obligation by Licensor to pay any fees, residuals, guild payments or other compensation of any kind to any person; (b) Licensee's use, publication and display of the User Content will not infringe any copyright, patent, trademark, trade secret or other proprietary or intellectual property right of any person, or constitute a defamation, invasion of privacy or violation of any right of publicity or any other right of any person, including, without limitation, any contractual, statutory or common law right or any "moral right" or similar right however denominated; (c) Licensee will comply with all applicable laws, rules and regulations regarding the User Content and will use the services only for lawful purposes; (d) Licensee has used its best efforts to ensure that the User Content is and will at all times remain free of all computer viruses, worms, Trojan horses and other type of malicious code.
                </li>
            </ol>
        </li>

        <li>
            <p><strong>Confidentiality</strong></p>
            <ol type="A">
                <li>
                    "Confidential Information" means non-public information, technical data or know-how of a party and/or its affiliates, which is furnished to the other party in written or tangible form in connection with this Agreement. Oral disclosure will also be deemed Confidential Information if it would reasonably be considered to be of a confidential nature or if it is confirmed at the time of disclosure to be confidential.
                </li>
                <li>
                    Notwithstanding the foregoing, Confidential Information does not include information which is: (i) already in the possession of the receiving party and not subject to a confidentiality obligation to the providing party; (ii) independently developed by the receiving party; (iii) publicly disclosed through no fault of the receiving party; (iv) rightfully received by the receiving party from a third party that is not under any obligation to keep such information confidential; (v) approved for release by written agreement with the disclosing party; or (vi) disclosed pursuant to the requirements of law, regulation, or court order, provided that the receiving party will promptly inform the providing party of any such requirement and cooperate with any attempt to procure a protective order or similar treatment. Confidential Information shall also not include feedback, responses, questions, comments, suggestions, ideas or the like relating to the Software or Services that Licensee provides to Licensor.
                </li>
                <li>
                    Neither party will use the other party's Confidential Information except as reasonably required for the performance of this Agreement. Each party will hold in confidence the other party's Confidential Information by means that are no less restrictive than those used for its own confidential materials. Each party agrees not to disclose the other party's Confidential Information to anyone other than its employees or subcontractors who are bound by confidentiality obligations and who need to know the same to perform such party's obligations hereunder.
                </li>
                <li>
                    Upon termination or expiration of this Agreement, except as otherwise agreed in writing or otherwise stated in this Agreement, each party will, upon the request of the disclosing party, either: (i) return all of such Confidential Information of the disclosing party and all copies thereof in the receiving party's possession or control to the disclosing party; or (ii) destroy all Confidential Information and all copies thereof in the receiving party's possession or control. The receiving party will then, at the request of the disclosing party, certify in writing that no copies have been retained by the receiving party, its employees or agents.
                </li>
                <li>
                    In case a party receives legal process that demands or requires disclosure of the disclosing party's Confidential Information, such party will give prompt notice to the disclosing party, if legally permissible, to enable the disclosing party to challenge such demand.
                </li>
            </ol>
        </li>

        <li>
            <p><strong>Relation of Parties</strong></p>
            <ul type="none">
                <li>
                    Nothing in this Agreement will create or imply an agency relationship between Licensor and Licensee, nor will this Agreement be deemed to constitute a joint venture or partnership between the parties.
                </li>
            </ul>
        </li>

        <li>
            <p><strong>Non-Solicitation of Customers</strong></p>
            <ul type="none">
                <li>
                    The Licensee shall not contact, solicit or enter into a contract with any person or company that is or has been a customer of Licensor for the purpose of providing that customer, for any or no cost, any product or service derived from Licensee's use of the Software.
                </li>
            </ul>
        </li>

        <li>
            <p><strong>Governing Law</strong></p>
            <ul type="none">
                <li>
                    This Agreement shall be governed by and construed and interpreted in accordance with the laws of the State of Maryland without giving effect to Maryland's conflict of law principles. Exclusive jurisdiction for any legal proceeding regarding this Agreement shall be in the State of Maryland.
                </li>
            </ul>
        </li>

        <li>
            <p><strong>Attorney's Fees</strong></p>
            <ul type="none">
                <li>
                    If any litigation or arbitration is necessary to enforce the terms of this Agreement, the prevailing party will be entitled to reasonable attorneys' fees and costs.
                </li>
            </ul>
        </li>

        <li>
            <p><strong>Severability</strong></p>
            <ul type="none">
                <li>
                    If any term of this Agreement is found to be unenforceable or contrary to law, it will be modified to the least extent necessary to make it enforceable, and the remaining portions of this Agreement will remain in full force and effect
                </li>
            </ul>
        </li>

        <li>
            <p><strong>Force Majeure</strong></p>
            <ul type="none">
                <li>
                    Neither party will be held responsible for any delay or failure in performance of any part of this Agreement to the extent that such delay is caused by events or circumstances beyond the delayed party's reasonable control.
                </li>
            </ul>
        </li>

        <li>
            <p><strong>No Waiver</strong></p>
            <ul type="none">
                <li>
                    The waiver by any party of any breach of covenant will not be construed to be a waiver of any succeeding breach or any other covenant. All waivers must be in writing, and signed by the party waiving its rights. This Agreement may be modified only by a written instrument executed by authorized representatives of the parties hereto.
                </li>
            </ul>
        </li>


        <li>
            <p><strong>Entire Agreement</strong></p>
            <ul type="none">
                <li>
                    This Agreement, together with any attachments referred to herein, constitutes the entire agreement between the parties with respect to its subject matter, and supersedes all prior agreements, proposals, negotiations, representations or communications relating to the subject matter. Both parties acknowledge that they have not been induced to enter into this Agreement by any representations or promises not specifically stated herein.
                </li>
            </ul>
        </li>

    </ol>
</div>