#LearningPathPropertiesWrapperContainer
{ 
    overflow: auto; 
}

#Shortcode_Field,
#LearningPathAvatar_Field_ImageContainer
{
    margin-bottom: 8px;
}

#LearningPathCoursesFieldInstructionsPanel
{
    margin-left: 6px;
    margin-bottom: 20px;
}

#LearningPathCoursesList_Container div
{
    cursor: move;
}

.ObjectOptionsPanel 
{
    margin-bottom: 20px;
}

/* LEARNING PATH MATERIAL MODIFY */
#LearningPathMaterialModifyModal
{
    min-width: 85%;
    max-width: 85%;
    overflow: visible;
}

#LearningPathMaterialModifyModalModalPopupBody
{
    min-height: 65vh;
    max-height: 65vh;
}

#LearningPathMaterialModifyModal_FileNameFieldContainer
{
    padding-bottom: 10px;
}