.MarginOffsetForAdministratorMenu 
{
    margin-left: 53px; /* offset to accomodate administrator menu */
}

#AdminMenu
{
    overflow: hidden;
    height: 100%;
    /*background-color: #F8F8F8;*/
    background-color: #FCFCFC;
}

#AdministratorMenuCategoryIconsContainer
{
    position: absolute;
    float: left;
    height: 100%;
    background-color: #FFFFFF;
	border-right: 1px solid #C1C1C1;
	z-index: 9995;
}

.AdministratorMenuCategoryIconsContainerBorderCollapse
{
    border-right: none;
}

.AdministratorMenuCategoryIconContainer
{
    position: relative;
    cursor: pointer;
    padding: 12px 12px;
    border-bottom: 1px solid #C1C1C1;
}

.AdministratorMenuCategoryIconContainer .MediumIcon 
{
    width: 28px;
    height: 28px;
}

.AdministratorMenuCategoryIconContainer:hover
{
    background-color: #777C82;
}

.AdministratorMenuCategoryIconTooltipContainer
{
    position: absolute;
    width: auto;
    left: 42px;
    background-color: #555555;
    padding: 3px;
    white-space: nowrap;
    border-radius: 3px;
    box-shadow: 0px 0px 7px -2px #000000;
    top: 36px;
    color: #FFFFFF;
    z-index: 1;
}

.AdministratorMenuCategoryIconContainer .AdministratorMenuCategoryIconTooltipContainer 
{
    position: absolute;
    overflow: hidden;
    width: 0px;
    background-color: #595d63;
    padding: 3px 0px;
    white-space: nowrap;
    border-radius: 2px;
    color: #EEEEEE;
    z-index: 1;
    transition: width 0.15s;
    -webkit-transition: width 0.15s;
}

.AdministratorMenuCategoryIconContainer:hover .AdministratorMenuCategoryIconTooltipContainer 
{
    width: 150px;
    padding: 4px 6px;
    box-shadow: 0px 0px 9px -2px #000000;
}

.AdministratorMenuSelectedCategory:hover  .AdministratorMenuCategoryIconTooltipContainer 
{
	padding: 0px;
	width: 0px;
}

.AdministratorMenuSelectedCategory
{
    background-color: #8B9B0F;
}

.AdministratorMenuCategoryMenuItemsContainer
{
    position: absolute;
    float: left;
    left: -250px;
    height: 100%;
    width: 250px;
    text-align: left;
    z-index: 9994;
	border-right: 2px solid #616161;
	background-color: #EEEEEE;
	border-left: 4px solid #8a9b0f;
	box-shadow: inset 46px 0px 20px -40px #bbb;
	
    /* css transitions for menu animation */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.AdministratorMenuCategoryMenuItemsContainer a:hover
{
    text-decoration: none;
}

.AdministratorMenuCategoryMenuItemsHeaderContainer
{
    padding: 14px 20px;
	font-size: 1.30em;
	color: #999999;
	border-bottom: 0px;
}

.AdministratorMenuCategoryMenuItem
{
    padding: 10px 20px;
    border-bottom: 1px solid #BDBDBD; 
    color: #666666;
}

.AdministratorMenuCategoryMenuItem img
{
    margin-right: 6px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.AdministratorMenuCategoryMenuItem:hover
{
    background-color: #999999;
    color: #FFFFFF;
}

/* Colorizing Admin Icons */

#System_CategoryIconContainer:hover 
{
    background: #AA3939;
}

#System_CategoryIconContainer.AdministratorMenuSelectedCategory 
{
    background: #AA3939;
}

#System_CategoryMenuItemsHeaderContainer.AdministratorMenuCategoryMenuItemsHeaderContainer 
{
	background: #AA3939;
	color: #FFFFFF;
	box-shadow: inset -190px 0px 130px -70px #E65C5C;
}

#System_CategoryMenuItemsContainer
{
	border-left: 4px solid #AA3939;
}

#UsersAndGroups_CategoryIconContainer:hover  
{
    background: #8a9b0f;
}

#UsersAndGroups_CategoryIconContainer.AdministratorMenuSelectedCategory 
{
    background: #8a9b0f;
}

#UsersAndGroups_CategoryMenuItemsHeaderContainer.AdministratorMenuCategoryMenuItemsHeaderContainer 
{
	background: #8a9b0f;
	color: #FFFFFF;
	box-shadow: inset -190px 0px 130px -70px #B2C714;
}

#UsersAndGroups_CategoryMenuItemsContainer
{
	border-left: 4px solid #8a9b0f;
}

#InterfaceAndLayout_CategoryIconContainer:hover 
{
    background: #e97f02;
}

#InterfaceAndLayout_CategoryIconContainer.AdministratorMenuSelectedCategory 
{
    background: #e97f02;
}

#InterfaceAndLayout_CategoryMenuItemsHeaderContainer.AdministratorMenuCategoryMenuItemsHeaderContainer 
{
	background: #e97f02;
	color: #FFFFFF;
	box-shadow: inset -190px 0px 130px -70px #FFA235; 
}

#InterfaceAndLayout_CategoryMenuItemsContainer
{
	border-left: 4px solid #E97F02;
}

#LearningAssets_CategoryIconContainer:hover 
{
    background: #096394;
}

#LearningAssets_CategoryIconContainer.AdministratorMenuSelectedCategory 
{
    background: #096394;
}

#LearningAssets_CategoryMenuItemsHeaderContainer.AdministratorMenuCategoryMenuItemsHeaderContainer 
{
	background: #096394;
	color: #FFFFFF;
	box-shadow: inset -190px 0px 130px -70px #1489CA;
}

#LearningAssets_CategoryMenuItemsContainer 
{
	border-left: 4px solid #096394;
}


#Reporting_CategoryIconContainer:hover 
{
    background: #604984;
}

#Reporting_CategoryIconContainer.AdministratorMenuSelectedCategory 
{
    background: #604984;
}

#Reporting_CategoryMenuItemsHeaderContainer.AdministratorMenuCategoryMenuItemsHeaderContainer 
{
	background: #604984;
	color: #FFFFFF;
	box-shadow: inset -190px 0px 130px -70px #835AC3;
}

#Reporting_CategoryMenuItemsContainer
{
	border-left: 4px solid #604984;
}

#AdministratorMenuPageContentBlackout
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333333;
    opacity: 0.7;
    z-index: 9993;
}

/* @MEDIA - 480px */

@media (max-width: 480px) {
    
    .MarginOffsetForAdministratorMenu 
    {
        margin-left: 41px;
    }

    .AdministratorMenuCategoryIconContainer 
    {
        padding: 8px;
    }

    .AdministratorMenuCategoryIconContainer .MediumIcon 
    {
        width: 24px;
        height: 24px;
    }

}