﻿/* LOGIN FORM */

.LoginFormOnPageContainer
{
    width: 175px;
    margin-top: 25px;
}

#LoginFormInstructionsWrapper, #LoginFormButtonsWrapper
{
    margin-bottom: 10px;
}

#LoginFormUsernameLabelWrapper, #LoginFormPasswordLabelWrapper
{
    margin-bottom: 2px;
}

#LoginFormUsernameBoxWrapper
{
    margin-bottom: 5px;
}

#LoginFormPasswordBoxWrapper
{
    margin-bottom: 8px;
}

.LoginFormBoxWrapper input
{
    width: 150px;
}

.LoginFormBoxWrapperLong input
{
    width: 275px;
}

#LoginFormForgotPasswordLinkWrapper
{
    margin-bottom: 4px;
}

/* FORGOT PASSWORD */

#ForgotPasswordUsernameBoxWrapper
{
    margin-top: 8px;
}

#ForgotPasswordUsernameBoxWrapper input
{
    width: 275px;
}