﻿/* 
This CSS allows us to have a more equal playing field cross-browser,
by resetting any default styles that some browsers put in place. This
ulitmately gives us greater control over our own CSS because we are 
starting with all things being equal.
*/

*:focus 
{
    outline: none;
}

body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, img
{
    margin: 0;
	padding: 0;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img
{
	border: 0;
}

img
{
    vertical-align: bottom;
}

address, caption, cite, code, dfn, th, var 
{
	font-style: normal;
	font-weight: 300;
}

ol, ul 
{
	/*list-style: none;*/
}

caption, th 
{
	text-align: left;
}

h1, h2, h3, h4, h5, h6 
{
	font-size: 100%;
	font-weight: normal;
}

q:before, q:after 
{
    content: '';
}

abbr, acronym 
{
    border: 0;
}

input, select
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

/* THEME PREVIEW BAR */

#ThemePreviewModePanel
{
    width: 100%;
    padding: 5px 10px;
    background: #000000;
    color: #FFFFFF;
    font-size: 0.85em;
}

#ThemePreviewModePanelLeft
{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
}

#ThemePreviewModePanelLeft span
{
    margin-right: 6px;
}

#ThemePreviewModePanelLeft select
{
    margin-right: 15px;
}

#ThemePreviewModePanelRight
{
    display: inline-block;    
}

#ThemePreviewModePanelRight a
{
    margin-right: 15px;
    color: #FFFFFF; 
}