﻿/* Specific permissions container styles */

#SystemPermissionsContainer table,
#UsersAndGroupsPermissionsContainer table,
#InterfaceAndLayoutPermissionsContainer table,
#LearningAssetsLayoutPermissionsContainer table,
#ReportingPermissionsContainer table
{
    width: 100%;
}

#SystemPermissionsContainer table tr:first-child
{
    background: #AA3939;
    color: #FFFFFF;
    box-shadow: inset -190px 0px 130px -70px #E65C5C;
}

#UsersAndGroupsPermissionsContainer table tr:first-child
{
    background: #8a9b0f;
    color: #FFFFFF;
    box-shadow: inset -190px 0px 130px -70px #B2C714;
}

#InterfaceAndLayoutPermissionsContainer table tr:first-child
{
    background: #e97f02;
    color: #FFFFFF;
    box-shadow: inset -190px 0px 130px -70px #FFA235;
}

#LearningAssetsPermissionsContainer table tr:first-child
{
    background: #096394;
    color: #FFFFFF;
    box-shadow: inset -190px 0px 130px -70px #1489CA;
}

#ReportingPermissionsContainer table tr:first-child
{
    background: #604984;
    color: #FFFFFF;
    box-shadow: inset -190px 0px 130px -70px #835AC3;
}

/* Generic permissions container styles */

.PermissionsContainer table tr:first-child td
{
    font-size: 1.15em;
    border-radius: 3px;
}

.PermissionsContainer table tr:first-child td img
{
    vertical-align: middle;
    margin-right: 7px;
}

.PermissionsCategoryHeaderContainer
{
    float: left;
}

.PermissionsCategorySelectAllCheckboxContainer
{
    float: left;
    margin-left: 15px;
    margin-top: 5px;
    font-size: .75em;
}

.PermissionsCategorySelectAllCheckboxContainer .ToggleInput input,
.PermissionsCategorySelectAllCheckboxContainer .ToggleInput label
{
    margin-bottom: 0px;
}

.PermissionsContainer table tr:nth-child(2n + 1)
{
    background-color: #F0F1F5;
}

.PermissionsContainer table tr td
{
    padding: 6px 10px;
    vertical-align: top;
}

.PermissionsContainer table tr:nth-child(n + 2) td:last-child
{
    width: 25%;
    border-left: 1px solid #E0E0E0; 
    margin-left: 10px;
}

.ScopedItemsCheckboxContainer
{
    border: 1px solid #E0E0E0;
    padding: 5px; 
    height: 94px; 
    overflow-y: scroll; 
    overflow-x: hidden; 
    background-color: #FFFFFF;
}

.ScopeTypeContainer
{
    margin-left: 6px;
}