﻿/* PURCHASE BASE INFORMATION CONTAINER ELEMENTS */

#PurchaseBaseInformationContainer
{
    width: 100%;
    margin-bottom: 20px;
}

#PurchaseCompanyInformationContainer
{
    margin-bottom: 20px;
}

#CompanyImageContainer
{
    display: inline-block;
    margin-right: 15px;
}

#CompanyPortalInformationContainer
{
    display: inline-block;
}

#PortalNameContainer
{
    font-size: 1.40em;
    margin-bottom: 2px;
}

#CompanyNameContainer
{
    font-style: italic;
}

#PurchaseInformationTableContainer table
{
    width: 100%;
    border: 1px solid #B1B9C3;
}

#PurchaseInformationTableContainer table th
{
    background-color: #E5E8EB;
    color: #606C7D;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #B1B9C3;
    font-weight: 400;
}

#PurchaseInformationTableContainer table td
{
    padding: 6px 5px;
    border: 1px solid #B1B9C3;    
    text-align: left;
}

/* PURCHASE ITEMS GRID ELEMENTS */

.ItemTitleContainer
{
    font-size: 1.25em;
    margin-bottom: 6px;
}

.ItemDescriptionContainer, .ItemIncludesContainer
{    
    font-size: 0.85em;
    margin-left: 4px;
    margin-bottom: 2px;
}

/* PURCHASE TOTAL CONTAINER ELEMENTS */

#PurchaseTotalContainer
{
    float: right;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 1.25em;
    font-weight: 700;
}