﻿.ObjectOptionsPanel 
{
    margin-left: 96px;
}

@media only screen and (max-width: 480px) 
{
    .FullDropDownBreadcrumbContainer
    {
        margin-left: 96px;
    }
}

#OnLabel_Container
{
    margin-top: 5px;
    margin-bottom: 5px;
}

#ActionsPanel
{
    margin-bottom: 30px;
}