﻿.SearchBoxPanel
{
    margin-bottom: 10px;
    padding: 10px 0px;
}

.SearchBoxPanel input
{
    margin-right: 6px;
}

#CatalogSearchResultMainContainer
{
    padding: 0px 10px;
}

.SearchResultContainer 
{
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.SearchResultTitleContainer
{
    font-size: 1.25em;
    margin-bottom: 3px;
}

.SearchResultContainedInContainer, .SearchResultDescriptionContainer
{
    margin-bottom: 3px;
    font-size: 0.85em;
    margin-left: 10px;
}