﻿.ObjectOptionsPanel 
{
    margin-left: 96px;
}

@media only screen and (max-width: 480px) 
{
    .FullDropDownBreadcrumbContainer
    {
        margin-left: 96px;
    }
}

.FormFieldInputContainer
{
    margin-left: 10px;
    margin-right: 10px;
}

#RecordMarkingAndSynchronizationPanel
{
    margin-bottom: 10px;
}

#MarkSelectedAsPanel
{
    display: inline-block;
    width: 50%;
}

#MarkSelectedAsPanel span
{
    margin-right: 6px;
}

#SynchronizeWithProviderPanel
{
    display: inline-block;
    width: 50%;
    text-align: right;
}

#WaitlistGrid tr.GridDataRow
{
    cursor: move !important;
}

/* FOR ROSTER PRINT FUNCTION */
@media print 
{
    * { overflow: hidden; }

    body 
    {
        background-color: #FFFFFF;
        color: #000000;        
    }

    #MastheadContainer,
    #MasterContentLeft,
    #MasterContentRight,
    #BreadcrumbContainer,
    #Level1PageTitleContainer,
    #Level2PageTitleIconContainer,
    #PageTitleIconContainer,
    #FullDropDownBreadcrumbContainer,
    #ObjectOptionsPanel,
    #StandupTrainingObjectMenuContainer,
    #ManageRosterPropertiesInstructionsPanel,
    #ManageRosterProperties_TabsPanel,
    #RecordMarkingAndSynchronizationPanel,
    .GridCheckboxColumn,
    #SelectUsers_ButtonsPanel,
    #ManageRosterPropertiesActionsPanel,
    #FooterContainer
    {
        display: none;
    }

    #MasterContentMiddle
    {
        margin-left: 0px;
        background: none;
        box-shadow: none;
        padding: 0;
    }

    .PageTitleContainer 
    {
        margin-left: 0;        
    }

    .PageTitleContainer p
    {
        color: #000000;
    }

    #ManageRosterPropertiesWrapperContainer
    {
        width: 100%;
    }

    #ManageRosterProperties_EnrolledList_TabPanel,
    #ManageRosterProperties_WaitingList_TabPanel
    {
        display: block !important;
    }

    #EnrolledListLabelForPrintPanel,
    #WaitingListLabelForPrintPanel 
    {
        display: block !important;
        font-size: 1.50em;
        margin-bottom: 5px;
    }

    #Enrolled_List_Container,
    #WaitList_List_Container
    {
        border: none;
    }

    #EnrolledGrid,
    #WaitlistGrid
    {
        width: 90%;
        margin-left: 10px;        
    }

    #EnrolledGrid th,
    #WaitlistGrid th
    {
        display: none;
    }

    #EnrolledGrid tr > *:nth-child(n+4),
    #WaitlistGrid tr > *:nth-child(n+4),
    .GridHeaderNotForPrint
    {
        display: none;
    }

    .GridHeaderForPrint
    {
        display: table-cell !important;
        font-size: 1em;        
        font-weight:500;
        margin-bottom: 5px;
    }

    #EnrolledGrid th,
    #WaitlistGrid th,
    #EnrolledGrid tr,
    #WaitlistGrid tr,
    #EnrolledGrid td,
    #WaitlistGrid td
    {
        border: none;
    }

    .GridBodyForPrint
    {
        display: table-cell !important;
        font-size: 1em;
        margin-bottom: 5px;
    }
}

/* SYNCHRONIZATION SUMMARY MODAL */

#SynchronizationSummaryModal
{
    max-width: 700px;
}

#SynchronizationSummaryModal_HeaderPanel
{
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 15px;
}

#SynchronizationSummaryModal_FailedMessagePanel,
#SynchronizationSummaryModal_SuccessMarkedMessagePanel,
#SynchronizationSummaryModal_SuccessNotMarkedMessagePanel
{
    margin-bottom: 15px;
}

#SynchronizationSummaryModal_SuccessMarkedDataPanel div,
#SynchronizationSummaryModal_SuccessNotMarkedDataPanel div
{
    margin-bottom: 5px;
}

#SynchronizationSummaryModal_SuccessMarkedDataPanel
{
    margin-bottom: 30px;
    margin-left: 10px;
    color: green;
}

#SynchronizationSummaryModal_SuccessNotMarkedDataPanel
{
    margin-left: 10px;
    color: red;
}