﻿.ObjectOptionsPanel 
{
    margin-left: 96px;
}

@media only screen and (max-width: 480px) 
{
    .FullDropDownBreadcrumbContainer
    {
        margin-left: 96px;
    }
}

#SessionSelectedContentPackage_Container
{ 
    margin: 10px 0px;
}

.IsExistingHidden
{ 
    display: none; 
}

#SessionDatesInformationPanel
{ 
    margin-bottom: 20px; 
}

.DateRow .FormFieldContainer
{
    border-bottom: none;
}

#RemoveDateButton_1
{
    display: none !important;
}

.RemoveDateButton
{
    margin-top: 5px;
}

#SelectOrganizerWrapperContainer
{
    margin-bottom: 20px;
}

#SelectOrganizerWrapperContainer .ToggleInput
{
    display: inline-table;
}

#SelectOrganizer_Field
{
    margin-right: 10px;
}

#OrganizerUsernameWrapperContainer
{
    margin-bottom: 5px;
}

#OrganizerUsernameWrapperContainer span
{
    margin-right: 6px;
}

#OrganizerPasswordWrapperContainer span
{
    margin-right: 8px;
}