﻿.CertificationEditor 
{
	width: 100%;
}

.CertificationEditor .Title
{
	font-size: 1.4em;
    border-bottom: 4px solid #E4E4E4;
    margin-bottom: 10px;
    padding-bottom: 7px;
	font-weight: 400;
}

.CertificationEditor .certification-editor-hide
{
	display: none;
}


/* MODULES  */

#units.TabPanelContainer
{
	width: 100%;
	overflow-x: hidden;
	position: relative;
}	

.UnitContainer
{	
	border: 1px solid #B8B8B8;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 11px -5px #000000;
    box-shadow: 0px 0px 11px -5px #000000;
    background-color: #F7F7F7;
	margin: 0px 1% 0px 1%;	
}

.UnitContainer .UnitHidePanel
{
	transition: height 0.2s;
}

.UnitContainer .HidePanelButton,
.UnitContainer .HidePanelButton:focus
{
	outline: 0px;
	width: 16px;
	height: 16px;
	background: transparent;
	border: none;
	margin: 8px;
	cursor: pointer;
	border: none;
	transform: rotate(45deg);
	vertical-align: middle;
    margin-left: 10px;
    top: -3px;
    position: relative;
}

.UnitContainer .HidePanelButton.Closed
{
	outline: 0px;
	border: none;
	border-right: 6px solid #848484;
    border-bottom: 6px solid #848484;
}
 
.UnitContainer .HidePanelButton.Open
{
	outline: 0px;
	border: none;
	border-left: 6px solid #848484;
    border-top: 6px solid #848484;
}
 

/* SEGMENT CAROUSEL */

#units.TabPanelContainer
{
	width: 100%;
	overflow-x: hidden;
	position: relative;
}	

.SegmentContainer
{
	border: 1px solid #CCCCCC;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.5);
    margin: 0px 2%;
	background-color: #FCFCFC;
}

.SegmentNavigationContainer .SegmentCarouselButtonContainer
{
	margin-top: 35px;
    border: 1px solid #BBBBBB;
    border-radius: 100px;    
    padding: 8px;
	position: relative;
}


/* CAROUSEL */

.CertificationEditor .IconButton
{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
	cursor: pointer;
}

.CertificationEditor .icon
{
    float: left;
    margin-right: 4px;
}

.CertificationEditor .label
{
    margin-top: 5px;
    display: inline-block;
    white-space: nowrap;
}

.CertificationEditor .IconButton img
{
	width: 24px;
}

.CertificationEditor .IconButtonDisabled img
{
	cursor: default;
	filter: saturate(0%);
	opacity: 0.3;
}

.IconButtonDisabled 
{
	pointer-events: none;
}


/* ADD SPECIFIC */

.CertificationEditor .AddItemButton 
{
	margin-bottom: 0px;
	margin-left: 10px;
}

.CertificationEditor .AddItemButton .label
{
	display: none;
}

.CertificationEditor .AddItemButton .icon
{
	display: inline;
	float: none;
}
	
.CertificationEditor .AddItemButton img
{
	width: 20px;	
	margin-bottom: 2px;
}


/* DELETE SPECIFIC */

.CertificationEditor .DeleteUnitButton .label, 
.CertificationEditor .DeleteSegmentButton .label,
.CertificationEditor .DeleteRequirementButton .label
{
	display: none;
}

.CertificationEditor .DeleteUnitButton, 
.CertificationEditor .DeleteSegmentButton
{
	float: right;
	margin: 0px;
}

.CertificationEditor .DeleteRequirementButton
{
	float: right;
	margin: 0px 0px 0px 10px;
}

.CertificationEditor .DeleteSegmentButton img,
.CertificationEditor .DeleteRequirementButton img
{
	width: 16px;
}
	
.UnitNavigationContainer
{
	width: 96%;
    margin-left: 2%;
    z-index: 999;
    margin-right: 2%;
    margin-bottom: 10px;
	text-align: center;  
}

.RequirementClickContainer
{
	border: 1px solid #CCCCCC;
    padding: 13px;
    border-radius: 3px;    
    color: #484848;
    box-shadow: inset 0px 0px 52px 0px #E6E6E6;
    cursor: pointer;
	font-size: 0.85em;
	margin-bottom: 10px;
}

.RequirementClickContainer .RequirementStrong
{
	color: #000000;
	font-weight: bold;
}

.RequirementClickContainer .ul
{
	list-style: square;
}
	
.NewRequirementClickContainer
{
	text-align: center;
    border: 1px solid #2D4A63;
    padding: 13px;
    border-radius: 3px;
    background-color: #5A81A2;
    color: #FFFFFF;
    box-shadow: inset 0px 0px 52px 0px #0B365D;
    cursor: pointer;
	font-size: 0.85em;
}

.UnitContainer .AndOr 
{
	text-align: center;
    top: 62px;
    position: relative;
    font-weight: 100;
    font-size: 1em;
    background-color: #999999;
    margin: 0px 4px;
    border-radius: 4px;
    padding: 8px;
    color: #FFFFFF;
}	

.UnitContainer .AndOr:hover 
{
	cursor: pointer;
	background-color: #ACB1BB;
	box-shadow: inset 0px 0px 22px -6px #4F5871;
}

.RequirementAndOr 
{
	text-align: center;
    position: relative;    
    font-size: 0.8em;    
    margin-bottom: 10px;
    border: 1px solid #B7B7B7;
    left: calc(50% - 20px);
    width: 40px;
    padding: 5px;
    border-radius: 4px;
    background-color: #EAEAEA;
    box-shadow: 0px 0px 7px -4px #000000;
}	
	
.RequirementAndOr:hover 
{
	cursor: pointer;
	background-color: #D4D4D4;    
}

.UnitAndOr 
{
	display: inline-block;
	text-align: center;
    position: relative;    
    font-size: 0.8em;    
    margin-bottom: 10px;
    border: 1px solid #B7B7B7;
    width: 40px;
    padding: 5px;
    border-radius: 4px;
    background-color: #EAEAEA;
    box-shadow: 0px 0px 7px -4px #000000;
}	
	
.UnitAndOr:hover 
{
	cursor: pointer;
	background-color: #D4D4D4;    
}

.CheckBoxList
{
	border: 1px solid #B1B9C3;
    padding: 10px;
    height: 96px;
    overflow-y: scroll;
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
	margin-bottom: 4px;
}

.CheckBoxListSelectPanel
{
	margin-bottom: 4px;
}

#SelectAttachedCoursesListBox
{
	margin-bottom: 4px;
}

.ItemListingContainer div input
{
	margin-left: 9px;
    margin-bottom: 0px;
    font-size: 0.8em;
}

.JSModalContainer 
{
	min-width: 500px;
	max-width: 800px;
	box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.5);
	border: 3px solid #8597b1;
	width: 0%;
}

.JSModalContainer .ModalPopupHeader
{
	cursor: move;
}

#asentia-modal-container 
{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9995;
}

#asentia-modal-alert-container 
{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9996;
}

#asentia-js-modal,
asentia-js-modal-alert 
{
	position: fixed;
}

.UseInitialRequirementsCheckboxContainer 
{
	margin-bottom: 12px;
}

.RequirementsTabItemHidden 
{
	display: none;	
}

.FormFieldInputContainer input 
{
	box-sizing: border-box;
}

.ModalPopupHeader 
{
	line-height: 1em;
}

.ErrorListerInterfaceContainer 
{
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 30px;
	background-color: #FFBFBF;
	border-radius: 2px;
}

#ErrorListerInterfaceErrorListBox 
{
	box-sizing: border-box;
	border: 1px solid #B1B9C3;
	border-radius: 2px;
	width: 100%;
	padding: 10px;
	max-height: 100px;
	overflow-y: auto;
	background-color: #FFFFFF;
	margin-bottom: 15px;
}

.ErrorListerInterfaceListItem 
{
	padding-bottom: 4px;
	cursor: pointer;	
	color: #FFFFFF;
	text-transform: uppercase;
	background-color: #C75A5A;
	border-radius: 4px;
	padding: 3px 5px;
	margin-bottom: 5px;
}

#AttachedCoursesList_Container 
{
	/* Allows proper auto-scroll when highlighting a problem course in the Attached Courses list*/
	position: relative;	
}

.ErrorListerInterfaceListItem:hover 
{
	text-decoration: underline;
	background-color: #E27676;
}

div.clearfix
{
	clear: both;
	height: 0px;
}