﻿<% @ Page Language="C#" AutoEventWireup="true" Inherits="Asentia.UMS.Pages.Administrator.System.API.Default" %>

<asp:Content ID="BreadcrumbContent" ContentPlaceHolderID="BreadcrumbContentPlaceholder" runat="server">
    <asp:Panel ID="PageBreadcrumbContainer" runat="server" />
</asp:Content>

<asp:Content ID="SideContent1" ContentPlaceHolderID="SideContentPlaceholder1" runat="server">
    <inq:AdministratorMenu ID="AdminMenu" runat="server" />
</asp:Content>

<asp:Content ID="PageContent" ContentPlaceHolderID="PageContentPlaceholder" runat="server">
    <asp:Panel ID="PageContentContainer" runat="server">
        <asp:Panel ID="PageTitleContainer" runat="server" />
        <asp:Panel ID="FullDropDownBreadcrumbContainer" runat="server" />
        <asp:Panel ID="APIFormContentWrapperContainer" runat="server">
            <asp:Panel ID="APIWrapperContainer" runat="server">
                <asp:UpdatePanel runat="server" ID="ApiUpdate" class="ApiForm">
                    <ContentTemplate>
                        <asp:Panel ID="PageFeedbackContainer" runat="server" />
                        <asp:Panel ID="PageInstructionsPanel" runat="server" />
                        <asp:Panel ID="ApiFormContainer" runat="server"></asp:Panel>
                        <asp:Panel ID="ActionsPanel" runat="server" />
                    </ContentTemplate>
                </asp:UpdatePanel>
            </asp:Panel>
        </asp:Panel>
    </asp:Panel>
</asp:Content>

<asp:Content ID="SideContent2" ContentPlaceHolderID="SideContentPlaceholder2" runat="server">
</asp:Content>