/* --- Account Settings Page --- */
.AccountSettingsForm
{
    width: 100%;
}
.AccountSettingsForm #ApplicationName 
{
    width: 400px;
}
.AccountSettingsForm .AccountComments
{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.AccountSettingsForm .LessonDataRecover input[type="radio"]
{
    margin-top: 5px;
    margin-right: 5px;
}
.AccountSettingsForm #LessonDataRecoverCaption 
{
    margin-bottom: 5px;
}
.AccountSettingsForm #Company
{
    width: 300px;
}
.AccountSettingsForm #ContactEmail
{
    width: 300px;
}
.Buttons 
{
    text-align: left;
    margin-bottom: 20px;
}
.AccountSettingsForm .Buttons #SaveSettings, .AccountSettingsForm .Buttons #CancelSettings
{
    width: 110px;
}
.FieldCaption 
{
    font-weight: 700;
}