#CoursePropertiesWrapperContainer 
{
    overflow: auto;
}

#CourseShortcode_Field,
#CourseAvatar_Field_ImageContainer
{
    margin-bottom: 8px;
}

.ObjectOptionsPanel 
{
    margin-bottom: 20px;
}

/* SOCIAL MEDIA LINKS */
.CourseSocialMediaItemContainer 
{
    margin-bottom: 10px;
}

.CourseSocialMediaItemInputsContainer 
{
    margin-bottom: 5px;
}

.CourseSocialMediaItemIcon 
{
   margin-right: 10px;
}

.CourseSocialMediaItemProtocolSelect, .CourseSocialMediaItemURLField, .CourseSocialMediaItemIsEnrolledOnlyCheckBox 
{
    margin-right: 5px;
}

.CourseSocialMediaItemEnrolledOnlyP 
{
    margin-left: 34px;
}

.CourseSocialMediaItemInputsContainer .SmallIcon
{
	 vertical-align: middle;
}

/* MODULES */
#CourseLessonGrid .GridDataRow:hover 
{
    cursor: move !important;
}

#CourseLessonGrid .GridDataRow .ContentTypesLabel img
{
    cursor: default;
    margin-left: 6px;
    margin-right: 6px;
}

/* SAMPLE SCREENS */
.CourseSampleScreenPreviewContainer
{
    background-size:contain;
    background-repeat: no-repeat;
	box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.98);
	position: relative;
    margin: 20px 0px;
    width: 200px;
    height: 150px;
}

.CourseSampleScreenDeleteButtonContainer
{
    position: absolute;
    z-index: 1;
    top: -7px;
    right: -15px;
}

/* LESSON MODIFY */
#LessonModifyModal
{
    min-width: 85%;
    max-width: 85%;
}

#LessonModifyModalModalPopupBody
{
    min-height: 65vh;
    max-height: 65vh;
}

#LessonModifyModal_LessonPropertiesContentChangeWarning
{
    margin-bottom: 0px;
}

#LessonModifyModal_LessonPropertiesContentInstructions, 
#LessonModifyModal_LessonContentTypes_ErrorContainer
{
    margin-bottom: 20px;
}

.LessonContentTypeHeading
{
    font-size: 1.25em;
}

.LessonContentTypeDetailsContainer
{
    margin-top: 15px;
    margin-left: 20px;
}

#LessonModifyModal_OverrideContentChangeLessonDataInfoPanel
{
    margin-bottom: 20px;
}

#LessonModifyModal_OverrideContentChangeLessonDataReset_Field
{
    margin-left: 30px;
}

#LessonModifyModal_LessonContentTypes_Container
{
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
}

#LessonModifyModal_LessonContentTypes_ErrorContainer
{
    margin-left: 0 !important;
}

#LessonModifyModal_LessonSelectedContentPackage_Container, 
#LessonModifyModal_LessonSelectedStandupTrainingModule_Container, 
#LessonModifyModal_LessonSelectedOJTContentPackage_Container, 
#LessonModifyModal_LessonTaskUploadedResource_Container
{ 
    margin: 10px 0px; 
}

#LessonModifyModal_TaskUploadedResourceLabelContainer, 
#LessonModifyModal_TaskProctorsLabelContainer, 
#LessonModifyModal_OJTProctorsLabelContainer
{
    margin-top: 10px;
}

#LessonModifyModal_SelectContentPackageForLessonModal,
#LessonModifyModal_SelectStandupTrainingModuleForLessonModal,
#LessonModifyModal_SelectOJTContentPackageForLessonModal
{
    min-width: 55%;
    max-width: 55%;  
    z-index: 10001 !important;
}

#LessonModifyModal_SelectContentPackageForLessonModalModalPopupExtender_backgroundElement,
#LessonModifyModal_SelectStandupTrainingModuleForLessonModalModalPopupExtender_backgroundElement,
#LessonModifyModal_SelectOJTContentPackageForLessonModalModalPopupExtender_backgroundElement
{
    z-index: 10000 !important;
}

/* COURSE MATERIAL MODIFY */
#CourseMaterialModifyModal
{
    min-width: 85%;
    max-width: 85%;
    overflow: visible;
}

#CourseMaterialModifyModalModalPopupBody
{
    min-height: 65vh;
    max-height: 65vh;
}

#CourseMaterialModifyModal_FileNameFieldContainer
{
    padding-bottom: 10px;
}