﻿.ObjectOptionsPanel 
{
    margin-left: 96px;
}

@media only screen and (max-width: 480px) 
{
    .FullDropDownBreadcrumbContainer
    {
        margin-left: 96px;
    }
}

#AwardCertificateModal
{
    min-width: 45%;
}

#CertificateAwardDateTimeSelector_Field_Container
{
    margin-bottom: 15px;
}

#ViewCertificateModal
{
    min-width: 40%;
    min-height: 40%;
}