.ObjectOptionsPanel 
{
    margin-left: 96px;
}

@media only screen and (max-width: 480px) 
{
    .FullDropDownBreadcrumbContainer
    {
        margin-left: 96px;
    }
}

#UserGroupsMembershipCountContainer
{
    margin-bottom: 10px;
}

#AddGroupsToUserModal,
#RemoveGroupsFromUserModal
{
    width: 45%;
}

#UserGroupsButtonsContainer a
{
    margin-right: 10px;
}