#UserFormWrapperContainer
{ 
    overflow: auto; 
}

#UserModify_avatar_ImageContainer
{
    margin-bottom: 8px;
}

#UploadFileActionsPanel
{
    margin-bottom: 15px;
}

#UploadFilesModal
{
    width: 40%;
}