﻿.ObjectOptionsPanel 
{
    margin-left: 96px;
}

@media only screen and (max-width: 480px) 
{
    .FullDropDownBreadcrumbContainer
    {
        margin-left: 96px;
    }
}

#TranscriptPrintOptionsContainer
{
    position: relative;
    float: right;
    display: inline-block;
    margin-top: 12px;
    margin-right: 6px;
}