/*--- API Form ---*/
.ApiForm 
{
    width: 100%;
}
.ApiForm #AuthenticationKey
{
    width: 250px;
    margin-right: 5px;
}
.ApiForm #RequireHttps
{
    margin-right: 5px;
}
.ApiForm #ApiAccessOff
{
    margin-left: 5px;
}
.ApiForm .Buttons #SaveApi, .ApiForm  .Buttons #CancelApi
{
    
}