.ObjectOptionsPanel 
{
    margin-left: 96px;
}

@media only screen and (max-width: 480px) 
{
    .FullDropDownBreadcrumbContainer
    {
        margin-left: 96px;
    }
}

#GroupDocumentModifyWrapperContainer
{ overflow: auto; }
