﻿#CertificationFormWrapperContainer
{ overflow: auto; }

.CertificationCompletionStatusImage
{
    margin-right: 6px;
    vertical-align: middle;
}

.CertificationTitleContainer
{
    margin-bottom: 20px;
    font-size: 1.75em;
    font-weight: 200;
}

.CertificationModuleContainer
{
    padding: 10px;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.CertificationModuleTitleContainer
{
    border-bottom: 1px solid #C1C1C1;
    padding-bottom: 10px;
}

.CertificationModuleTitle
{
    font-size: 1.25em;
}

.CertificationModuleShortDescriptionContainer
{
    margin-top: 5px;
    margin-left: 30px;
}

.CertificationModuleRequirementSetContainer
{
    margin-left: 20px;
    padding: 10px;
    padding-bottom: 0px;
}

.CertificationModuleRequirementSetLabelContainer
{

}

.CertificationModuleRequirementContainer
{
    margin-left: 20px;
    padding: 10px;
    padding-bottom: 10px;    
}

.CertificationModuleRequirementLabelContainer
{

}

.CertificationModuleRequirementDetailsContainer
{
    margin-left: 50px;
}

.CertificationModuleRequirementDetailsContainer ul
{
    margin-top: 5px;
    margin-bottom: 0px;
}

.CertificationAndOrContainer 
{
    border: 1px solid #C1C1C1;
    background: #E4E4E4;
    padding: 2px;
    width: 34px;
    text-align: center;
    border-radius: 5px;    
    font-size: .85em;    
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* TASK MODAL */

#TaskModal_ModalInstructions {
    margin-bottom: 15px;
}

#TaskModal_UploadTaskLabelContainer {
    margin-bottom: 5px;
}

#TaskModalUploaderPanel {
    margin-bottom: 20px;
}