/*Start Transaction response page */

table#TransactionResponseTable {
    border-right: 1px solid;
    border-bottom: 1px solid;
    margin: auto;
}

table#TransactionResponseTable tbody th {
    border-right: 1px solid;
    border-bottom: 1px solid;
    background-color: #eeeeee;
    font-weight: 700;
}

table#TransactionResponseTable td {
    border-top: 1px solid;
    border-left: 1px solid;
    text-align: center;
}

table#TransactionResponseTable th {
    border-top: 1px solid;
    border-left: 1px solid;
}

table#TransactionResponseTable * {
    padding: 5px;
}

.divConfirmationPanel {
    text-align: center;
    margin-bottom: 9px;
    font-size: large;
}

img#TransactionApproveStatus {
    margin-right: 6px;
    vertical-align: middle;
}

.PlainTable {
    border-right: 1px solid;
    border-bottom: 1px solid;
    margin: auto;
}

.PlainTable th {
    border-right: 1px solid;
    border-bottom: 1px solid;
    background-color: #eeeeee;
    font-weight: 700;
}

.PlainTable td {
    border-top: 1px solid;
    border-left: 1px solid;
    text-align: center;
}

.PlainTable th {
    border-top: 1px solid;
    border-left: 1px solid;
}

.PlainTable * {
    padding: 3px;
}

.Left {
    float: left;
    margin-left: 20px;
}

.WidthSet {
    width: 150px;
    text-align: left;
}

.Right {
    float: right;
    margin-right: 20px;
}

.DivTableContainer {
    width: 100%;
    float: left;
    margin-bottom: 35px;
}

.DivSeparator {
    width: 100%;
    margin-bottom: 40px;
}

.NameLabel {
    padding-left: 3%;
    font-size: 16px;
    font-weight: 700;
}

.Label {
    padding-left: 3%;
    font-size: 14px;
}

.TotalAmountLabel {
    float: right;
    padding-right: 7%;
    font-weight: 700;
}

.DivItemName {
    font-weight: 700;
}

.ModalPopupBody div {
    clear: both;
}

.GridTable {
    clear: both !important;
}

.Centered {
    text-align: center;
}

.FloatRight {
    float: right;
}

.TranscriptWidgetModalBody {
    max-width: 100%;
    min-width: 1000px;
}

.EnrollmentStatisticsKey {
    border-collapse: separate;
    border-spacing: 3px;
}

.LabelPaid {
    font-weight: 700;
    float: right;
}

.LabelCost {
    text-decoration: line-through;
    float: right;
}

.Mycart-Currency {
    text-align: right;
    padding-right: 5%;
}
