﻿#LearningPathEnrollmentCoursesGridUpdatePanel {
    overflow: auto;
}

.LearningPathDetailsContainer {
    float: left;
    margin-right: 1%;
    width: 45%;
    padding-left: 4px;
    padding-right: 4px;
}

#DescriptionContainer
{
    margin-bottom: 20px;
}

#LearningPathMaterialsContainer
{

}

.LearningPathMaterialFileLinkContainer
{
    margin-left: 10px;
}