﻿/* FORM CONTAINER ELEMENTS */

.ItemTitleContainer
{
    font-size: 1.25em;
    margin-bottom: 6px;
}

.ItemDescriptionContainer, .ItemIncludesContainer
{    
    font-size: 0.85em;
    margin-left: 4px;
    margin-bottom: 2px;
}

#PurchaseTotalContainer
{
    float: right;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 1.25em;
    font-weight: 700;
}

#CheckoutFormContainer
{
    clear: both;
    padding-top: 15px;
    border-top: 2px solid #C1C1C1;
}

#CardsAcceptedContainer span,
#CreditCardExpiration_InputContainer select
{
    margin-right: 6px;
}

.TermsAndConditionsContainer
{
    width: 98%;
    padding: 10px;
    border: 1px solid #E0E0E0;
    max-height: 200px;
    overflow: auto;
}

#SubmitPaymentMessageLabel
{
    font-weight: 700;
}

/* PROCESSING & RECEIPT CONTAINER ELEMENTS */

#CheckoutFormProcessingContainer,
#CheckoutReceiptContainer
{
    width: 100%;
    text-align: center;
    padding-top: 60px;
}

#ProcessingTransactionMessageContainer,
#TransactionCompletedMessageContainer
{
    font-size: 1.75em;
    margin-bottom: 20px;
}

#PleaseWaitMessageContainer
{
    margin-bottom: 35px;
}

#TransactionInformationTableContainer
{
}

#TransactionInformationTableContainer table
{
    width: 100%;
    border: 1px solid #B1B9C3;
}

#TransactionInformationTableContainer table th
{    
    background-color: #E5E8EB;
    color: #606C7D;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #B1B9C3;
    font-weight: 400;
}

#TransactionInformationTableContainer table td
{
    padding: 6px 5px;
    border: 1px solid #B1B9C3;    
    text-align: left;
}