﻿.ItemTitleContainer
{
    font-size: 1.25em;
    margin-bottom: 6px;
}

.ItemDescriptionContainer, .ItemIncludesContainer
{    
    font-size: 0.85em;
    margin-left: 4px;
    margin-bottom: 2px;
}

#MyCartGrid .ImageLink img
{
    width: 16px;
    height: 16px;
    margin-bottom: 0;
}

#PurchaseTotalUpdatePanel
{
    float: right;
    margin-right: 10px;
    font-size: 1.25em;
    font-weight: 700;
}