.ErrorDetailsItemContainer
{
    margin-bottom: 15px;
}

.ErrorDetailsItemLabel
{
    margin-bottom: 4px;
    text-transform: uppercase;
}

.ErrorDetailsItemValue
{
    margin-left: 8px;
}

#FooterContainer
{
    display: none;
}
