#UserRegister_TabPanelsContainer 
{
    margin-bottom: 30px;
}

#UserRegister_TabPanelsContainer .FormFieldContainer:last-of-type 
{
    border-bottom: 3px solid #E0E0E0;
}

#UserRegister_UserAgreementAgreeCheckBoxContainer 
{
    margin-bottom: 30px;
}

.InformationStatusPanel-Popup
{
    min-height: 130px;
}

.InformationStatusPanel-BlackoutPanel 
{
    opacity: 1.0;
}