﻿<% @ Page Language="C#" AutoEventWireup="true" Inherits="Asentia.LRS.Pages.Reporting.Reports.Unsubscribe" %>

<asp:Content ID="SideContent1" ContentPlaceHolderID="SideContentPlaceholder1" runat="server">
</asp:Content>

<asp:Content ID="PageContent" ContentPlaceHolderID="PageContentPlaceholder" runat="server">
    <asp:Panel ID="PageContentContainer" runat="server">
        <asp:Panel ID="PageTitleContainer" runat="server" />
        <asp:Panel ID="FullDropDownBreadcrumbContainer" runat="server" />
        <asp:Panel ID="PageFeedbackContainer" runat="server" />
        <asp:Panel ID="ReportUnsubscribeFormContentWrapperContainer" runat="server">
            <asp:Panel ID="ReportUnsubscribeWrapperContainer" runat="server">
                <asp:Panel ID="ReportUnsubscribeInstructionsPanel" runat="server" />
            </asp:Panel>
            <asp:Panel ID="ReportUnsubscribeActionsPanel" runat="server" />
        </asp:Panel>
    </asp:Panel>
</asp:Content>

<asp:Content ID="SideContent2" ContentPlaceHolderID="SideContentPlaceholder2" runat="server">
</asp:Content>
