﻿<% @ Page Language="C#" AutoEventWireup="true" Inherits="Asentia.UMS.Pages.LoadBalancer" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server"></head>
<body>
    <form id="form1" runat="server">                
        <asp:Literal ID="CurrentUtcTimestamp" runat="server" />
    </form>
</body>
</html>