.CouponGracePeriodPanel 
{
    border-bottom: 1px solid #7CAFD6;
    border-top: 4px solid #7CAFD6;
    background: #f1f1f1;
    text-align: left;
    margin-bottom: 20px;
    padding: 5px 5px;
}