﻿@charset "utf-8";
/* Main Video Page Styles */

html {
	background-color: #000;
}

#mainVideo {
	/*Allow video to play at its native size*/
	margin: 0 auto;
	display: block;
}

.videoHolder {
	margin: 50px auto 0;
	display: block;
	width: 100%;
	color: #FFF;
}

.videoHolder > iframe
{
	/* center embed iframe */
	display: block;
	margin: 0 auto;
}

.videoHolder > video
{
	/* center and size */
	display: block;
	margin: 0 auto;
	width: 80%;
}

#videoInfo {
	background-color: #EEEEEE;
	-webkit-box-shadow: inset 0px 0px 5px 2px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    inset 0px 0px 5px 2px rgba(50, 50, 50, 0.65);
	box-shadow:         inset 0px 0px 5px 2px rgba(50, 50, 50, 0.65);
	
	display: none;
	width: 77%;
	padding: 15px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: .9em;
	margin: 10px auto 0;
}

#videoInfo p {
	margin: 0;	
}

#errorBox {
	display: none;
	width: 70%;
	padding: 35px 30px;
	text-align: center;
	margin: 50px auto 0;
	background-color: #FF6347;
	border-radius: 8px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
}
