﻿<% @ Page Language="C#" AutoEventWireup="true" Inherits="Asentia.LMS.Pages._Util.DropSession.Default" %>

<asp:Content ID="PageContent" ContentPlaceHolderID="PageContentPlaceholder" runat="server">
    <asp:Panel ID="PageContentContainer" runat="server">
        <asp:Panel ID="PageFeedbackContainer" runat="server" />   
    </asp:Panel>
</asp:Content>
