﻿html, body
{
    background-color: #333333;
}

#MastheadContainer,
#FooterContainer
{
    display: none;
}

.InformationStatusPanel-Popup
{
    min-height: 130px;
}

.InformationStatusPanel-BlackoutPanel 
{
    opacity: 1.0;
}