#GroupModifyWrapperContainer 
{
    overflow: auto;
}

#GroupAvatar_Field_ImageContainer
{
    margin-bottom: 8px;
}

#GroupMembershipButtonsContainer a 
{
    margin-right: 10px;
}

#AddUsersToGroupModal,
#RemoveUsersFromGroupModal
{
    width: 45%;
}