.ObjectOptionsPanel 
{
    margin-left: 96px;
}

@media only screen and (max-width: 480px) 
{
    .FullDropDownBreadcrumbContainer
    {
        margin-left: 96px;
    }
}

#PrivateCatalogAccessContainer
{    
    margin-bottom: 30px;
}

.catalog
{
    margin-top: 15px;
    margin-left: 15px;
}

.catalog img 
{
    width: 24px;
    height: 24px;
    margin-right: 6px;
}