.ObjectOptionsPanel 
{
    margin-left: 96px;
}

@media only screen and (max-width: 480px) 
{
    .FullDropDownBreadcrumbContainer
    {
        margin-left: 96px;
    }
}

#GroupRolesMembershipCountContainer
{
    margin-bottom: 10px;
}

#AddRolesToGroupModal,
#RemoveRolesFromGroupModal
{
    width: 45%;
}

#GroupRolesButtonsContainer a
{
    margin-right: 10px;
}