@charset "utf-8";
/* Slideshow Styles */

body {
	background-color: #000;
	margin: 0;
}

#slideshowContainer {
	display: block;
	position: relative;
	margin-top: 50px;
}

#slideshowTable {
	display: table;
	padding: 0;
	border: 0 none;
	border-collapse: collapse;
	margin: 0 auto;
}

#slideshowTable td {
	padding: 0;
}

#slideshowImage {
	display: inline-block;
}

#footerContainer {
	display: block;
	width: 100%;
	height: 60px;
	background-color: #CCC;
}

.footerSection {
	height: 60px;
	background-color: #CCC;
	box-sizing: border-box;
	width: 33.33%;
}

#footerSectionLeft {
	/*padding-left: 20px !important;*/
	border-radius: 0 0 0 8px;
}

#footerSectionMiddle {
	text-align: center;
}

#footerSectionRight {
	border-radius: 0 0 8px 0;
}

.navButton {
	vertical-align: middle;
	cursor: pointer;
}

.navButtonDisabled {
	vertical-align: middle;
	opacity: .5;
}

#progressCounter {
	color: #333;
	background-color: #FFF;
	border-radius: 6px;
	text-align: center;
	max-width: 70px;
	min-width: 40px;
	padding: 5px;
	margin-right: 12px;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
}

#progressBarAndTimer {
	float: right;
	margin-right: 12px;
}

#progressBarTimer {
	color: #494747;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75em;
	font-weight: bold;
	margin-bottom: 3px;
}

#progressBar {
	border-radius: 8px;
	width: 100px;
	height: 10px;
	/*margin: 3% 12px 0 0;*/
	float: right;
	clear: both;
	overflow: hidden;
	background: #939393; /* Old browsers */
	background: -moz-linear-gradient(top, #353535 0%, #939393 30%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #353535 0%,#939393 30%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #353535 0%,#939393 30%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#progressBarFill {
	height: 100%;
	width: 0;
	border-radius: 8px 0 0 8px;
	background-color: #6CF;
}

#menuButton {
	padding: 8px 12px;
	/*color: #333;*/
	color: #CCC;
	/*background-color: #999;*/
	background-color: #505050;
	/*border: 1px solid #666;*/
	border: none;
	border-radius: 8px;
	float: left;
	margin-left: 12px;
	cursor: pointer;
}

#floatingMenuContainer {
	position: absolute;
	display: none;
	width: 200px;
	height: 60%;
	bottom: 60px;
	margin-left: 12px;
	border-radius: 8px 8px 0 0;
	background-color: #CCC;
	
	-webkit-box-shadow: 0px -8px 8px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px -8px 8px 0px rgba(0,0,0,0.3);
	box-shadow: 0px -8px 8px 0px rgba(0,0,0,0.3);
}

#floatingMenuInset {
	display: block;
	width: 90%;
	height: 94%;
	margin: 12px auto;
	background-color: #FFF;
	border-radius: 0 0 8px 8px;
	overflow-y: auto;
}

.floatingMenuItem {
	display: block;
	width: 100%;
	color: #494747;
	padding: 8px 10px;
	box-sizing: border-box;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #D3D3D3;
	cursor: pointer;
}

.floatingMenuItemDisabled {
	opacity: .5;
	cursor: default !important;
}

.floatingMenuItemHighlight {
	background-color: #E6E6E6;
}

#sideMenuContainer {
	display: inline-block;
	/*height: 600px;*/
	width: 200px;
	vertical-align: top;
	font-size: 18px;
	background-color: #FFF;
}

#imageTd {
	/* necessary hack to erase trailing space between inline-block items */
	font-size: 0;
}

#errorMsg {
	display: none;
	width: 800px;
	height: 600px;
	color: #FFF;
	background-color: #666;
	box-sizing: border-box;
	padding: 100px 60px 50px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
}
