﻿@charset 'UTF-8';

/* SLIDER */

.slick-loading .slick-list
{
    background: #FFFFFF url('/_css/carousel/CarouselLoader.gif') center center no-repeat;
}

/* ARROWS */

.slick-prev,
.slick-next
{
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;    
    line-height: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 0;
    z-index: 1;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{    
    outline: none;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{    
    line-height: .70;
    font-size: 30px;
}

.slick-prev
{
    left: -15px;
}

[dir='rtl'] .slick-prev
{
    right: -15px;
    left: auto;
}

.slick-prev:before
{
    content: '<';
    background: url('/_css/carousel/arrows-32-32-0.png') left top no-repeat;
}

[dir='rtl'] .slick-prev:before
{
    content: '>';
    background: url('/_css/carousel/arrows-32-32-0.png') right top no-repeat;
}

.slick-next
{
    right: -15px;
}

[dir='rtl'] .slick-next
{
    right: auto;
    left: -15px;
}

.slick-next:before
{
    content: '>';
    background: url('/_css/carousel/arrows-32-32-0.png') right top no-repeat;
}

[dir='rtl'] .slick-next:before
{
    content: '<';
    background: url('/_css/carousel/arrows-32-32-0.png') left top no-repeat;
}

/* DOTS */

.slick-dotted.slick-slider
{
    /*margin-bottom: 30px;*/
    margin-bottom: 10px;
}

.slick-dots
{
    position: absolute;
    /*bottom: -25px;*/
    bottom: -10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}

.slick-dots li button:before
{
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #333333;
}

.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #333333;
}