/* COURSE CATALOG SPECIFIC BUTTON TYPES */

.EnrollButton,
.EnrollButton:hover
{
    padding: 8px 14px;
    border: 1px solid #2C4E61;
    background: #31586D !important;
    box-shadow: inset 0 -25px 24px -20px #31586D;
    -moz-box-shadow: inset 0 -25px 24px -20px #31586D;
    -webkit-box-shadow: inset 0 -25px 24px -20px #31586D;

    background-image: url(/_images/Buttons/Enroll.png) !important;
    background-repeat: no-repeat !important;
    background-position: 4px 8px !important;
    background-size: 24px;
    padding-left: 36px;
}

.PayPalButton,
.PayPalButton:hover
{
    padding: 8px 14px;
    border: 1px solid #2C4E61;
    background: #31586D !important;
    box-shadow: inset 0 -25px 24px -20px #31586D;
    -moz-box-shadow: inset 0 -25px 24px -20px #31586D;
    -webkit-box-shadow: inset 0 -25px 24px -20px #31586D;

    background-image: url(/_images/Buttons/PayPal.png) !important;
    background-repeat: no-repeat !important;
    background-position: 4px 8px !important;
    background-size: 24px;
    padding-left: 36px;
}

.CartButton,
.CartButton:hover
{
    padding: 8px 14px;
    border: 1px solid #2C4E61;
    background: #31586D !important;
    box-shadow: inset 0 -25px 24px -20px #31586D;
    -moz-box-shadow: inset 0 -25px 24px -20px #31586D;
    -webkit-box-shadow: inset 0 -25px 24px -20px #31586D;

    background-image: url(/_images/Buttons/Cart.png) !important;
    background-repeat: no-repeat !important;
    background-position: 4px 8px !important;
    background-size: 24px;
    padding-left: 36px;
}

.OpenButton,
.OpenButton:hover
{
    padding: 8px 14px;
    border: 1px solid #164A16;
    background: #267926 !important;
    box-shadow: inset 0 -25px 24px -20px #267926;
    -moz-box-shadow: inset 0 -25px 24px -20px #267926;
    -webkit-box-shadow: inset 0 -25px 24px -20px #267926;

    background-image: url(/_images/Buttons/Open.png) !important;
    background-repeat: no-repeat !important;
    background-position: 4px 8px !important;
    background-size: 24px;
    padding-left: 36px;
}

.ClosedButton,
.ClosedButton:hover
{
    padding: 8px 14px;
    border: 1px solid #820F0F;
    background: #B31313 !important;
    box-shadow: inset 0 -25px 24px -20px #820F0F;
    -moz-box-shadow: inset 0 -25px 24px -20px #820F0F;
    -webkit-box-shadow: inset 0 -25px 24px -20px #820F0F;

    background-image: url(/_images/Buttons/Closed.png) !important;
    background-repeat: no-repeat !important;
    background-position: 4px 8px !important;
    background-size: 24px;
    padding-left: 36px;
}

.JoinButton,
.JoinButton:hover
{
    padding: 8px 14px;
    border: 1px solid #2C4E61;
    background: #31586D !important;
    box-shadow: inset 0 -25px 24px -20px #31586D;
    -moz-box-shadow: inset 0 -25px 24px -20px #31586D;
    -webkit-box-shadow: inset 0 -25px 24px -20px #31586D;

    background-image: url(/_images/Buttons/Join.png) !important;
    background-repeat: no-repeat !important;
    background-position: 4px 8px !important;
    background-size: 24px;
    padding-left: 36px;
}

.PrerequisiteLockedButton,
.PrerequisiteLockedButton:hover
{
    padding: 8px 14px;
    border: 1px solid #9E871C;
    background: #D4B93A !important;
    box-shadow: inset 0 -25px 24px -20px #D4B93A;
    -moz-box-shadow: inset 0 -25px 24px -20px #D4B93A;
    -webkit-box-shadow: inset 0 -25px 24px -20px #D4B93A;

    background-image: url(/_images/Buttons/Closed.png) !important;
    background-repeat: no-repeat !important;
    background-position: 4px 8px !important;
    background-size: 24px;
    padding-left: 36px;
}

.Button:disabled
{
    cursor: default;
    color: #FFFFFF !important;
}

/* CONTAINERS */
/*
.MasterContentMiddle #PageContentContainer
{
    padding: 0;
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
*/
#Catalog_RootViewContainer, #Catalog_CatalogDetailsViewContainer, #Catalog_ObjectDetailsViewContainer
{
    overflow: hidden; /* this is a MUST for jQuery slide toggle to animate correctly */
}

#Catalog_RootViewLeftSideContainer
{
    float: left;
    width: 72%;
    margin-right: 20px;
}

#Catalog_RootViewRightSideContainer
{
    display: table; /* legacy browsers */
    display: flex;
    margin-left: 72%;
}

.SearchBoxPanel
{
    padding: 10px 0px;
}

.SearchBoxPanel input
{
    margin-right: -32px;
}

#DetailsViewBackButtonContainer
{
    padding: 15px 0px;
}

#BlackoutLoadingPanel 
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333333;
    opacity: 0.9;
    z-index: 9992;
    text-align: center;
}

#BlackoutLoadingPanel p
{
    margin-top: 25%;
}

#Catalog_TabsUL 
{
    margin-bottom: 15px;
}

#Catalog_CatalogDetailsViewContainer,
#Catalog_ObjectDetailsViewContainer
{
    margin-bottom: 30px;
    margin-left: 4px;
}

#Catalog_CatalogDetailsViewLeftSideContainer 
{
    float: left;
    width: 550px;
    margin-right: 20px;
}

#Catalog_CatalogDetailsViewRightSideContainer 
{
    display: table;
    margin-left: 570px;
    width: calc(100% - 570px);
}

/* TILES */

.HeaderTile 
{
    clear: both;
    margin-bottom: 10px;
    border-bottom: 1px solid #b1b1b1;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.Tile 
{
    display: inline-block;
    width: 200px;
    height: 320px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0px 3px 14px #999999;
    -webkit-box-shadow: 0px 3px 14px #999999;
    -moz-box-shadow: 0px 3px 14px #999999;
    margin: 15px;
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
    cursor: pointer;
}

.Tile:hover
{    
    opacity: 0.7;
}

.Tile img 
{
    opacity: 1.0;
}

.TileImage
{
    position: relative;
}

.TileImage img
{
    width: 200px;
    height: 200px;
}

.DisabledTile 
{
    background-color: #C7C7C7;
    opacity: 0.7;
}

.DisabledTile img
{
    opacity: 0.3;
}

.DisabledTile:hover 
{
    cursor: default;
    background-color: #C7C7C7;
    opacity: 0.7;    
}

.TileContentOuterWrapper 
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.TileContentInnerWrapper 
{
    display: table;
    width: 100%;
    height: 100%;
}

.TileContent 
{
    position: relative;
    padding: 0;
    height: 120px;
    color: #FFFFFF;
}

.TileContentTop
{ }

.ObjectLockedImage
{
    position: absolute;
    background: #B55D5D;
    border: 3px solid #FFFFFF;
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 100px;
    padding: 7px;
    top: -20px;
    right: 15px;
}

.TileContentMiddle
{
    padding: 15px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.TileSubTitle
{
    font-size: 0.85em;
    margin-bottom: -10px;
    color: #777777;
}

.TileTitle
{
    margin-top: 10px;
    font-size: .90em;
    color: #777777;
    font-weight: 500;
}

.DisabledTile .TileSubTitle,
.DisabledTile .TileTitle
{
    color: #AFADAD;
}

.TileContentBottom
{
    background: #777777;
    padding: 10px 10px;
    bottom: 0;
    position: absolute;
    width: 180px;
    height: 19px;
    color: #FFFFFF;
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.DisabledTile .TileContentBottom
{
    background-color: #C7C7C7;
    color: #AFADAD;
}

.TileContentBottomLeft
{
    float: left;
    font-size: .85em;
}

.TileContentBottomLeft span
{
    margin-right: 6px;
}

.TileContentBottomRight
{
    float: right;
    font-size: .85em;
    font-weight: 600;
}

.TileImageSmall 
{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

/* DETAILS VIEWS */

.DetailsViewTitleContainer
{
    margin-bottom: 20px;
}

.DetailsViewTitleContainer img 
{
    float: left;
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

.DetailsViewTitleContainer p
{
    display: inline;
    font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2.6em;
    font-weight: 200;
    line-height: 1.1em;
}

.DetailsViewBasicInformationContainer
{
    display: table;
    clear: both;
    margin-bottom: 20px;
}

.DetailsViewStatusWrapperContainer
{
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
    padding: 3px 10px;
    padding-left: 0;
}

.DetailsViewStatusWrapperContainer img
{
    margin-bottom: 3px;
}

.DetailsViewInlineInformationWrapperContainer 
{
    border-left: 1px solid #DDDDDD;
    display: table-cell;
    vertical-align: bottom;
    padding: 3px 10px;
}

.DetailsViewSectionContainer
{
    display: table; 
    clear: both; 
    margin-bottom: 20px;
}

.DetailsViewSectionLabel
{
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 15px;
}

.DetailsViewSectionContentContainer
{
    margin-left: 10px;
}

.DetailsViewListItemContainer
{
    margin-bottom: 5px;
}

/* COURSE DETAILS ELEMENTS */

#CourseWallLink img
{
    margin-right: 0px;
}

#CourseLessonsTable td:first-child
{
    padding-left: 0px;
}

#CourseLessonsTable td
{
    padding: 3px 15px;
}

.CourseSampleScreenThumbnailContainer
{
    /*float: left;*/
    display: inline-block;
    width: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #333333;
}

.CourseSampleScreenLink img
{
    width: 200px;
}

/* ILT SESSION DETAILS - PAGE VIEW AND SELECT MODAL */

.DetailsViewSessionItemContainer
{
    margin-bottom: 15px;
}

.DetailsViewILTSessionTitleContainer
{
    font-size: 1.1em;
    margin-bottom: 3px;
}

.DetailsViewILTSessionPropertyContainer
{
    margin-left: 10px;
    font-size: 0.85em;
}

.DetailsViewILTSessionPropertyContainer
{
    margin-left: 10px;
    font-size: 0.85em;
}

.DetailsViewILTSessionInstructorContainer,
.DetailsViewILTSessionMeetingTimeContainer 
{
    margin-left: 25px;
    font-size: 0.85em;
}

#AvailableStandupTrainingSessionsListingPanel 
{
    max-height: 300px;
    overflow-x: auto;
    overflow-y: scroll;
    border: 1px solid #d1d1d1;
    padding: 5px;
}

.SelectILTSessionTitleContainer 
{
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 3px;
}

.SelectILTPropertyContainer 
{
    margin-left: 19px;
    font-size: 0.85em;
}

.SelectILTSessionAvailableSeatsLabel, .DetailsViewILTSessionAvailableSeatsLabel,
.SelectILTSessionAvailableSeatsLabelWaitingList, .DetailsViewILTSessionAvailableSeatsLabelWaitingList
{
    color: #009900;
}

.SelectILTSessionInstructorContainer,
.SelectILTSessionMeetingTimeContainer 
{
    margin-left: 34px;
    font-size: 0.85em;
}

/* COURSE SAMPLE SCREENS MODAL & CAROUSEL */

#CourseSampleScreensModalModalPopupBody
{
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 600px;
    max-height: 465px;    
}

#CourseSampleScreensModalModalPopupBody div img
{
    width: 100%;
}

#CourseSampleScreensModalModalPopupBody .slick-prev 
{
    left: -28px;
}

#CourseSampleScreensModalModalPopupBody .slick-next 
{
    right: -28px;
}

#CourseSampleScreensModalModalPopupBody .slick-dots 
{
    bottom: -18px;
}

/* ILT ENROLLMENT AVAILABILITY FROM CALENDAR VIEW */

#StandaloneEnrollmentOptionContainer img 
{
    margin-right: 6px;
    vertical-align: middle;
}

#ContainedWithinCoursesContainer 
{
    margin-top: 15px;
}

/* RESPONSIVE */

@media (max-width: 700px) 
{

    #Catalog_CatalogDetailsViewRightSideContainer 
    {
        margin-left: 0px;
        width: 100%;
    }

}