#ContentMenuToggle {
    display: inline-block;
    padding: 12px 12px;
    margin-bottom: 0px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    float: left;
    background: #6593BA;
    margin-right: 10px;
}

#ContentMenuToggle span 
{
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
}

#ContentMenuToggle span:last-child 
{
    margin-bottom: 0px;
}

#ContentHeaderAndNavigationContainer 
{
    width: 100%;
    height: 49px;
    position: absolute;
    top: 0;
    left: 0;
    background: #EFEFEF;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #DADADA;
}

#SCOTreeMenuContainer 
{
    width: 300px;
    height: calc(100% - 50px);
    position: absolute;
    z-index: 9999;
    top: 50px;
    left: -301px;
    background: #FCFCFC;
    border-right: 1px solid #DADADA;
    transition: left 1s;
}

#SCOTreeMenuContainer ul 
{
    list-style: none;
    padding-top: 4px;
    padding-left: 15px;
}

#SCOTreeMenuContainer ul li 
{
    padding: 4px;
}

#SCOTreeMenuContainer ul li img 
{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.SCOTreeMenuItemEnabled 
{
    color: #62A5DE;
    display: inline;
    cursor: pointer;
}

.SCOTreeMenuItemEnabled:hover 
{
    text-decoration: underline;
}

.SCOTreeMenuItemSelected 
{
    color: #62A5DE;
    font-weight: 700;
    cursor: pointer;
    display: inline;
}

.SCOTreeMenuItemSelected:hover 
{
    text-decoration: underline;
}

#SCOTreeMenuCloseButtonContainer 
{
    text-align: right;
    padding: 6px;
}

#SCOTreeMenuCloseButtonContainer img 
{
    cursor: pointer;
    width: 16px;
    height: 16px;
}

#ContentNavigationButtonsContainer 
{
    float: right;
    max-width: 39%;
    margin-top: 8px;
}

#ContentNavigationButtonsContainer .ContentNavigationButton 
{
    cursor: pointer;
    margin-right: 10px;
    display: inline;
    width: 24px;
    height: 24px;
    margin-top: 5px;
}

.ContentCompletionStatusImage 
{
    float: left;
    margin-top: 13px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#ContentTitle 
{
    float: left;
    margin-top: 13px;
    font-weight: normal;
    font-size: 1.25em;
    max-width: 53%;
    text-transform: uppercase;
}

#LessonFrame 
{    
    width: 100%; 
    height: calc(100% - 50px); 
    position: absolute; 
    top: 50px; 
    left: 0px; 
    right: 0px;     
    border: 0px none;
    transition: visibility .2s;
}


/* LOGGER */

.LoggerContainer 
{
    background-color: #FFFFFF;
    width: 500px;
    left: 50px;
    z-index: 100 !important;
    margin: 0 0px 40px 0px;
    position: absolute !important;
}

div.logger 
{
    font: 8pt "Arial";
    margin-bottom: 10px;
    height: 300px;
    border: 1px solid #999999;
    overflow: scroll;
}

.LoggerContainerHeader 
{
    overflow: hidden;
    height: 36px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px 2px 0 0;
    padding-left: 8px;
    padding-right: 15px;
    padding-top: 4px;
    border: 1px solid #d6d6d6;
    #box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    #background: #edefd3;
    #color: #fff;
    border-bottom: 2px solid #096394;
    padding-bottom: 4px;
    background-color: #555555;
}

.LoggerContainerHeader:hover 
{
    cursor: move;
}

.LoggerContainerHeader p 
{
    float: left;
    margin-top: 10px;
    color: #FFFFFF;
}

.WidgetControlIcon 
{
    float: right;
    margin-left: 12px;
    margin-right: -5px;
    margin-top: 10px;
    padding-right: 3px;
}

.WidgetControlIcon img 
{
    width: 18px;
    height: 18px;
}