.SelectedPackageTypeFilter .GridAnalyticBlockLabel
{
    font-weight: 600;
}

#UploadVideoModal, #UploadPowerPointModal 
{
    min-width: 65%;
    max-width: 65%;
}

#VideoCompletionCriteria_CompleteVideoOnPercentage_Container input[type='radio'],
#PowerPointCompletionCriteria_CompletePowerPointOnPercentage_Container input[type='radio'],
#PDFCompletionCriteria_CompletePDFOnPercentage_Container input[type='radio']
{
    margin-top: 7px;
}

.ContentPackageUtilizationLessonListingContainer ul li
{
    margin-bottom: 3px;
    list-style: disc;
}

.ContentPackageUtilizationLessonItemLessonTitle
{
    font-weight: 700;
}

.ContentPackageUtilizationLessonItemCourseTitle
{
    font-size: 0.85em;
}

#DownloadContentPackageLinkContainer div
{
    margin-bottom: 10px;
}