﻿/* CHART WRAPPER */

.ChartWrapper,
.ChartWithLegendWrapper
{
    width: 100%;
    min-height: 235px;
    margin: 20px;
    padding: 15px;
}

/* CHART TITLE */

.ChartTitleWrapper
{
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.ChartTitle
{
    font-size: 1.1em;
}

.ChartSubTitle
{    
    font-size: 1em;
    padding-top: 2px;
}

/* CHART CANVAS - FOR BAR, DOUGHNUT LINE, AND PIE*/

.ChartCanvasContainer
{
    text-align: center;
}

.ChartWithLegendWrapper .ChartCanvasContainer,
.ChartLegendContainer
{
    float: left;
    width: 50%;
    text-align: left;
}

.ChartCanvasContainer canvas
{
    margin: auto;
}

/* CHART LIST - FOR LISTING */

.ChartListNoData
{
    text-align: center;
    text-transform: uppercase;
}

.ChartListContainer
{

}

.ChartListContainer ol
{
    display: table;
    border-collapse: separate;
    border-spacing: 0 4px;
    width: 100%;
    margin: 0;
    padding-left: 0;
}

.ChartListContainer ol li 
{        
    display: table-row;
    font-size: 1em;
    background: #F3F3F3;
}

ol li span 
{
    display: table-cell;
    padding-left: 10px;
    padding-bottom: 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    -moz-border-top-left-radius: 25px;
    -moz-border-bottom-left-radius: 25px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
}

ol li span:first-child 
{
    padding: 0;
    width: 45px;
    background: #FFFFFF;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
}

ol li span:last-child 
{
    padding:0;
    width: 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    -moz-border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -moz-border-top-right-radius: 25px;
    -moz-border-bottom-right-radius: 25px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
}

/* this is what makes the list items have the circular style*/
.ChartListContainer ol li span:first-child div 
{
    display: table-cell;
    width: 20px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;    
    background: #7399B7;
    color: #FFFFFF;
    text-align: center; 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;    
}

/* CHART LEGEND */

.ChartWithLegendWrapper .ChartCanvasContainer canvas
{
    float: right;
}

.ChartLegendContainer ul li
{
    list-style-type: none;
    margin-bottom: 4px;
}

.ChartLegendContainer ul li span
{
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 6px;
    margin-bottom: -2px;
}