﻿#CSSFileEditorFileListingFilesInnerPanel
{
    min-height: 415px;
    max-height: 415px;
    overflow: auto;
    float: left;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 6px -2px #636363;
}

#CSSFileEditorFileListing
{
	margin: 10px 4px;
}

#CSSFileEditorFileListing table tbody td
{
	padding-bottom: 8px;
}

#CSSFileEditorFileListing a img[src^="/_config/"]
{
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

#CSSFileEditorFileContentWrapperPanel
{
  float: right;
}

#CSSFileEditorFileContentPanel,
#CSSFileDefaultFileContentPanel
{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 45%;
    padding-left: 20px;
}

#CSSFileEditorFileNamePanel
{
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
#CSSFileDefaultFileNamePanel
{
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.ACEEditorPanel
{
    margin: 0;
    width: 100%;
    height: 380px;
    font-size: 0.80em;
}

.CSSEditorActionsPanel
{
    clear: both;
    margin-top: 20px;
}