﻿.DatePickerImage
{
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
}

.DatePickerCheckBox
{
    margin-right: 5px;
}

.DatePickerTimeAMPM
{
    margin-right: 10px;
}

.ui-datepicker
{
    background-color: #4D4D4D;
    border-radius: 3px;
    margin-top: 5px;
    font-size: .750em;
    z-index: 1000000 !important;
	width: 225px;
}

.ui-datepicker td a
{
    display: block;
    padding: 0.2em;
    text-align: right;
    text-decoration: none;
    width: 18px;
    height: 12px;
}

.ui-datepicker td
{
    padding: 1px;
}

.ui-datepicker th
{
    text-align: center;
    padding-top: 2px;
	color: #FFFFFF;
}

.ui-datepicker .ui-datepicker-calendar
{
    width: 100%;
	margin-left: 2px;
}

.ui-datepicker .ui-datepicker-header
{
    border-bottom: 2px solid #252525;
    background-color: #373737;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	padding: 2px;
	color: #FFFFFF;
	box-shadow: 0px 2px 4px #000000;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next
{
    position: absolute;
    width: 1.8em;
    height: 1.8em;
    margin-top: 4px;
    cursor: pointer;
    color: #FFFFFF;
}

.ui-datepicker .ui-datepicker-prev
{
    left: 7px;
}

.ui-datepicker .ui-datepicker-next
{
    right: 11px;
}

.ui-datepicker .ui-datepicker-title
{
    margin: 0 2.3em;
    text-align: center;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year
{
    width: 40%;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
}

.ui-datepicker table
{
    border-collapse: collapse;
}

.ui-datepicker-calendar .ui-state-default
{
    border: 1px solid #3D3D3D;
    background-color: #797979;
    color: #FFFFFF;
	text-align: center;
	padding-bottom: 6px;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.41);
	/*text-shadow:0px 1px 3px rgba(0, 0, 0, 0.5),1px 1px 3px rgba(0, 0, 0, 0.5),0px -1px 3px rgba(0, 0, 0, 0.25), -1px 0px 3px rgba(0, 0, 0, 0.5),1px 0px 3px rgba(0, 0, 0, 0.5);*/
}

.ui-datepicker-calendar .ui-state-highlight
{
    border: 1px solid #000000;
    background-color: #3D3D3D;
}

.ui-datepicker-calendar .ui-state-hover
{
    border: 1px solid #7C7C7C;
    background-color: #E0E0E0;
    color: #000000;
	text-align: center;
	padding-bottom: 6px;
}

.ui-datepicker-calendar .ui-state-active
{
    border: 1px solid #000000;
    background-color: #E0E0E0;
    color: #000000;
}