﻿.GridAnalyticContainer1Column 
{
    column-count: 1;
    column-gap: 30px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
}

.GridAnalyticContainer2Column 
{
	column-count: 2;
    column-gap: 30px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
}

.GridAnalyticContainer3Column 
{
	column-count: 3;
    column-gap: 30px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
}

.GridAnalyticContainer4Column 
{
	column-count: 4;
    column-gap: 30px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
}

.GridAnalyticColumn 
{
	break-inside: avoid;
}

.GridAnalyticWrapperContainer 
{
	display: inline-block;
	clear: both;
	width: 100%;
    min-width: 200px;    
    vertical-align: top;    
    margin-right: 16px;
}

.GridAnalyticContainer 
{
	position: relative;
	margin-bottom: 30px;
	min-height: 130px;
	border:1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 9px -5px #000;
    border-radius: 10px;
}

.PageCategory_System .GridAnalyticContainer {
    border:1px solid rgba(0, 0, 0, 0.1);
}

.PageCategory_UsersAndGroups .GridAnalyticContainer {
    border:1px solid rgba(0, 0, 0, 0.1);
}

.PageCategory_InterfaceAndLayout .GridAnalyticContainer {
    border:1px solid rgba(0, 0, 0, 0.1);
}

.PageCategory_LearningAssets .GridAnalyticContainer {
    border:1px solid rgba(0, 0, 0, 0.1);
}

.PageCategory_Reporting .GridAnalyticContainer {
    border:1px solid rgba(0, 0, 0, 0.1);
}

.GridAnalyticContainerInner 
{
	padding:0px 0px 20px 0px;
	text-align: center;
}

.GridAnalyticTitleContainer 
{
	margin-bottom: 12px;
}

.GridAnalyticTitle 
{
	font-size: .9em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding:20px 10px 0px 10px;
    margin-bottom:15px;
    color:#98a2b8;
}

.GridAnalyticBlock 
{
	text-align: center;
    display: inline-block;
    border-right: 1px solid #ddd;
    padding-right: 20px;
    margin-right: 20px;
}

.GridAnalyticBlock:last-child 
{
	border-right: none;
    margin-right: 0;
}

.GridAnalyticBlockData 
{
	font-size: 1.8em;
    font-weight: 700;
    color:#143b8f;
    width: 80px;
    height: 80px;
    line-height: 80px;
    padding: 5px;
    background: #e3e8f3;
    border-radius: 100%;
}

.GridAnalyticBlockLabel 
{
	font-size: 0.9em;
    font-style:italic;
    opacity:0.8;
    font-weight: 300;
    text-align: center;
}