﻿/* FONT FACES */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,latin-ext'); /* OPEN SANS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&subset=cyrillic,latin-ext'); /* OPEN SANS CONDENSED */

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i'); /* MONTSERRAT */
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i'); /* NUNITO */

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700'); /* QUICKSAND */

/* ICONS */

.XSmallIcon 
{
    width: 16px;
    height: 16px;
}

.SmallIcon 
{
    width: 24px;
    height: 24px;
}

.MediumIcon 
{
    width: 32px;
    height: 32px;
}

.LargeIcon 
{
    width: 48px;
    height: 48px;
}

.XLargeIcon 
{
    width: 64px;
    height: 64px;
}

.DimIcon 
{
    opacity: 0.3 !important;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.PageTitleIconContainer 
{
	float: left;
	margin-right: 10px;
	display: inline-block;
    position:relative;
    width:6%;
    min-width:48px;
    text-align:center;
}

.PageTitleIconContainer:after {
    content:'';
    width:100%;
    height:3px;
    display:block;
    position:absolute;
    bottom:-14px;
    left:0;
    background:linear-gradient(to right, rgba(15,167,187,1) 1%,rgba(19,68,187,1) 100%);
} 

.PageTitleIconContainer.Avatar 
{
    float: left;
	display: inline-block;
}

.PageTitleIconContainer.Avatar img 
{
	border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
}

.PageTitleIcon 
{
    width: 48px;
    height: 48px;
    margin-right: 0;
    vertical-align: middle;
}

.AvatarImage 
{
}

/* GENERAL */

ol, ul 
{
    list-style: none;
}

/* remove these once we are able to remove the general ol, ul style */
.cke_editable ul,
.HomePageMasterContentMiddle ul,
.DetailsViewSectionContainer,
#CatalogMainContainer ul
{
    list-style: disc;
}

.cke_editable ol,
.HomePageMasterContentMiddle ol,
.DetailsViewSectionContainer,
#CatalogMainContainer ol
{
    list-style: decimal;
}
/* --------------------------------------------------------------- */

/* GRID */

.xd-1 { width:8.3333%; }
.xd-2 { width:16.6666%; }
.xd-3 { width:25%; }
.xd-4 { width:33.3333%; }
.xd-5 { width:41.3333%; }
.xd-6 { width:50%; }
.xd-7 { width:58.3333%; }
.xd-8 { width:66.6666%; }
.xd-9 { width:75%; }
.xd-10 { width:83.3333%; }
.xd-11 { width:91.6666%; }
.xd-12 { width:100%; }

.RightWrapper.xd-9 
{
    width: calc(100% - 350px);  
}

@media (max-width: 768px) 
{

    .xm-12 
    { 
        width: 100%;
        clear: both;
        display: block;

    }

    .RightWrapper.xd-9  
    {
        width: 100%;

    }

}

/* IMAGES */

.ImageLink img 
{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 6px;
    margin-bottom: 6px;
}

.InformationPanel img 
{
    margin-right: 7px;
    height: 24px;
    width: 24px;
}

/* CONTAINERS */

html, body 
{
    width: 100%;
    height: inherit;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: .98em;
    color: #777777;
    background-color: #FCFCFC;
}

.TabPanelsContentContainer 
{
	overflow: auto;
	clear: both;
	margin-bottom: 12px;
	background: transparent; 
	border: none; 
	min-height: 0px !important;
}

.FormContentWrapperContainer 
{
	clear: both;
}

.FormContentContainer 
{
    box-sizing: border-box;
	min-height: 420px;
	background: transparent;
	border: none; 
	padding: 5px;
	overflow: auto;
}

@media only screen and (max-width: 480px) 
{
    .MobileHidden { display: none; }
    .BreadcrumbContainer { display: none; }
    .FullDropDownBreadcrumbContainer { display: inline-block; margin-left: 60px; margin-bottom: 15px; }
}

@media only screen and (min-width: 481px) 
{
    .FullDropDownBreadcrumbContainer { display: none; }
}

#PageContainer 
{
    height: 100%;
    text-align: left;
    background: none; 
}

.HomePageMastheadContainer 
{
    overflow: hidden;
    height: auto !important;
    background: #FCFCFC;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.MastheadContainer 
{
    overflow: hidden;
    height: auto !important;
    background:#143b8f;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.MastheadColumnLeft, .HomePageMastheadColumnLeft 
{
    float: left;
}

.MastheadColumnLeft #ApplicationIconImage, #HomePageLogoImage 
{
    float: left;
    margin-top: 9px;
    margin-bottom: 5px;
    margin-left: 16px;
    margin-right: 9px;
}

#HomePageLogoImage 
{
    margin-top: 6px;
}

.MastheadColumnLeft #ApplicationLogoImage 
{
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.MastheadColumnLeft #ApplicationIconImage img
{
	width: 22px;
	height: 22px;
}
	
.MastheadColumnRight, .HomePageMastheadColumnRight 
{
    float: right;
	margin-right: 5px;
}

#MainNavigationControl 
{
    display: table;
    float: left;
    margin-left: 15px;
}

#MainNavigationControl ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}

#MainNavigationControl ul li 
{
    float: left;
    padding: 12px 0px;
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase; 
    letter-spacing:0.6px;
    font-size:13px;
    -webkit-transition:all 0.4s;
    transition:all 0.4s;
}

#MainNavigationControl ul li a 
{
    padding: 12px 15px;
}

#MainNavigationControl img 
{
	height: 18px;
	width: 18px;
}

#MainNavigationControl ul li:hover 
{
	background-color:rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 1px white;
	color: #FFFFFF;
	text-shadow: none;
	cursor: pointer;
}

#MainNavigationControl ul li:hover a
{
	text-decoration: none;
}

#MainNavigationControl ul li:hover a span 
{
	color: #FFFFFF;
	text-shadow: none;
	text-decoration: none;
}

#MainNavigationControl ul li a 
{ 
    color: inherit;
}

#MainNavigationControl ul li a span 
{
    margin-left: 6px;
    color: #FFFFFF;
}

#MainNavigationControl ul li a img 
{
    vertical-align: middle;
    margin-top: -2px; /* this centers the icons on text a little better */
}

.MainNavigationControlItemAlert 
{
    display: inline-block;
    padding: 3px 5px;
    font-size: .750em;
    line-height: 1;
    color: #FFFFFF;
    vertical-align: middle;
    background-color: #DE0000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: -3px;
    margin-left: -10px;
    margin-right: 13px;
}

.ContentContainer, .HomePageContentContainer 
{
    position: relative;
    clear: both;
    overflow: auto;
    height: auto !important;
    min-height: 500px;
    text-align: center;
    width: 100%;
    background:#eaedf6;
}

.MasterContentLeft, .HomePageMasterContentLeft 
{
    float: left;
    overflow: auto;
    height: 100%;
}

.MasterContentRight, .HomePageMasterContentRight 
{
    float: right;
}

.MasterContentMiddle, .HomePageMasterContentMiddle 
{
    overflow: inherit;
    text-align: left;
    /*padding: 15px 15px 0px 15px;
    background: #FCFCFC;*/
    padding:25px 35px 0px 35px;
    background:transparent;
}

.BreadcrumbContainer.xd-12 
{
    overflow: auto;
    padding: 0px 0px 8px 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
}

.BreadcrumbContainer 
{
    overflow: auto;
	border: none !important;
	background: transparent !important;	
	font-size: 0.8em;
    text-transform: uppercase;
	color: #999999;
    margin-bottom: 10px;
}

.BreadcrumbColumnLeft 
{
    float: left;
}

.BreadcrumbColumnRight 
{
    float: right;
}

.BreadcrumbOuterUL
{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    top: -1px;
}

.BreadcrumbInnerUL
{
    display: none;
    position: fixed;
    background: #FFFFFF;
    padding: 2px;
    list-style: none;
    border: 1px solid #e6e6e6;
    z-index: 1000;
	box-shadow: 0px 1px 13px -1px #9A9A9A;
    -moz-box-shadow: 0px 1px 13px -1px #9A9A9A;
    -webkit-box-shadow: 0px 1px 13px -1px #9A9A9A;
}

.BreadcrumbDownArrowLI
{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;    
}

.BreadcrumbDownArrowLI img
{
    color: #333333;
    display: inline-block;
    font-size: 1.25em;
    transform: rotate(0deg);
	transition: all 0.15s;
}

.BreadcrumbDownArrowLI span
{
    display: inline-block;
}

.BreadcrumbItemLI
{
    position: relative;
    float: none;
    white-space: nowrap;
    padding: 0;
}

.BreadcrumbItemLI a 
{
    padding: 5px 10px;
    min-width: 125px;
    display: block;
    line-height: 22px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.BreadcrumbItemLI a:hover 
{
    background: #E0E0E0;
}

.BreadcrumbItemLI a:last-child 
{
    border-bottom: 0;
}

.BreadcrumbDownArrowLI p 
{
    color: #333333;
    display: inline-block;
    font-size: 1.05em;
    transform: rotate(-90deg);
}

.BreadcrumbDelimiter
{
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}

.BreadcrumbItem
{
    display: inline-block;
}

#LoggedInTag 
{
    float: left;
}

.MasterContentMiddle #PageContentContainer 
{
    position:static;
    overflow: initial;
    padding: 20px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 1px 15px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 15px -1px rgba(0, 0, 0, 0.1)A;
    -webkit-box-shadow: 0px 1px 15px -1px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 20px;
}

.PageTitleContainer
{
    position: relative;
    display: inline-flex;
	margin-bottom: 30px;
	width: 100%;
    max-width: 100%;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    padding-bottom:12px;
}

.PageTitleContainer p 
{	
	font-size: 2.0em;
	line-height: 1em;
	margin-top: 6px;	
	color: #1c2e53;
	font-family: 'Quicksand', 'Open Sans', sans-serif;
	font-weight: 400;
    text-transform:none;	
}

.Level1PageTitle,
.Level2PageTitle
{
    display: flex;
}

.Level1PageTitle
{
    margin-bottom: 0;
    border:none;
}

.Level1PageTitle p 
{	
	font-size: 1.25em;	
}

.Level1PageTitle .PageTitleIcon 
{
    width: 32px;
    height: 32px;
}

.Level2PageTitle::before
{
    content: " ";
    border-left: 2px dotted #CCCCCC;
    border-bottom: 2px dotted #CCCCCC;
    position: absolute;
    width: 14px;
    height: 16px;
    left: -22px;
    top: 5px;
}

.Level2PageTitle
{    
    margin-left: 38px;
    border:none;
}

#Level1PageTitleIconContainer,
#Level2PageTitleIconContainer { width:auto; }
#Level1PageTitleIconContainer:after,
#Level2PageTitleIconContainer:after { display:none; }
	
.FooterContainer 
{
    padding: 5px 10px;
    border: 0;
    clear: both;
    font-size: 0.8em;
}

.HomePageFooterContainer 
{
    margin-top: 15px;
    padding: 5px 10px;
    border-top: 1px solid #E7E7E7;
    background: #FCFCFC;
}

.FooterContainer a, .HomePageFooterContainer a 
{
    text-decoration: none;
}

.FooterContainer a:hover, .HomePageFooterContainer a:hover 
{
    text-decoration: underline;
}

.FooterColumnLeft, .HomePageFooterColumnLeft 
{
    float: left;
}

.FooterColumnRight, .HomePageFooterColumnRight 
{
    text-align: right;
}

#FooterTagContainer
{
    margin-bottom: 20px
}

/* ELEMENTS */

#LanguageSelectorControl, #SettingsControl, #SettingsControlForLogin 
{
    float: right;
    line-height: 42px;
    margin-right: 5px;
    padding: 0px 5px;
    cursor: pointer;
}

#LanguageSelectorControl img, #SettingsControl img, #SettingsControlForLogin img 
{
    vertical-align: middle;
    height: 24px;
    width: 24px;
}

#LanguageSelectorControl:hover, #SettingsControl:hover, #SettingsControlForLogin:hover 
{
	background-color:rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 1px white;
}

#SettingsControlForLogin .LoginLabel
{
    color: #FFFFFF;
    margin-left: 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .8em;
    text-shadow: 0 1px 1px #505050;
}

#LanguageSelectorMenuItemContainer,
#SettingsControlMenuItemContainer,
#TranscriptPrintOptionsMenuItemContainer
{
    display: none;
    position: absolute;
    top: 40px;
    padding: 0;
    background: #FFFFFF;
    border: 1px solid rgb(204, 204, 204);
    border-top: 0;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    line-height: normal;
    z-index: 5000;
    cursor: default;
    text-align: right;
    line-height: 22px;
    box-shadow: 0px 1px 13px -1px #9A9A9A;
    -moz-box-shadow: 0px 1px 13px -1px #9A9A9A;
    -webkit-box-shadow: 0px 1px 13px -1px #9A9A9A;
    text-transform: uppercase;
    font-size: 0.80em;
}

#SettingsControlMenuItemContainer
{
    right: 9px;
}

#LanguageSelectorMenuItemContainer
{
    right: 48px;
}

#TranscriptPrintOptionsMenuItemContainer
{
    top: 35px;
    right: 0;
}

#LanguageSelectorMenuItemContainer div,
#SettingsControlMenuItemContainer div,
#TranscriptPrintOptionsMenuItemContainer div
{
    border-bottom: 1px solid #CECECE;
}

#LanguageSelectorMenuItemContainer a, #SettingsControlMenuItemContainer a,
#LanguageSelectorMenuItemContainer span, #SettingsControlMenuItemContainer span,
#TranscriptPrintOptionsMenuItemContainer a, #TranscriptPrintOptionsMenuItemContainer span
{
    line-height: 25px;
    padding: 5px 10px;
    min-width: 150px;
    display: block;
}

#LanguageSelectorMenuItemContainer a + span,
#SettingsControlMenuItemContainer a + span,
#TranscriptPrintOptionsMenuItemContainer a + span
{
    border-top: 1px solid #CECECE;
}

#LanguageSelectorMenuItemContainer div:last-child a,
#SettingsControlMenuItemContainer div:last-child a,
#TranscriptPrintOptionsMenuItemContainer div:last-child a
{
    border-bottom: 0;
}

#LanguageSelectorMenuItemContainer a:hover,
#SettingsControlMenuItemContainer a:hover,
#TranscriptPrintOptionsMenuItemContainer a:hover
{
    background: #E0E0E0;
}

a 
{
    color: #62A5DE;
    text-decoration: none;
	cursor: pointer;
}

a:hover 
{
    text-decoration: underline;
}

/* CLASSES */

.bold 
{
    font-weight: 700;
}

.centered 
{
    text-align: center;
}

.MasterContentTableLeft 
{
    float: left;
    vertical-align: top;
}

.MasterContentTableMiddle 
{
    vertical-align: top;
}

.MasterContentTableRight 
{
    float: right;
    vertical-align: top;
}

.ObjectOptionsPanel
{
	/*display: inline-block;*/
    /*margin-top:7px;
    margin-bottom: 30px;
    margin-left:0px;
    float:right;*/
    margin:0;
    position:absolute;
    right:40px;
    top:85px;
}

.ObjectOptionsPanel #UploadPackageLink,
.ObjectOptionsPanel #UploadVideoLink,
.ObjectOptionsPanel #UploadPowerPointLink,
.ObjectOptionsPanel #UploadPDFLink { font-size:13px; }

.FormContentContainer .ObjectOptionsPanel
{
	/*display: inline-block;*/
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
}

.ObjectOptionsPanel div
{
	display: inline;
    font-family:'Quicksand', 'Open Sans';
}
	
.ObjectOptionsPanel div.OptionsPanelLinkIconContainer img.OptionsPanelLinkMainIcon /* this may go away as it hides a "main icon" - TODO */
{
	display: none;
}

.ObjectOptionsPanel div.OptionsPanelLinkIconContainer img.OptionsPanelLinkOverlayIcon /* this may be done in place of the above code as this should just be the "main icon" - TODO */
{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-top: -1px;
}

.ObjectOptionsPanel div.OptionsPanelLinksContainer
{
	display: inline-block;
    margin-top:0px;
}

.ObjectOptionsPanel div.OptionsPanelLinkContainer
{
	margin-right: 10px;
    background:#e2ebef;
    padding:10px 15px;
    border-radius:100px;
    font-weight:600;
}

@media (max-width: 768px) 
{
    .OptionsPanelLinkLabelContainer {display: none;}
}

.ActionsPanel
{
	clear: both;
	margin-bottom: 10px;
	padding-left: 4px; 
}

.InformationStatusPanel
{        
}

.InformationStatusPanel-LaunchTriggerIconButtonContainer
{
    cursor: pointer;
}

.InformationStatusPanel-LaunchTriggerIconButtonContainer img
{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.InformationStatusPanel-BlackoutPanel
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333333;
    opacity: 0.7;
    z-index: 9995;
}

.InformationStatusPanel-Popup
{
    position: absolute;
    left: calc(50% - 250px);
    width: 500px;
    min-height: 185px;
    border: 1px solid #000000;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;   
    background-color: #FCFCFC;
    box-shadow: 0 0 40px -10px #000000;
    -moz-box-shadow: 0 0 40px -10px #000000;
    -webkit-box-shadow: 0 0 40px -10px #000000;
    z-index: 9996;
}

.InformationStatusPanel-Draggable
{
    cursor: move;
}

.InformationStatusPanel-OnPage
{
    margin-bottom: 15px;
    border: none;
}

/* when inside a modal container, margins are needed all around */
.ModalPopupContainer .InformationStatusPanel-OnPage
{
    margin: 15px;
}

/* when inside a modal body, margins are reset and only bottom margin is needed */
.ModalPopupBody .InformationStatusPanel-OnPage
{
    margin: 0;
    margin-bottom: 15px;
}

.InformationStatusPanel-ALERT
{
    border-color: #9E871C;
}

.InformationStatusPanel-ERROR
{
    border-color: #820F0F;
}

.InformationStatusPanel-HELP
{
    border-color: #31586D;
}

.InformationStatusPanel-INFORMATION
{
    border-color: #31586D;
}

.InformationStatusPanel-SUCCESS
{
    border-color: #267926;
}

.InformationStatusPanel-Popup .InformationStatusPanel-MessagingContainer
{
    padding: 20px;
    min-height: 90px;
    box-shadow: inset 0 21px 99px -43px #000000;
    -moz-box-shadow: inset 0 21px 99px -43px #000000;
    -webkit-box-shadow: inset 0 21px 99px -43px #000000;
}

.InformationStatusPanel-OnPage .InformationStatusPanel-MessagingContainer
{
    padding: 6px 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;      
}

.InformationStatusPanel-ALERT .InformationStatusPanel-MessagingContainer
{
    background-color: #CEAF20;
    background-image: url(/_images/InfoStatusPanels/alert.png);
    background-position: -23% 60%;
    background-repeat: no-repeat;    
}

.InformationStatusPanel-OnPage.InformationStatusPanel-ALERT .InformationStatusPanel-MessagingContainer
{
    background-position: -57px -100px;
}

.InformationStatusPanel-ERROR .InformationStatusPanel-MessagingContainer
{
    background-color: #C75A5A;
    background-image: url(/_images/InfoStatusPanels/error.png);
    background-position: -16% 44%;
    background-repeat: no-repeat;
}

.InformationStatusPanel-OnPage.InformationStatusPanel-ERROR .InformationStatusPanel-MessagingContainer
{
    background-position: -57px -100px;
}

.InformationStatusPanel-HELP .InformationStatusPanel-MessagingContainer
{
    background-color: #8DB7CF;
    background-image: url(/_images/InfoStatusPanels/question.png);
    background-position: -30% 44%;
    background-repeat: no-repeat;
}

.InformationStatusPanel-OnPage.InformationStatusPanel-HELP .InformationStatusPanel-MessagingContainer
{
    background-position: -57px -100px;
}

.InformationStatusPanel-INFORMATION .InformationStatusPanel-MessagingContainer
{
    background-color: #8DB7CF;
    background-image: url(/_images/InfoStatusPanels/information.png);
    background-position: -30% 44%;
    background-repeat: no-repeat;
}

.InformationStatusPanel-OnPage.InformationStatusPanel-INFORMATION .InformationStatusPanel-MessagingContainer
{
    background-position: -57px -100px;
}

.InformationStatusPanel-SUCCESS .InformationStatusPanel-MessagingContainer
{
    background-color: #30ce5c;
    background-image: url(/_images/InfoStatusPanels/success.png);
    background-position: -16% 44%;
    background-repeat: no-repeat;    
}

.InformationStatusPanel-OnPage.InformationStatusPanel-SUCCESS .InformationStatusPanel-MessagingContainer
{
    background-position: -57px -100px;
}

.InformationStatusPanel-MessagingContainer,
.InformationStatusPanel-MessagingContainer a,
.InformationStatusPanel-MessagingContainer a:visited,
.InformationStatusPanel-MessagingContainer a:hover
{
    color: #FFFFFF;
}

.InformationStatusPanel-MessagingContainer a,
.InformationStatusPanel-MessagingContainer a:visited,
.InformationStatusPanel-MessagingContainer a:hover
{
    text-decoration: underline;
}

/* for errors inside of modals, we need to override the modal styling on <p> */
.ModalPopupBody .InformationStatusPanel-MessagingContainer p
{
    margin-bottom: 0;
}

.InformationStatusPanel-MessageHeader
{
    float: left;
    font-size: 1.4em;    
    margin-bottom: 45px;    
}

.InformationStatusPanel-OnPage .InformationStatusPanel-MessagingContainer .InformationStatusPanel-MessageHeader
{  
    margin-bottom: 15px;    
}

.InformationStatusPanel-Message
{
    clear: both;    
}

.InformationStatusPanel-BodyWrapperContainer
{
    padding: 8px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: .85em;
}

.InformationStatusPanel-CloseButtonWrapperContainer
{
    padding: 8px;
    text-align: right;
    box-shadow: inset 0 -5px 45px -21px #000000;
    -moz-box-shadow: inset 0 -5px 45px -21px #000000;
    -webkit-box-shadow: inset 0 -5px 45px -21px #000000;
}

.SubItemHeaderContainer 
{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 5px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    background: #3E5B6B; 
}

.SubItemHeaderContainer p 
{
    float: left;
}

.SubItemHeaderContainer img 
{
    float: right;
    margin-top: 4px;
    cursor: pointer;
}

.SubItemContentContainer 
{  
}

.PageInformationPanel
{        
    padding: 18px 15px 15px 15px;
    min-height: 24px;
    margin-bottom: 30px;
}

.SectionInformationPanel
{        
    padding: 0 0 15px 0;
    min-height: 24px;
    margin-bottom: 30px;
}


.FormInformationPanel 
{
    margin-bottom: 4px;
    min-height: 24px;
}

.PageInformationPanelBorder, 
.SectionInformationPanelBorder, 
.FormInformationPanelBorder 
{
    background: url(/_images/InfoStatusPanels/information.png);
    background-position: -70px -72px;
    background-repeat: no-repeat;
    background-color: #93d5e0;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-bottom: 20px;
}

.PageInformationPanel img,
.SectionInformationPanel img,
.FormInformationPanel img 
{
    float: left;
}

.PageInformationPanel p, 
.SectionInformationPanel p, 
.FormInformationPanel p 
{
    margin: 12px 0px 6px 30px;
    padding-top: 3px;
}

.SectionInformationPanel p
{
    margin-top: 0px;
}

.PageInformationPanelBorder p, 
.SectionInformationPanelBorder p, 
.FormInformationPanelBorder p 
{
    margin: 0 0 0 0;
    padding: 0;
    color: #FFFFFF;
}

.ItemListingContainer 
{
    overflow: auto;
    height: 250px;
    border: 1px solid #E0E0E0;
    padding: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;
}

.ItemListingContainer div 
{
    margin-bottom: 4px;
}

.ItemListingContainer div img
{
    width: 16px;
    height: 16px;
    margin-right: 6px;
    vertical-align: middle;
}

/* TABS */

.TabsContainer 
{
    margin-top: 3px; /* prevents top tab overflow from getting cut off */
    margin-bottom: 30px;
}

.TabsResponsiveLabel
{
    display: none;
    position: relative;
    margin: 0;
    padding-left: 0;
    padding: 15px;
    cursor: pointer;
    background-color: #76787B;
    font-size: 1.18em;
    color: #FFFFFF;
    border-radius: 3px;
    border-bottom: 1px solid #B5B5B5;    
}

.TabsResponsivePullDownTrigger
{
    position: absolute;
    top: 19px;
    width: 12px;
    height: 12px;
    margin-left: 12px;
    cursor: pointer;    
    background: none;
    color: transparent;    
    border: none;
    border-left: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    transform: rotate(-45deg);
}

ul.TabbedList 
{
	list-style: none;
	padding-left: 0;
	margin: 0;
    background-color: #6a7b87;
	background: #6a7b87;
    border-radius: 8px;
	border-bottom: 2px solid #6a7b87;
}

ul.TabbedList li 
{
	color: #FFFFFF;
	position: relative;
	display: inline-grid;
    width: 150px;
    text-align: center;
    padding: 15px 6px;
	margin: 0;
}

ul.TabbedList li:hover:after 
{
    content: "";
    width: 0;
    height: 0;
    position: absolute;        
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 12px solid #6a7b87;
	top: 46px;
    left: 58px;
	animation-name: tabHover;
    animation-duration: .15s;
	animation-iteration-count: 1;
}

ul.TabbedList li.on:hover:after 
{
    border-top-color: inherit;
}

ul.TabbedList li.TabbedListLIError
{
	overflow: visible; /* so error alert icons can show and hang over the corner */
}

/* 

    .TabbedList li a is the current structure, it is being changed to .TabbedList li div,
    keep both styles around until the entire application is fitted with the new structure.

    TODO: Once the structure is changed, remove selectors tagged with CURRENT, leaving just the NEW

*/
	
ul.TabbedList li a, /* CURRENT */
ul.TabbedList li div /* NEW */
{
    color: #FFFFFF; /* DROP WHEN NEW FORMAT IS IN PLACE */
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    font-size:13px;
    font-weight:600;
}

ul.TabbedList li.TabbedListLIOn
{ 
    margin-bottom: -2px;
	color: #FFFFFF;
    border-radius:8px;
    background: rgb(20,59,143); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(20,59,143,1) 0%, rgba(29,105,158,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#143b8f', endColorstr='#1d699e',GradientType=0 ); /* IE6-9 */
 }
 
ul.TabbedList li.TabbedListLIOn:after,
ul.TabbedList li.TabbedListLIOn:hover:after
{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 12px solid #6a7b87;
    top: 46px;    
    left: 58px;
	animation-name: none;
}

ul.TabbedList li:hover
{
	cursor: pointer;
}

ul.TabbedList li.TabbedListLIOn:hover
{
	cursor: default;
}

ul.TabbedList li.Empty
{
	border: none;
	background: none;
}

ul.TabbedList li.Empty:hover
{
	cursor: default;
}

/* tab animation */
@keyframes tabHover 
{
    0%
    {
	    border-top-width: 0;
    }
    35% 
    {
	    border-top-width: 24px;
    }
    100% 
    {
	    border-top-width: 12px;
    }
}

/* SECTION SPECIFIC TAB COLORS */

/* general */
.PageCategory_General  ul.TabbedList li.TabbedListLIOn 
{
    border-bottom: 2px solid #1D699E;
    background: rgb(20,59,143); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(20,59,143,1) 0%, rgba(29,105,158,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#143b8f', endColorstr='#1d699e',GradientType=0 ); /* IE6-9 */
}

.PageCategory_General ul.TabbedList li.TabbedListLIOn:after,
.PageCategory_General ul.TabbedList li.TabbedListLIOn:hover:after 
{
    border-top: 12px solid #1D699E;
}

/* learning assets */
.PageCategory_LearningAssets  ul.TabbedList li.TabbedListLIOn 
{
    border-bottom: 2px solid #1D699E;
    background: rgb(20,59,143); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(20,59,143,1) 0%, rgba(29,105,158,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#143b8f', endColorstr='#1d699e',GradientType=0 ); /* IE6-9 */
}

.PageCategory_LearningAssets ul.TabbedList li.TabbedListLIOn:after,
.PageCategory_LearningAssets ul.TabbedList li.TabbedListLIOn:hover:after 
{
    border-top: 12px solid #1D699E;
}

/* system */
.PageCategory_System  ul.TabbedList li.TabbedListLIOn 
{
    border-bottom: 2px solid #1D699E;
    background: rgb(20,59,143); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(20,59,143,1) 0%, rgba(29,105,158,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#143b8f', endColorstr='#1d699e',GradientType=0 ); /* IE6-9 */
}

.PageCategory_System ul.TabbedList li.TabbedListLIOn:after,
.PageCategory_System ul.TabbedList li.TabbedListLIOn:hover:after 
{
    border-top: 12px solid #1D699E;    
}

/* users and groups */
.PageCategory_UsersAndGroups  ul.TabbedList li.TabbedListLIOn 
{
    border-bottom: 2px solid #1D699E;
    background: rgb(20,59,143); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(20,59,143,1) 0%, rgba(29,105,158,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#143b8f', endColorstr='#1d699e',GradientType=0 ); /* IE6-9 */
}

.PageCategory_UsersAndGroups ul.TabbedList li.TabbedListLIOn:after,
.PageCategory_UsersAndGroups ul.TabbedList li.TabbedListLIOn:hover:after 
{
    border-top: 12px solid #1D699E;    
}

/* interface and layout */
.PageCategory_InterfaceAndLayout  ul.TabbedList li.TabbedListLIOn 
{
    border-bottom: 2px solid #1D699E;
    background: rgb(20,59,143); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(20,59,143,1) 0%, rgba(29,105,158,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#143b8f', endColorstr='#1d699e',GradientType=0 ); /* IE6-9 */
}

.PageCategory_InterfaceAndLayout ul.TabbedList li.TabbedListLIOn:after,
.PageCategory_InterfaceAndLayout ul.TabbedList li.TabbedListLIOn:hover:after 
{
    border-top: 12px solid #1D699E;    
}

/* reporting */
.PageCategory_Reporting  ul.TabbedList li.TabbedListLIOn 
{
    border-bottom: 2px solid #1D699E;
    background: rgb(20,59,143); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(20,59,143,1) 0%, rgba(29,105,158,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(20,59,143,1) 0%,rgba(29,105,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#143b8f', endColorstr='#1d699e',GradientType=0 ); /* IE6-9 */
}

.PageCategory_Reporting ul.TabbedList li.TabbedListLIOn:after,
.PageCategory_Reporting ul.TabbedList li.TabbedListLIOn:hover:after 
{
    border-top: 12px solid #1D699E;    
}

/* TAB ERROR INDICATOR IMAGE */

ul.TabbedList li.TabbedListLIError img 
{
    position: absolute;
    top: -9px;
    right: -6px;
    z-index: 1;
}

/* TAB CONTENT PANELS */

.TabSubPanel, .TabContentPanel 
{ 
	background: transparent; 
	min-height: 0px; 
	border: none; 
	padding: 0; 
}

/* TABS RESPONSIVE */
@media (min-width: 1001px) and (max-width: 1100px)
{
    ul.TabbedList li 
    {	    
        width: 144px;        
    }

    ul.TabbedList li:hover:after,
    ul.TabbedList li.TabbedListLIOn:after,
    ul.TabbedList li.TabbedListLIOn:hover:after
    {        
        left: 60px;	    
    }
}

@media (max-width: 1000px) 
{
    .TabsContainer
    {
        margin-bottom: 15px;
    }

    .TabsResponsiveLabel
    {
        display: block;
    }

    .HideTabsUL
    {
        display: none;
    }

    .ShowTabsUL
    {
        display: block;
    }

    ul.TabbedList 
    {        
        position: absolute;
        overflow-y: hidden;
        margin-top: 0;
        border-radius: 0;	    
        box-shadow: 4px 4px 8px -6px #000;
        z-index: 1;
    }

    ul.TabbedList li 
    {	    
	    display: block;        
        text-align: left;
        padding: 15px;
	    border-bottom: 1px solid #B5B5B5;
        z-index: 1;
    }

    ul.TabbedList li:last-child
    {	    	    
	    border-bottom: none;
    }

    ul.TabbedList li:hover:after,
    ul.TabbedList li.TabbedListLIOn:after,
    ul.TabbedList li.TabbedListLIOn:hover:after 
    {
        content: none;
        width: 0;
        height: 0;
        position: absolute;
        border-left: none;
        border-right: none;
        border-top: none;
        top: 0;    
        left: 0;
	    animation-name: none;
    }

    ul.TabbedList li:hover
    {
        background: #9EA0A0;
    }

    ul.TabbedList li.TabbedListLIError img 
    {
        top: 25%;
        right: 6px;
    }
}

/* PROGRESS INDICATOR */

.ProgressIndicatorWrapper
{

}

.ProgressBar 
{
    display: inline-block;
    overflow: hidden;
    width: 100px;    
    border: 1px solid #9A9A9A;
    background-color: #D1D1D1;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
}

.ProgressBar > span 
{
    display: block;
    height: 13px;
    background-color: #87BF36;    
    box-shadow: inset 0 4px 4px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 4px 4px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 4px 4px rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
    border-right: 1px solid #6D8C77;
    margin-left: -1px; /* this is to offset the 1px border */
}

.ProgresIndicatorText
{
    display: inline-block;
    margin-left: 5px;
}

/* "EXCEL TABLE" FORMATTING */

.ExcelTableWrapper 
{
    margin-top: 5px;
    margin-bottom: 25px;
    max-height: 250px;
}

.ExcelTableFormat 
{
    border: 1px solid #B0CBEF;
	border-width: 1px 0px 0px 1px;
	font-size: 11pt;
	font-family: Calibri;
	font-weight: 100;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}

.ExcelTableFormat th 
{
    background-color: #E4ECF7;
    font-weight: normal;
    font-size: 14px;
    border: 1px solid #9EB6CE;
    border-width: 0px 1px 1px 0px;
    height: 17px;
    text-align: center;
}

.ExcelTableRowHeader 
{
    background-color: #E4ECF7;
	text-align: center;
	border: 1px solid #9EB6CE;
	border-width: 0px 1px 1px 0px;
    width: 50px;
}

.ExcelTableData 
{
    border: 0px;
	background-color: white;
	padding: 0px 4px 0px 2px;
	border: 1px solid #D0D7E5;
	border-width: 0px 1px 1px 0px;
}

/*

VERTICAL ICON MENU

menus consisting of icons with their labels centered and stacked beneath them
icons go left-to-right and then wrap vertically

*/

.VerticalImageLinkContainer
{
}

.VerticalImageLinkContainer .VerticalImageLinkOuter
{
	float: left;
    margin: 6px;
    padding: 7px;
    width: 85px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #F3F7FF;
    border: 1px solid #D5DEF1;
	box-shadow: 0px 0px 25px -8px #9FB1D4;
    -moz-box-shadow: 0px 0px 25px -8px #9FB1D4;
    -webkit-box-shadow: 0px 0px 25px -8px #9FB1D4;
}

.VerticalImageLinkContainer .VerticalImageLinkOuter:hover
{
    border: 1px solid #CCD9EF;
    box-shadow: 0px 0px 25px -8px #365286;
    -moz-box-shadow: 0px 0px 25px -8px #365286;
    -webkit-box-shadow: 0px 0px 25px -8px #365286;
	background-color: #FFFFFF;
}

.VerticalImageLinkContainer .VerticalImageLinkInner
{
	text-align: center;
}

.VerticalImageLinkContainer .VerticalImageLinkImageContainer
{
}

.VerticalImageLinkContainer .VerticalImageLinkImageContainer a
{
	margin-bottom: 6px;
    display: inline-block;
}

.VerticalImageLinkContainer .VerticalImageLinkImageContainer a:hover
{
	text-decoration: none;
}

.VerticalImageLinkContainer .VerticalImageLinkImageContainer a img
{
	width: 42px;
    height: 42px;
}

/* EXPANDABLE PARAGRAPH */

.ExpandableParagraphContainer 
{
    transition: all;
    transition-duration: .3s;
    box-shadow: inset 0px -6px 10px -10px #000;
    -moz-box-shadow: inset 0px -6px 10px -10px #000;
    -webkit-box-shadow: inset 0px -6px 10px -10px #000;
    padding-bottom: 10px;
}

.ExpandableParagraphContainer .SectionInformationPanel 
{
    margin-bottom: 20px;
    padding-bottom: 0px;
}

.ExpandableParagraphControlsContainer 
{
    border-top: 1px solid #a9a9a9;
    text-transform: uppercase;
    padding-top: 3px;
    text-align: center;
    position: relative;
    font-size: .85em;
}

.ExpandableParagraphControlsContainer img 
{
    cursor: pointer;
}

/* LOADING PLACEHOLDER */

.LoadingPlaceholder
{
    text-align: center;
    margin-top: 5px;
	margin-bottom: 5px;
}

/* ICALENDAR LINK */
.ICalendarLink 
{
    margin-left: 6px;
}

/* TOOLTIPS */
.ui-tooltip-left:before
{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #76787B; /*#686B6F, #76787B*/
    top: -9px;
    left: 2px;
}

.ui-tooltip-right:before
{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #76787B; /*#686B6F, #76787B*/
    top: -9px;
    right: 2px;
}

.ui-tooltip 
{
    padding: 6px 8px;
    position: absolute;
    z-index: 9999;
    max-width: 600px;
    border-width: 0px;
    border-radius: 3px;
    background: #76787B;
    color: #FFFFFF;
    font-size: .80em;
}

/* COOKIE CONSENT */

#CookieConsentOuter_Container
{
	position: fixed;
    bottom: -150px;
    left: 0px;
    background-color: #595D63;
    width: 100%;
    color: #FFFFFF;
	z-index: 10000;
}

.CookieConsentRollIn
{
	animation-name: CookieConsentRollIn;
	animation-duration: .5s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.CookieConsentRollOut
{
	animation-name: CookieConsentRollOut;
	animation-duration: .35s;
	animation-fill-mode: forwards;
}

#CookieConsentInner_Container
{
	display: flex;
	margin: 16px 50px;
}

#CookieConsentHeadline_Label
{
	font-weight: 700;
	font-size: .9em;
	margin-bottom: 10px;
}

#CookieConsentMain_Container
{
    flex: auto;
    margin-right: 20px;
}

#CookieConsentSelectors_Container div
{
    display: inline-block !important;
}

#CookieConsentText_Container,
#CookieConsentSelectors_Container
{
	font-size: .8em;
    margin-top: 10px;
	margin-bottom: 10px;
    margin-right: 20px;
}

#CookieConsentButton_Container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#CookieConsent_Button
{
	border: 1px solid #FFFFFF;
    background-color: #8B9D3B;
    color: #FFFFFF;
    padding: 7px 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 17px -4px #000000;
}

@keyframes CookieConsentRollIn
{
	from {bottom: -300px;}
	to {bottom: 0px;}
}

@keyframes CookieConsentRollOut
{
	from {bottom: 0px;}
	to {bottom: -300px;}
}

@media screen and (max-width: 900px) 
{
}

@media screen and (max-width: 640px) 
{
	#CookieConsentOuter_Container
    {
		bottom: -300px;
	}

	#CookieConsentInner_Container
    {
		font-size: .7em;
		margin: 25px 25px;
	}

    #CookieConsentHeadline_Label
    {
		font-size: 1em;
	}

    #CookieConsentText_Container,
	#CookieConsentSelectors_Container
    {
		font-size: 1em;
	}

	#CookieConsent_Button
    {
		padding: 7px 20px;
	}
}

/* CLEAN UP BELOW THIS LINE */

/* PAGE SPECIFIC - POSSIBLY MOVE ALL THIS TO PAGE SPECIFIC CSS FILES - TODO */

/* specific to ReportForm, possibly move this class somewhere else - TODO */

.DatePickerFilter 
{
    display: inline-block;
}

/* specific to EventEmailNotificationForm - possibly move this clas somewhere else - TODO */
.EmailBodyPlaceHolder 
{
    height: 240px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
}

.EmailPlaceHolderTitle 
{
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: 700;
}

.EmailPlaceHolderContent 
{
    padding: 5px;
    margin-bottom: 5px;
}

.EmailLinkContent 
{
    margin-left: 10px;
    margin-bottom: 3px;
}

/* specific to System/Logs default page - possibly move this there - TODO */

.LogLinksContainer 
{
    margin-left: 30px;  
    margin-bottom: 10px;    
    text-align: left;
}

.LogLinksContainer a 
{
    color: #4d82ae;
    text-decoration: none;
    font-size: 1.5em;
    cursor: auto;
}

.LogLinksContainer a:hover 
{
    border-bottom: 2px solid;
    cursor: pointer;
}

.LogLinksContainer label 
{
    display: block;
}

.LogLinksContainer hr 
{
    border-style: outset;
}

.LogLinksContainer img 
{
    margin-right: 10px;
}

/* http://styling.asentia.com/administrator/system/users/UserFieldConfiguration.aspx */

#UserFieldConfigurationProperties_FormPreviews_TabPanel 
{
    overflow: auto;
}

/* specific to Catalog Admin Page - definitely revamp and move this - TODO */
/* Tree View / Editor (right panel action items) */

.TreeView
{
	min-width: 200px;
	padding: 8px;
}

.TreeView .Item 
{
	margin-bottom: 6px;
	overflow: visible !important;
}

.TreeView div.SelectedItem
{
	margin-top: 6px;
}

.TreeView .SubGroup
{
	margin-left: 12px;
    margin-top: 6px;
    margin-bottom: 4px;
    border-left: 2px dotted #DDDDDD;
    padding-left: 17px;
}

.TreeView .Item .ImageNode
{
	width: 24px;
	height: 24px;
	margin-right: 6px;
	cursor: pointer;
}

.TreeView .SelectedItem > a
{
	background-color: #D3DCEC;
    font-weight: 500;
    padding: 5px 8px 7px 8px;
    margin: -4px -8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* specific to PayPalBuyButton - this may be redone */
.PayPalBuyNowButton
{
    border: 0;
    width: 107px;
    height: 26px;
    background-image: url(https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif);
}

/* specific to AddPlaceholder Button*/
.AddPlaceHolder
{
    margin-left: 10px;
    margin-top: 10px;
}