﻿.ObjectDashboardContainer 
{ 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    margin-left: -15px; 
    margin-right: -15px; 
}

.ObjectDashboardWidget 
{ 
    margin-bottom: 20px; 
    display: inline-block; 
    width: 370px; 
    flex-grow: 1; 
    flex-shrink: 1; 
}

.ObjectDashboardWidgetInnerWrapper 
{ 
    margin-left: 15px; 
    margin-right: 15px; 
}

.ObjectDashboardWidgetHeader 
{ 
    font-size: 1.2em; 
    font-family:'Quicksand', 'Open Sans';
    font-weight:600;
    padding:10px;
    border-radius:8px 8px 0px 0px;
    color:#143b8f;
    border-bottom:1px solid rgba(0, 0, 0, 0.14);  
    position:relative; 

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f2f5+0,ffffff+100 */
background: rgb(224,242,245); /* Old browsers */
background: -moz-linear-gradient(left, rgba(224,242,245,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(224,242,245,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(224,242,245,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f2f5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.ObjectDashboardWidgetHeader:after {
    content: '';
    width: 35px;
    height: 3px;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 10px;
    background: linear-gradient(to right, rgba(15,167,187,1) 1%,rgba(19,68,187,1) 100%);
}

.ObjectDashboardWidgetContent 
{ 
    border-top: none; 
    margin: 0px; 
    overflow-y: hidden; 
    background-color: #FFFFFF; 
    transition: all; 
    transition-duration: .2s; 
    max-height: 1000px; 
    position: relative; 
    padding: 20px; 
    border-top-color: #0D6393;
}

.ObjectDashboardWidgetItem 
{ 
    margin-bottom: 8px; 
}

.ObjectDashboardWidgetItemLabel 
{ 
    font-size: 1.2em; 
    font-weight: 500; 
    text-align: left; 
}

.ObjectDashboardWidgetItemText 
{

}

.ObjectDashboardWidgetItemObject 
{

}

.ObjectDashboardWidgetItemObject .ChartWrapper,
.ObjectDashboardWidgetItemObject .ChartWithLegendWrapper
{
    width: auto;
    min-height: initial;
    margin: 0;
    padding: 0;
}

.ObjectDashboardWidgetItemObject .ChartWithLegendWrapper .ChartCanvasContainer
{
    width: 34%;
    text-align: right;
}

.ObjectDashboardWidgetItemObject .ChartWithLegendWrapper .ChartLegendContainer
{
    width: 66%;
    text-align: left;
}

.ObjectDashboardWidgetItemLink
{

}

.ObjectDashboardWidgetItemLink div
{
    position: relative;
}

.ObjectDashboardWidgetItemLink img
{
    margin-right: 8px;
}

.ObjectDashboardWidgetItemLink .OverlayIcon
{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 14px;
    height: 14px;
}

.DashboardListItemWrapper
{
    display: inline-flex;
    width: 100%;
    margin-bottom: 8px;
}

.DashboardListItemImage
{
    margin-right: 10px;
}

.DashboardListItemText
{
    flex-grow: 1;
    margin-right: 10px;
}

.DashboardListItemOptionLinks {
}