﻿/*NEW OBJECT SUB MENU 9/2018*/
.ObjectMenu 
{
	margin-top: 10px;
	margin-bottom: 25px;
	margin-left: 5px;
}

.ObjectMenuLinkContainer 
{
	display: inline-block;
	padding: 10px;
	border: 1px solid #D9D9D9;
	border-radius: 100px;
	margin-right: 5px;
}

.ObjectMenuLinkContainer:hover 
{
	background: #DFEDF8;
}

.ObjectMenuLinkContainer:hover img 
{
    
}

.ObjectMenuLinkContainer a 
{
	padding: 0;
	margin: 0;
	border: none;
}

.ObjectMenuLinkContainer img 
{
	width: 30px;
	height: 30px;
	border: none;
    vertical-align: middle;
}

.ObjectMenuSelectedItem 
{
    background: white;
    border:none !important;
    box-shadow:0px 0px 25px rgba(241, 34, 185, 0.6);
    margin-left:4px;
    margin-right:9px;
}

.ObjectMenuSelectedItem img 
{
    width: 32px;
    height: 32px;
}
/*-----------------------------------------------------*/

.AccMenuContainer
{	
}

.AccordionMenu
{
    float: left;
    width: 300px;
    margin-right: 20px;
}

.AccordionMenuItemContainer
{
    clear: both;
    min-height: 24px;
    overflow: inherit;
    padding: 10px 12px 10px 12px;
    margin: 0px;
	border-right: 1px solid #DDDDDD;
}

.AccordionMenuItemContainer img 
{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 6px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

/* maintain the order of the following items */

.AccordionMenuItemContainer .ImageLink  img
{
	opacity: 0.7;
}

.AccordionMenuSelectedItem .ImageLink  img
{
	opacity: 1.0;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.AccordionMenuItemContextMenu img,
.ToggleAccordionLinkContainer img
{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.AccordionMenuItemContextMenu img
{
	opacity: 0.7;
}

.AccordionMenuSelectedItem .AccordionMenuItemContextMenu img
{
	opacity: 1.0;
}

.ToggleAccordionLinkContainer img
{
	opacity: 0.7;
}

.AccordionMenuSelectedItem .ToggleAccordionLinkContainer img
{
	opacity: 1.0;
}

/* end order maintenance */


.AccordionMenuItem 
{
    float: left;
}

.AccordionMenuItemLink
{
   
}

.AccordionMenuItemContextMenu
{
    float: right; 
	margin-left: 4px
}

.AccordionMenuItemContextMenu img
{
    width: 16px;
    height: 16px;
}


.ToggleAccordionLinkContainer
{
   cursor: pointer;
   float: right;
}

.ToggleAccordionLinkContainer img
{
    width: 16px;
    height: 16px;
    transform: rotate(0deg);
	transition: all .15s;
}

.AccordionMenuSelectedItem .ToggleAccordionLinkContainer img 
{
    transform: rotate(90deg);
}

.AccordionMenuSelectedItem div.AccordionMenuSelectedItem 
{
	border: none;
}

.AccordionMenuContextMenuContainer
{
    display: none;
    position: absolute; 
    width: inherit;
    min-width: 150px;
    text-align: left;
    background: #fff;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px; 
    padding: 0px; 
    margin-top: 5px;
    z-index: 5000;
    box-shadow: 3px 3px 10px #AAAAAA;
}

.AccordionMenuContextMenuContainer a
{
    color: #666666;
}

.AccordionMenuContextMenuContainer div[id*="Link"]
{
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 8px 10px;
} 

.AccordionMenuContextMenuContainer div[id*="Link"]:hover
{
    background-color: #d6d6d6; 
} 

.AccordionMenuContextMenuContainer div[id*="Link"]:last-child
{
    border-bottom: 0;
} 

.AccordionMenuItemContentsContainer
{
    display: none;
    clear: both;
	padding-left: 29px;
	margin-bottom: 10px;
	font-size: .85em;
}

.AccordionMenuItemContentsContainer ol,
.AccordionMenuItemContentsContainer ul
{
    margin: 0;
    padding: 0;
}

.AccordionMenuItemContentsContainer ol
{
    list-style-type: decimal;
    margin-left: 13px;
}

.AccordionMenuItemContentsContainer ol li,
.AccordionMenuItemContentsContainer ul li
{
    margin-bottom: 3px;
}

.AccordionMenuItemContentsContainer img
{
    width: 16px;
    height: 16px;
}

.AccordionMenuSelectedItem,
.AccordionMenuSelectedItem:hover
{
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-right: none;
    box-shadow: -12px 0px 32px -8px #D0D0D0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.AccordionMenuSelectedItem .AccordionMenuContextMenuContainer a 
{
    color: #333333;
}

.AccordionShow 
{
    display: block;
	padding-top: 8px;
	padding-bottom: 14px;
	border-bottom: 1px solid #DDDDDD;
}

.AccordionMenuSelectedItem .AccordionShow 
{
    padding-bottom: 0px;
	border-bottom: none;
}

/* RESPONSIVE */

@media (max-width: 768px) 
{

    .AccordionMenu
    {
      float: inherit;
      margin-right: 0;
      padding-right: 2px;
      border-right: 1px solid rgb(204, 204, 204);
      height: 31px;
      padding: 5px;
      max-width: inherit;
      margin-bottom: 5px;
    }

    .LearningPathAccordionMenu
    {
      float: inherit;
      margin-right: 0;
      padding-right: 2px;
      border-right: 1px solid rgb(204, 204, 204);
      height: 31px;
      padding: 5px;
      max-width: inherit;
      margin-bottom: 5px;
    }

    .CourseAccordionMenu
    {
      float: inherit;
      margin-right: 0;
      padding-right: 2px;
      border-right: 1px solid rgb(204, 204, 204);
      height: 31px;
      padding: 5px;
      max-width: inherit;
      margin-bottom: 5px;
    }

    .StandupTrainingAccordionMenu
    {
      float: inherit;
      margin-right: 0;
      padding-right: 2px;
      border-right: 1px solid rgb(204, 204, 204);
      height: 31px;
      padding: 5px;
      max-width: inherit;
      margin-bottom: 5px;
    }

    .AccordionMenuItemContainer 
    {
      clear: none;
      margin-bottom: 10px;
      min-height: 32px;
      overflow: inherit;
      float: left;
      padding: 0;
    }

    .AccordionShow 
    {
        display: none;
    }

}

/* TYPE SPECIFICS */

/* Users */
.UserAccordionMenu
{
    float: left;
    width: 283px;
    margin-right: 5px;
    border: 1px solid rgb(204, 204, 204);
    padding: 5px;
    background: #FFFFFF;
}

/* Groups */
.GroupAccordionMenu
{
    float: left;
    width: 283px;
    margin-right: 5px;
    border: 1px solid rgb(204, 204, 204);
    padding: 5px;
    background: #FFFFFF;
}

/* Learning Path */
.LearningPathAccordionMenu
{
    float: left;
    width: 283px;
    margin-right: 5px;
    border: 1px solid rgb(204, 204, 204);
    padding: 5px;
    background: #FFFFFF;
}

/* Course */
.CourseAccordionMenu
{
    float: left;
    width: 283px;
    margin-right: 5px;
    border: 1px solid rgb(204, 204, 204);
    padding: 5px;
    background: #FFFFFF;
}

/* Standup Training */

.StandupTrainingAccordionMenu 
{
    float: left;
    width: 283px;
    margin-right: 5px;
    border: 1px solid rgb(204, 204, 204);
    padding: 5px;
    background: #FFFFFF;
}

.RedText 
{
    color: red;
}

.GreenText 
{
    color: green;
}

.ManageRosterLink 
{
    float: right;
    margin-left: 4px;
}

.FloatLeft 
{
    width: 80%;
    float: left;
}

.FloatRight 
{
    width: 15%;
    float: right;
}

.Parent 
{
    clear: both;
    display: inline-block;
    width: 100%;
}

/* End Standup Training */
