﻿.NewMessageContainer 
{
    background: #FFFFFF; 
    margin:0px; 
    padding: 15px; 
    border: 1px solid #A6A6A6; 
    margin-bottom: 30px;
    border-radius:14px;
}

.NewMessageAvatar 
{
    width: 32px; 
    height: 32px; 
    margin-right: 6px; 
    background-color: #999999; 
    display: inline-block; 
    float: left;
    border-radius:100%;
}
.NewMessageAvatar img { border-radius:100%; }

.NewMessageField 
{
    width: 78%; 
    margin-bottom: 5px;
}

.PostMessageButtonContainer 
{
    text-align: right;
    float:right;
    width:15%;
}
.PostMessageButtonContainer .Button { width:100%; padding:8px; }

.MessageContainer 
{
    background: #FFFFFF; 
    margin: 0px 0px 15px 0px; 
    padding: 15px; 
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius:14px;
}

.MessageHeaderContainer 
{
    padding-bottom: 5px; 
    height: 40px;
}

.MessageAvatar 
{
    width: 32px; 
    height: 32px; 
    margin-right: 6px; 
    background-color: #e0f2f5; 
    display: inline-block; 
    float: left; 
    margin-top: 3px;
    border-radius:100%;
}
.MessageAvatar img { border-radius:100%; }

.MessageSenderInformationContainer 
{
    display: inline-block; 
    float: left;
}

.MessageSenderNameContainer 
{
    font-weight: 700; 
    color: #4d82ae; 
    text-decoration: none;
}

.MessageSentDateTimeContainer 
{
    color: #999999; 
    margin: 2px 0; 
    font-size: .85em;
}

.MessageDataContainer 
{
    clear: both; 
    margin-bottom: 15px;
}

.MessageCommentContainer 
{
    padding: 6px 0; 
    clear: both; 
    border-top: 1px solid #E6E6E6;
}

.MessageCommentAvatar 
{
    width: 24px; 
    height: 24px; 
    margin-right: 6px; 
    background-color: #e0f2f5; 
    display: inline-block; 
    float: left; 
    margin-top: 4px;
    border-radius:100%;
}
.MessageCommentAvatar img { border-radius:100%; }

.MessageCommentDataContainer 
{
    display: inline-block; 
    width: calc(100% - 30px);
}

.MessageCommentData 
{
    font-size: .85em;
}

.MessageCommentSenderName 
{
    font-weight: 700; 
    color: #4d82ae; 
    text-decoration: none; 
    margin-right: 6px;
}

.MessageCommentTimestamp 
{
    color: #999999; 
    margin: 2px 0; 
    font-size: .75em;
}

.MessageReplyCommentContainer 
{
    padding-top: 12px; 
    clear: both; 
    border-top: 1px solid #E6E6E6;
}

.MessageReplyCommentAvatar 
{
    width: 24px; 
    height: 24px; 
    margin-right: 6px; 
    background-color: #e0f2f5; 
    display: inline-block; 
    float: left; 
    margin-top: 2px;
    border-radius:100%;
}
.MessageReplyCommentAvatar img { border-radius:100%; }

.MessageReplyCommentField 
{
    width:calc(100% - 60px);
}

.MessageActionButtonsContainer 
{
    float: right;
}

.MessageActionButtonsContainer div 
{
    display: inline; 
    margin: 2px;
}

.WallLoadingPanel 
{
    text-align: center;
}

.WallLoadingPanel img 
{
    vertical-align: middle; 
    margin-right: 6px;
}