﻿/*--- Course Catalog Page ---*/
#CatalogAvatar_Field_ImageContainer
{
    margin-bottom: 8px;
}

#catalogCostTypeContainer
{
    margin-left: 10px;
}

.closedDescription
{
    padding: 5px;
}

.closedDescription img
{
    margin-right: 6px;
}

.ckeditor #HtmlTextBox {
    width:95%;
}

#CatalogTreePanel /* MAIN PANEL */
{
}

.CatalogContentUpdatePanel { /* left side */
    float: left;
	width:40%;
	min-width:250px;
}

#rightPanel /* right side */
{
	float:left;
	width:60%;
}

#rightPanel .ActionLinks{
	margin-left:20px;
}

#rightPanel .ActionLinks ul{
	padding-left:0px;
}

#rightPanel .ActionLinks ul li.rightPanelListItem{
	margin-bottom:12px;
}

#CatalogTree.TreeView
{
	border-right: 4px solid #eee;
    /* border-right: 2px solid #aaaaaa; */
    padding-right: 5px;
    padding: 2px 6px;
}
