@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700); /* DROID SANS */
body{
	background-color: #f3f4f7;
    margin: 20px 40px 40px 40px;
    
}

body, input{
	font-family: 'open sans', tahoma;
	color:#666;
	font-size:1em;
}

.quiz {
	min-width:400px;
}

.title{
	font-size: 1.6em;
    font-weight: 200;
    margin-bottom: 12px;
    margin-left: 10px;
}

.questionContainer, .resultsContainer .results{
	border: 4px solid #c1c1c1;
    background-color:#fff;
	padding: 30px;
    margin-bottom: 20px;
    border-radius: 13px;
    box-shadow: 0px 0px 25px -12px #000;
	min-width:320px;
}

.questionContainer .heading, .resultsContainer .heading {
	font-size:1.4em;
	font-weight:200;
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
}
.questionContainer .heading span{
	float:right;
}

.feedbackContainer {
	transition:all .25s;
	padding-top:15px;
	min-height: 30px;
}

.feedbackContainer img{
	margin-top:-15px;
	float: left;
    height: 50px;
    width: 50px;
	margin-right:10px;
}

.feedbackContainer .text{
}

.feedbackContainer.off{
	display:none;
}

.feedbackContainer.hide{
	opacity: 0.2;
}

.choiceContainer {
	margin-bottom:4px;
}

.choiceContainer input{
	margin-right:10px;
	cursor:pointer;
}
.choiceContainer label{
	cursor:pointer;
}

.likertContainer{
	text-align:center;
}

.likertContainer .choiceContainer{
	text-align:center;
	margin: 0px 20px;
	display:inline-block;
}

.likertContainer .choiceContainer input{
	display:block;
	margin:auto;
	margin-bottom: 8px;
}

.feedbackContainer{
	margin-bottom:20px;
}

.submitContainer {
	margin-top: 20px;
	text-align:right;
	clear:both;
}

.submitContainer button img {
	height: 22px;
    vertical-align: middle;
    margin-right: 6px;
    margin-top: -4px;
    opacity: 0.3;
}

.navigationContainer {
	text-align:center;
	min-width:320px;
}

.navigationContainer button{
	whitespace:no-wrap;
	width: 100px;
}

.resultsContainer .statsContainer {
	margin:auto;
	margin-top:30px;
}

.resultsContainer .summaryText {
	width: 600px;
    margin: auto;
    margin-top: 30px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 30px;
	font-size: 1.5em;
    font-weight: 200;
}

.resultsContainer img {
    float: left;
    width: 100px;
    margin-left: 32px;
    border: 4px solid;
    padding: 14px;
    border-radius: 9px;
    box-shadow: 0px 0px 16px -7px #000;
}

.resultsContainer img.pass {
	border-color:#338321;
}

.resultsContainer img.fail {
	border-color:#bb2f0d;
}


.resultsContainer .your {
	margin-left:200px;
}

.resultsContainer .pct {
    font-family: 'droid sans';
    font-size: 6em;
    font-weight: 700;
    color: #bdbdbd;
    margin-top: -10px;
    margin-left: 200px;
    margin-bottom: -10px;
}

.resultsContainer .sps {
    margin-left: 200px;
    margin-bottom: 30px;
}

.resultsContainer .raw {
    font-size:.85em;
	margin-left: 200px;
}

.resultsContainer .summaryContainer {
    text-align:center;
	border-top: 1px solid #d8d8d8;
    padding-top: 14px;
}

.resultsContainer .summaryContainer .summaryBrief {
	font-weight:600;
}

.resultsContainer .summaryNavigationContainer {
	margin: auto;
    margin-top: 20px;
    text-align: center;
}

.resultsContainer .summaryNavigationContainer button{
	margin:20px;
	width:100px
}

img.CloseLessonButton{
	float: right;
    height: 28px;
    width: 28px;
    padding-right: 10px;
    padding-top: 5px;
	cursor:pointer;
    display: none;
}
/*

*/

body.modal {
	margin:0px;
}

body.modal .heading{
	background-color: #888faf;
    padding: 10px;
    color: #fff;
}

body.modal .message{
	margin: 20px 30px 30px 30px;
}

body.modal .navigation{
	margin: auto;
    text-align: center;
}

body.modal .navigation button{
	width: 100px;
}

button {
	margin:0px 10px;
	padding: 14px;
    background-color: #f3f3f3;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 1px 12px -6px #000;
    border-radius: 3px;
    font-family: 'droid sans';
    font-size: .95em;
    color: #666;
	cursor:pointer;
}
button:disabled{
	color:#d4d4d4;
	border-color: d4d4d4;
	cursor:inherit;
}
button:hover{
	background-color: #f9f9f9;
}
button[disabled]:hover {
    background-color:#f3f3f3;
}
button:active{
}


img.staged{
}

img.popin {
-webkit-animation:pop-in 0.2s;
-moz-animation:pop-in 0.2s;
-ms-animation:pop-in 0.2s;
}

@keyframes pop-in {
0% { opacity: 0;transform: scale(0.1); }
30% { opacity: 1;transform: scale(1.5); }
100% { opacity: 1;transform: scale(1); }
}
@-webkit-keyframes pop-in {
0% { opacity: 0;-webkit-transform: scale(0.1); }
30% { opacity: 1;-webkit-transform: scale(1.5); }
100% { opacity: 1;-webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
0% { opacity: 0;-moz-transform: scale(0.1); }
30% { opacity: 1;-moz-transform: scale(1.5); }
100% { opacity: 1;-moz-transform: scale(1); }
}

/*

LANGUAGE ADJUSTMENTS: Italian
*/

.it .navigationContainer button{
	width: 120px;
}