/* Message Grid Styles */

#MessageCenter_Inbox_TabPanel .GridTable .GridDataRow,
#MessageCenter_SentItems_TabPanel .GridTable .GridDataRow,
#MessageCenter_Drafts_TabPanel .GridTable .GridDataRow
{
    cursor: pointer;
}

/* "To" Field AutoComplete Box */
/* modified in ToAutoComplete_completionListElem style css for display the suggestion panel below the text box in
  autocomplete extender text box under compose message modal popup.*/

.RecipientAutoCompleteContainer
{
	position: absolute;
	background-color: #FFFFFF;
	left: 30px;
	top: 124px;
    max-width: calc(100% - 50px);
	max-height: 200px;
	z-index: 99999 !important;
	border: 1px solid #B1B9C3;
	overflow-y: scroll !important;
	overflow-x: hidden !important;
	margin: 0;
}

.RecipientAutoCompleteItem
{
    /*display:inline-flex;*/
    word-break: break-all;
    cursor: pointer;
	padding: 6px;
}

.RecipientAutoCompleteItem:hover
{
	background-color: #DFEDFB;
}

.RecipientAutoCompleteItem span
{
	margin-right: -30px;	
}

.RecipientAutoCompleteItem span img
{
	vertical-align: top;
	margin-top: 4px;
}

.RecipientAutoCompleteItem p
{
	display: inline-block;
	margin-left: 36px;
}


.AutoCompleteRecipientLabel
{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.AutoCompleteRecipientRow:hover {
    cursor: default; 
    background-color: lightgoldenrodyellow;
}

.AutoCompleteRecipientImageContainer 
{
    margin-right: 6px;
}


/* Threaded Message View Styles */

.ViewMessage {
    padding-bottom: 5px;
}

.CollapsibleContainer {
    border: 1px solid #DDDDDD;
    margin-bottom: 5px;
}

.ViewMessage .CollapsibleContainerTitle {
    cursor: pointer;
}

.ViewMessage .CollapsibleContainerTitle div {
    padding-top: 5px;
    padding-left: 10px;
}

.ViewMessage .CollapsibleContainerTitle .ThreadMessageName {
    width: inherit;
    display: inline-block;
}

.ViewMessage .CollapsibleContainerContent {
    padding: 10px;
    padding-left: 10px;
}

.ViewMessage .CollapsibleContainer .ui-widget {
    font-size: 1.1em;
}

.ViewMessage .CollapsibleContainer .ui-widget-header {
    border-top: 0;
    background: #F6F6F6;
    font-weight: 700;
    font-size: 13px;
    height: inherit;
}

.ViewMessage .CollapsibleContainer .ui-widget-content {
    background: #FFFFFF;
}

#ThreadedMessageContainer .CollapsibleContainerContent.ui-widget-content p {
    font-size: 14px;
}

.ViewMessage .CollapsibleContainer .ui-widget-header:hover {
    background: #C7E6F7;
}

.ViewMessage .CollapsibleContainerTitle .ThreadMessageSubject {
    font-weight: normal;
    display: inline-block;
}

.ViewMessage .CollapsibleContainerTitle .ThreadMessageTime {
    font-weight: normal;
    display: inline-block;
    font-size: 12px;
    padding: 5px 5px 5px 10px;
    color: #999999;
}
