/* Image File Editor */

#ImageFileTreeContainer {
	display: inline-flex;
	min-height: 415px;
	max-height: 415px;
	overflow: scroll;
    margin-bottom: 15px;
    border: 1px solid #BDBDBD;
}

#ImageFileTree a img[src^="/_config/"] {
  width: 24px;
  height: 24px;
  margin-right:6px;
}

#ImageFileTreeContainer a[href="#ImageFileTree_SkipLink"] img
{
    display: none;
}

#ImageFileTreePanel
{
    margin: 10px 4px;
}

#ImageFileTree table tbody td 
{
	padding-bottom: 8px;
}

#ImageFileEditWrapperContainer
{
	float: right;
    display: inline-flex;
    min-height: 410px;
    max-height: 410px;
}

#ImageFileEditContainer 
{  
	padding-left: 15px;
	overflow: hidden;
}

#ImageEditorEditorLabelPanel
{
	margin-bottom: 5px;
	font-size: 1.2em;
	color: #808080;
}

#ImageFilePreviewContainer,
#ImageSelectionPanel
{
    margin-bottom: 20px;
}

#ImageFilePreviewContainer img
{
	padding: 20px;
    margin: 20px;
    border: 1px solid #8E8E8E;
    box-shadow: 0px 0px 40px -8px #868686;
    border-radius: 3px;
    background-image: url('/_images/transparency-bg.png');
}

.ActionsPanel
{
    padding-left: 0;
}

@media (max-width: 768px) {


	#ImageFileEditWrapperContainer
    {
	    float: none;        
    }


}