/* Layout Editor */
#EditableLayoutPanel
{
	padding: 5px;
    border-radius: 3px;
    background: #333333;
    color: #FFFFFF;
}

#Editor_TopBorderContainer
{
	margin: 3px 0px;
	padding: 5px 10px;
	border: 2px solid #333333;
	color: #FFFFFF;
}

#Editor_TopBorderColumnLeft
{
	width: 49%;
	height: 27px;
	line-height: normal;
	border: 2px dashed #FFFFFF;
}

#Editor_TopBorderColumnRight
{
	width: 49%;
	height: 27px;
	line-height: normal;
	border: 2px dashed #FFFFFF;
	text-align: right;
}

#Editor_MastheadContainer
{
	height: 75px;
	margin: 3px 0px;
	padding: 5px 10px;
	border: 2px solid #333333;
	color: #FFFFFF;
}

#Editor_MastheadColumnLeft
{
	width: 49%;
	height: 70px;
	border: 2px dashed #FFFFFF;
}

#Editor_MastheadColumnRight
{
	width: 49%;
	height: 70px;
	border: 2px dashed #FFFFFF;
	text-align: right;
}

#Editor_NavigationContainer
{
	overflow: hidden;	
	margin: 3px 0px;
	padding: 5px 10px;
	border: 2px solid #333333;
	color: #FFFFFF;
}

#Editor_NavigationColumnLeft
{
	width: 49%;
	height: 32px;
	float: left;
	border: 2px dashed #FFFFFF;
}

#Editor_NavigationColumnRight
{
	width: 49%;
	height: 32px;
	float: right;
	border: 2px dashed #FFFFFF;
	text-align: right;
}

#Editor_BreadcrumbContainer
{
	clear: both;
	overflow: hidden;
	height: 20px;
	margin: 3px 0px;
	padding: 5px 10px;
	border: 2px solid #333333;
	background: #FFFFFF;
	color: #333333;
}

#Editor_BreadcrumbColumnLeft
{
	width: 49%;
	height: 17px;
	float: left;
	border: 2px dashed #333333;
}

#Editor_BreadcrumbColumnRight
{
	width: 49%;
	height: 17px;
	float: right;
	border: 2px dashed #333333;
	text-align: right;
}

#Editor_ContentContainer
{
	overflow: hidden;
	height: 300px;
	min-height: 0px;
	margin: 3px 0px;
	border: 2px solid #333333;
	background: #FFFFFF;
	color: #333333;
}

#Editor_MasterContentTableLeft
{
	width: 20%;
	height: 295px;
	border: 2px dashed #333333;
}

#Editor_MasterContentTableMiddle
{
	width: 60%;
	height: 295px;
	border: 2px dashed #333333;
}

#Editor_MasterContentTableRight
{
	width: 20%;
	height: 295px;
	border: 2px dashed #333333;
}

#Editor_FooterContainer
{
	height: 50px;
	border: 2px solid #333333;
	color: #FFFFFF;
}

#Editor_FooterColumnLeft
{
	width: 49%;
	height: 45px;
	float: left;
	border: 2px dashed #FFFFFF;
}

#Editor_FooterColumnRight
{
	width: 49%;
	height: 45px;
	float: right;
	border: 2px dashed #FFFFFF;
	text-align: right;
}

.LayoutEditableContainer:hover
{
    cursor: move;
    /*border: 2px solid #FFFFFF;*/
}

.DraggableItem:hover
{
    cursor: move;
    background: #666666;
    color: #FFFFFF;
}

.Editor_ContainerElementSpan
{
	margin-left: 10px;
	margin-right: 10px;
}