.StandardTable {
    width: 100%;
}

.StandardTable tr td {
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.colorpicker input {
    top: 0px !important;
    height:initial !important;
}
