#CourseLessonsGridUpdatePanel {
    overflow: auto;
}


@media (max-width: 480px)
{
    #CourseLessonsGridUpdatePanel {
        overflow: initial;
    }
}

/* COURSE INFORMATION PANEL */

.CourseInformationContainer {
    float: left;
    margin-right: 1%;
    width: 45%;
    padding-left: 4px;
    padding-right: 4px;
}

.DetailsViewBasicInformationContainer
{
    display: table;
    clear: both;
    margin-bottom: 20px;
}

.DetailsViewInlineInformationWrapperContainer 
{
    border-left: 1px solid #DDDDDD;
    display: table-cell;
    vertical-align: bottom;
    padding: 3px 10px;
}

.DetailsViewInlineInformationWrapperContainer:first-of-type
{
    border-left: none;
    padding-left: 0px;
}

.DetailsViewSectionContainer
{
    display: table; 
    clear: both; 
    margin-bottom: 20px;
}

.DetailsViewSectionLabel
{
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 15px;
}

.DetailsViewSectionContentContainer
{
    margin-left: 10px;
}

.DetailsViewListItemContainer
{
    margin-bottom: 5px;
}

#CourseWallLink img
{
    margin-right: 0px;
}

/* LESSON DATA GRID */

.EnrolledStandupTrainingInstanceTitleLinkContainer {
    padding-top: 3px;
    padding-left: 15px;
    font-size: .90em;
}

.EnrolledStandupTrainingInstanceTitleLinkContainer a {
    margin-right: 6px;
}

.EnrolledStandupTrainingInstanceTitleLinkContainer img {
    vertical-align: top;
}

.MultipleContentMethodLaunchImage {
    cursor: pointer;
}

.MultipleContentMethodLaunchItemContainer {
    margin-top: 5px;
    margin-left: 13px;
    display: none;
    position: fixed;
    padding: 0;
    background: #fff;
    border: 1px solid rgb(204, 204, 204);
    border-top: 0;
    z-index: 5000;
    cursor: default;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.MultipleContentMethodLaunchItemContainer a {
    border-bottom: 1px solid rgb(204, 204, 204);
    display: block;
    padding: 5px 5px;
    min-width: 40px;
}

.MultipleContentMethodLaunchItemContainer a:hover {
    background: #e0e0e0;
}

/* ENROLL IN STANDUP TRAINING MODAL */

#EnrollInStandupTrainingDetailsPanel {
    margin-bottom: 20px;
}

.SelectStandupTrainingTitleContainer {
    font-size: 1.25em;
}

.SelectStandupTrainingDescriptionContainer {
    margin-bottom: 20px;
}

#AvailableStandupTrainingSessionsListingPanel {
    max-height: 300px;
    overflow-x: auto;
    overflow-y: scroll;
    border: 1px solid #d1d1d1;
    padding: 5px;
}

.SelectStandupTrainingSessionTitleContainer {
    font-weight: 700;
}

#EnrolledStandupTrainingSessionInformationPanel .SelectStandupTrainingSessionTitleContainer {
    font-size: 1.20em;
    margin-bottom: 10px;
}

.SelectStandupTrainingPropertyContainer {
    margin-left: 19px;
    font-size: 0.85em;
}

.SelectStandupTrainingAvailableSeatsLabel {
    color: #009900;
}

.SelectStandupTrainingInstructorContainer,
.SelectStandupTrainingMeetingTimeContainer {
    margin-left: 34px;
    font-size: 0.85em;
}

/* TASK MODAL */

#TaskModal_ModalInstructions {
    margin-bottom: 15px;
}

#TaskModal_TaskResourceLabelContainer, #TaskModal_UploadTaskLabelContainer {
    margin-bottom: 5px;
}

#TaskModal_TaskResourceLinkContainer, #TaskModal_UploadedTaskContainer, #TaskModalUploaderPanel {
    margin-bottom: 20px;
}

#TaskModal_UploadedTaskContainer img {
    margin-left: 6px;
}