#AuthorizeNetPublicKey_Field,
#ChargeDescription_Field
{
    width: 575px;
}

.EcommerceVerifiedText
{
    text-transform: uppercase;
    font-weight: 700;
    color: #68A968;
}

.EcommerceNotVerifiedText
{
    text-transform: uppercase;
    font-weight: 700;
    color: #C75A5A;
}

.VerificationButtonContainer
{
    margin-top: 10px;
}

#CardAcceptanceControls_InputContainer div.ToggleInput
{
    display: inline-block;
}

#CardAcceptanceControls_InputContainer input 
{
    margin: -1px;
    padding: 0;
}

#CardAcceptanceControls_InputContainer img:hover 
{
    opacity: 1.0;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

#CardAcceptanceControls_InputContainer input:checked + label img 
{
    opacity: 1.0;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

#CardAcceptanceControls_InputContainer label img 
{
    opacity: 0.3;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    cursor: pointer;
}

#CardAcceptanceControls_InputContainer input[type="checkbox"] 
{
    display: none;
}